@rem:46.875rem;
.wrap { 
    // position: relative; 
    width: 100vh;
    height: 100vh;

    // // display: flex;
    overflow-x: hidden;
    overflow-y: scroll;
}
.content { 
    // background-color: aqua;
    width: 747/@rem;
    height: auto;
    margin-bottom: 10px;
    border:1px solid #585858;
    border-radius: 10px;
    overflow: hidden;
}
.head { 
    width: 750/@rem;
    height: 50/@rem;
    line-height: 42/@rem;
    height: auto;
    font-size: 26/@rem;
    padding-left: 20/@rem;
    padding-bottom: 10/@rem;
    background-color: rgb(242, 245, 255);
}
.title { 
    // background-color: rgb(155, 145, 154);
    width: 750/@rem;
    height: auto;
    
}
.left { 
    width: 750/2/@rem;
    height: auto;
}
.left_1 {
    // background-color: rgb(212, 37, 195);
    width:38%;
}
.left_1 .item {
    // background-color: rgb(32, 114, 161);
    height: 51.5/@rem;
    line-height: 55.5/@rem;
    // width:50%;
    font-size: 26/@rem;
    padding-left: 5px;
    border-top:1px solid #dedede;
    border-left:1px solid #dedede;
    border-right:1px solid #dedede;
}
.left_2 {
    // background-color: rgb(212, 37, 195);
    width:62%;
}
.left_2 .item {
    // background-color: rgb(32, 114, 161);
    height: 51.7/@rem;
    line-height: 55.5/@rem;
    // width:50%;
    font-size: 26/@rem;
    padding-left: 5px;
    border-top:1px solid #dedede;
    border-left:1px solid #dedede;
    border-right:1px solid #dedede;
}
.right { 
    width: 750/2/@rem;
    height: auto;
}
