.window {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.7);
  z-index: 9;
  display: none;
  align-items: center;
  justify-content: center;
}
.wrap {
  width: 100vh;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}
.menu {
  position: fixed;
  width: 15.872rem;
  height: 1.49333333rem;
  z-index: 100;
  background-color: #1e7dfa;
  border-radius: 0 0 10px 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), -2px -2px 4px rgba(255, 255, 255, 0.5);
  border: 0.8px solid #ccc;
}
.niceButton {
  display: inline-block;
  padding: 0.17066667rem 0.53333333rem;
  font-size: 0.46933333rem;
  font-weight: bold;
  width: 22%;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #1e7dfa;
  background-color: #ddfd29;
  border: none;
  border-radius: 0.32rem;
  box-shadow: 0 0.192rem #999999;
}
.niceButton:hover {
  background-color: #eeea0f;
}
.niceButton:active {
  background-color: #eeea0f;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.space {
  margin-top: 1.92rem;
}
.category {
  width: 15.872rem;
  font-weight: bold;
  font-size: 0.64rem;
  display: block;
  text-align: center;
}
.category:nth-of-type(0) {
  margin-top: 100px;
}
.content {
  width: 15.872rem;
  height: auto;
  margin-bottom: 25px;
  border: 1px solid #b3b3b3;
  border-radius: 10px;
  overflow: hidden;
}
.shadow {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), -2px -2px 4px rgba(255, 255, 255, 0.5);
  border: 1px solid #ccc;
}
.head {
  width: 15.872rem;
  height: 1.06666667rem;
  line-height: 0.896rem;
  height: auto;
  font-size: 0.512rem;
  padding-top: 0.21333333rem;
  padding-left: 0.21333333rem;
  padding-bottom: 0.21333333rem;
  background-color: #f2f5ff;
}
.title {
  width: 15.872rem;
  height: auto;
}
.left {
  width: 7.936rem;
  height: auto;
}
.left_1 {
  width: 38%;
}
.left_1 .item {
  height: 1.09866667rem;
  line-height: 1.19466667rem;
  font-size: 0.512rem;
  padding-left: 0.10666667rem;
  border-top: 1px solid #dedede;
  border-right: 1px solid #dedede;
  background-color: #fcfcfc;
}
.left_2 {
  width: 62%;
}
.left_2 .item {
  height: 1.09866667rem;
  line-height: 1.19466667rem;
  font-size: 0.512rem;
  padding-left: 0.10666667rem;
  border-top: 1px solid #dedede;
  border-right: 1px solid #dedede;
  background-color: #fcfcfc;
}
.right {
  width: 7.936rem;
  height: auto;
}
