.window {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.7);
  z-index: 9;
  display: none;
  align-items: center;
  justify-content: center;
}
.wrap {
  width: 100vh;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}
.category {
  width: 15.91466667rem;
  font-weight: bold;
  font-size: 0.64rem;
  display: block;
  text-align: center;
}
.content {
  width: 15.91466667rem;
  height: auto;
  margin-bottom: 15px;
  border: 1px solid #b3b3b3;
  border-radius: 10px;
  overflow: hidden;
}
.shadow {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), -2px -2px 4px rgba(255, 255, 255, 0.5);
  border: 1px solid #ccc;
}
.head {
  width: 15.91466667rem;
  height: 1.06666667rem;
  line-height: 0.896rem;
  height: auto;
  font-size: 0.55466667rem;
  padding-top: 0.21333333rem;
  padding-left: 0.21333333rem;
  padding-bottom: 0.21333333rem;
  background-color: #f2f5ff;
}
.title {
  width: 15.91466667rem;
  height: auto;
}
.left {
  width: 7.95733333rem;
  height: auto;
}
.left_1 {
  width: 38%;
}
.left_1 .item {
  height: 1.09866667rem;
  line-height: 1.19466667rem;
  font-size: 0.53333333rem;
  padding-left: 0.10666667rem;
  border-top: 1px solid #dedede;
  border-right: 1px solid #dedede;
  background-color: #fcfcfc;
}
.left_2 {
  width: 62%;
}
.left_2 .item {
  height: 1.09866667rem;
  line-height: 1.19466667rem;
  font-size: 0.53333333rem;
  padding-left: 0.10666667rem;
  border-top: 1px solid #dedede;
  border-right: 1px solid #dedede;
  background-color: #fcfcfc;
}
.right {
  width: 7.95733333rem;
  height: auto;
}
