<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>超量提醒参数标准</title>
    <link rel="stylesheet" href="__STATIC__/admin/css/flex.css">
    <link rel="stylesheet" href="__STATIC__/ok/css/oksub.css">
    <script type="text/javascript" src="__STATIC__/ok/js/xm-select.js"></script>
    <style>
        body {
            overflow: hidden;
        }        
        .layui-table-cell {
            font-size: 12px;
            padding: 0 5px;
            height: auto;
            /*text-align: left;*/
        }

        .ok-form {
            margin-top: 5px;
        }

        .layui-btn+.layui-btn {
            margin-left: 3px;
        }

        .layui-form-item {
            margin-bottom: 0px;
            height: 30px;
        }

        .layui-input,
        .layui-select,
        .layui-textarea {
            height: 32px;
        }

        .layui-form-pane .layui-form-label {
            height: 32px;
            line-height: 15px;
        }

        .layui-form-select dl dd,
        .layui-form-select dl dt {
            line-height: 32px;
        }

        .layui-form-select dl {
            padding: 0px 0;
        }

        .layui-table th {
            font-weight: bolder;
        }

        .layui-form-pane .layui-form-label {
            text-align: right;
        }

        .layui-laypage .layui-laypage-curr .layui-laypage-em {
            background-color: #ffcc00;
            color: #666
        }

        .layui-colorpicker {
            width: 30px;
            height: 10px;
            line-height: 30px;
            padding: 0px;
        }
        

        .layui-table-cell{
            height:auto;
            overflow:visible;
            text-overflow:inherit;
        }
        /* .layui-unselect .layui-form-select {
            width: 80px !important;
        }  */
        .layui-col-md1 {
            width: 11.333% !important;
        }
        .layui-form-label {
            width: 130px !important;
            padding-left: 0 !important;
        }

        .layui-input-inline {
            width: 40px;
        }

        .cima {
            height:18px; 
            line-height:18px;
        }

        th[data-field="4"][data-key="1-0-4"] {
            background-color: #2e9574 !important;
            color:#ffffff;
        }
        th[data-field="单码量合计"][data-key="1-1-11"] {
            background-color: #2e9574 !important;
            color:#ffffff;
        }
        th[data-field="5"][data-key="1-0-5"] {
            background-color: #c5aa2a !important;
            color:#ffffff;
        }
        th[data-field="周转合计"][data-key="1-1-23"] {
            background-color: #c5aa2a !important;
            color:#ffffff;
        }
    </style>
</head>
<body>
    <div style="height:3px; width:100%;"></div>
    <div class="layui-col-md12 layui-col-space8" style="background-color: #ffffff;">
        <form class="layui-form layui-form-pane ok-form layui-col-space8">
            <div class="flex row end between">
                <div class="flex col between al-start " style="width:95%; height: 105px;">
                    <div class="layui-col-md12 layui-col-sm12 layui-col-space5">
                        <div class="layui-form-item">
                            <label class="layui-form-label" style="width: 40px !important; text-align: left; overflow: visible;">折率</label>
                            <div class="layui-input-inline" style="width: 80px !important;">
                                <input type="number" name='折率' autocomplete="off" value="{$config['折率']}" placeholder="1"
                                    class="layui-input" lay-verify="required">
                            </div> 
                            <label class="layui-form-label" style="width: 80px !important; text-align: left; overflow: visible;">短T 零售></label>
                            <div class="layui-input-inline" style="width: 80px !important;">
                                <input type="number" name='短T' autocomplete="off" value="{$config['短T']}" maxlength="4" placeholder="0"
                                    class="layui-input" lay-verify="required">
                            </div> 
                            <label class="layui-form-label" style="width: 100px !important; text-align: left; overflow: visible;">休闲短衬 零售></label>
                            <div class="layui-input-inline" style="width: 80px !important;">
                                <input type="number" name='休闲短衬' autocomplete="off" value="{$config['休闲短衬']}" maxlength="4" placeholder="0"
                                    class="layui-input" lay-verify="required">
                            </div> 
                            <label class="layui-form-label" style="width: 100px !important; text-align: left; overflow: visible;">休闲短裤 零售></label>
                            <div class="layui-input-inline" style="width: 80px !important;">
                                <input type="number" name='休闲短裤' autocomplete="off" value="{$config['休闲短裤']}" maxlength="4" placeholder="0"
                                    class="layui-input" lay-verify="required">
                            </div> 
                            <label class="layui-form-label" style="width: 100px !important; text-align: left; overflow: visible;">松紧短裤 零售></label>
                            <div class="layui-input-inline" style="width: 80px !important;">
                                <input type="number" name='松紧短裤' autocomplete="off" value="{$config['松紧短裤']}" maxlength="4" placeholder="0"
                                    class="layui-input" lay-verify="required">
                            </div> 
                            <label class="layui-form-label" style="width: 100px !important; text-align: left; overflow: visible;">牛仔短裤 零售></label>
                            <div class="layui-input-inline" style="width: 80px !important;">
                                <input type="number" name='牛仔短裤' autocomplete="off" value="{$config['牛仔短裤']}" maxlength="4" placeholder="0"
                                    class="layui-input" lay-verify="required">
                            </div> 
                            <label class="layui-form-label" style="width: 100px !important; text-align: left; overflow: visible;">休闲长裤 零售></label>
                            <div class="layui-input-inline" style="width: 80px !important;">
                                <input type="number" name='休闲长裤' autocomplete="off" value="{$config['休闲长裤']}" maxlength="4" placeholder="0"
                                    class="layui-input" lay-verify="required">
                            </div> 
                        </div>  
                    </div>

                    <div class="layui-col-md12 layui-col-sm12 layui-col-space5">
                        <div class="layui-form-item">
                            <label class="layui-form-label" style="width: 100px !important; text-align: left; overflow: visible;">牛仔长裤 零售></label>
                            <div class="layui-input-inline" style="width: 80px !important;">
                                <input type="number" name='牛仔长裤' autocomplete="off" value="{$config['牛仔长裤']}" maxlength="4" placeholder="0"
                                    class="layui-input" lay-verify="required">
                            </div> 

                            <label class="layui-form-label" style="width: 100px !important; text-align: left; overflow: visible;">松紧长裤 零售></label>
                            <div class="layui-input-inline" style="width: 80px !important;">
                                <input type="number" name='松紧长裤' autocomplete="off" value="{$config['松紧长裤']}" maxlength="4" placeholder="0"
                                    class="layui-input" lay-verify="required">
                            </div> 
                            <label class="layui-form-label" style="width: 80px !important; text-align: left; overflow: visible;">季节归集</label>
                            <div class="layui-input-inline" style="width: 250px !important;">
                                <div id="xm-season" class="xm-select-demo"></div>
                            </div>
                            <label class="layui-form-label" style="width: 100px !important; text-align: left; overflow: visible;">周转参数</label>
                            <div class="layui-input-inline" style="width: 80px !important;">
                                <input type="number" name='周转参数' autocomplete="off" value="{$config['周转参数']}" maxlength="4" placeholder="0"
                                    class="layui-input" lay-verify="required">
                            </div> 
                            <label class="layui-form-label" style="width: 100px !important; text-align: left; overflow: visible;">倍率参数</label>
                            <div class="layui-input-inline" style="width: 80px !important;">
                                <input type="number" name='倍率参数' autocomplete="off" value="{$config['倍率参数']}" maxlength="4" placeholder="0"
                                    class="layui-input" lay-verify="required">
                            </div> 
                            <label class="layui-form-label" style="width: 100px !important; text-align: left; overflow: visible;">季末周转</label>
                            <div class="layui-input-inline" style="width: 80px !important;">
                                <input type="number" name='季末周转' autocomplete="off" value="{$config['季末周转']}" maxlength="4" placeholder="0"
                                    class="layui-input" lay-verify="required">
                            </div> 
                        </div>  
                    </div>

                    <div class="layui-col-md12 layui-col-sm12 layui-col-space5">
                        <div class="layui-form-item">
                            <label class="layui-form-label" style="width: 100px !important; text-align: left; overflow: visible;">单码可用</label>
                            <div class="layui-input-inline" style="width: 80px !important;">
                                <input type="number" name='单码可用' autocomplete="off" value="{$config['单码可用']}" maxlength="4" placeholder="0"
                                    class="layui-input" lay-verify="required">
                            </div> 

                            <label class="layui-form-label" style="width: 100px !important; text-align: left; overflow: visible;">总码可用</label>
                            <div class="layui-input-inline" style="width: 80px !important;">
                                <input type="number" name='总码可用' autocomplete="off" value="{$config['总码可用']}" maxlength="4" placeholder="0"
                                    class="layui-input" lay-verify="required">
                            </div> 

                            <label class="layui-form-label" style="width: 80px !important; text-align: left;">周销</label>
                            <div class="layui-input-inline" style="width: 100px !important;">
                                <select id="zhouxiao_id" name="周销" lay-verify="">
                                    <option value="sjp_yizhou">一周销</option>
                                    <option value="sjp_liangzhou">两周销</option>
                                </select>
                            </div>
                        </div>  
                    </div>
                </div>
                <div class="flex col between al-end" style="width:18%; height:105px;">
                    <button lay-submit class="layui-btn layui-btn-sm" lay-filter="saveMap"
                    style="background-image: -webkit-linear-gradient(left,#ffcc00,#ffcc00);letter-spacing:1px;color: #0051ff; line-height: 25px; float:right;">保存条件
                    </button>
                    <div class="flex row between" style="width: 240px;">
                        <!-- <button id="importExcel" style="display:none;">【导入】调拨申请单</button> -->
                        <button lay-submit class="layui-btn layui-btn-sm" lay-filter="downloadDefault"
                        style="background-image: -webkit-linear-gradient(left,#ffffff,rgb(233, 16, 45));letter-spacing:1px;color: #f5f6f7; line-height: 25px; float:right;">下载模板
                        </button>
                        <button lay-submit class="layui-btn layui-btn-sm" lay-filter="downloadCurrent"
                        style="background-image: -webkit-linear-gradient(left,#ffffff,rgb(41, 87, 240));letter-spacing:1px;color: #f5f6f7; line-height: 25px; float:right;">导出当前
                        </button>
                        <button id="importExcel" lay-submit class="layui-btn layui-btn-sm" lay-filter="uploadExcel"
                        style="background-image: -webkit-linear-gradient(left,#ffffff,rgb(7, 199, 183));letter-spacing:1px;color: #0879bb; line-height: 25px; float:right;">导入模板
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- 内容 -->
    <div style="border: 0px solid red; float: left; width: 100%; margin-top: 20px;">
        <table class="layui-hide" id="table" lay-filter="table">
            <div style="text-align: center; color:#0051ff;">参数标准 <a class="dateStr"></a></div>
        </table>
        <div id="page"></div>
    </div>
</body>
</html>

<script src="__STATIC__/ok/lib/layui/layui.js"></script>
<script type="text/javascript" src="__STATIC__/ok/js/watermark.js"></script>
<!-- -->
<script type="text/html" id="toolbar1">
    <div class="layui-btn-container">
      <button class="layui-btn layui-btn-sm" lay-event="download">【导出】整体情况</button>
      <!-- <button class="layui-btn layui-btn-sm" lay-event="delete">删除</button>
      <button class="layui-btn layui-btn-sm" lay-event="update">编辑</button> -->
    </div>
</script>
<script>
    watermark({ "watermark_txt": '南昌索歌服饰' });
    layui.use(['form', 'jquery', 'layer', 'table', 'laydate', 'laypage', 'upload'], function () {
        let form = layui.form
            , $ = layui.$
            , layer = layui.layer
            , table = layui.table
            , laydate = layui.laydate
            , laypage = layui.laypage
            , upload = layui.upload
            , url1 = "{:url('admin/system.Chaoliang/biaozhun')}" 
            , url_upload = "{:url('admin/system.Chaoliang/upload')}" 
            , url_saveMap = "{:url('admin/system.Chaoliang/saveMap')}"  
            , url_download_default = "{:url('admin/system.Chaoliang/downloadDefault')}" 
            , url_download_current = "{:url('admin/system.Chaoliang/downloadCurrent')}" 
            , url_getXmMapSelect = "{:url('admin/system.Chaoliang/getXmMapSelect')}"
            , getConfigMapData = "{:url('admin/system.Chaoliang/getConfigMapData')}"

        initFn(); 
        startTable();
        
        //监听保存
        form.on('submit(saveMap)', function (res) {
            $.post(url_saveMap, res.field, function(res) {
                if (res.status) {
                    layer.msg(res.msg, {time: 2000, icon:1});
                } else {
                    layer.msg(res.msg, {time: 2000, icon:2});
                }
            }, 'json');
            return false;
        });
        // 上传
        $("#importExcel").click(function() {
            // console.log(111);
            return false;
        });
        xmSelect.render({
            el: '#xm-season', 
            filterable: true,
            toolbar: {show: true},
            theme: {
                color: '#1cbbb4',
            },
            // showCount: 1,
            name:'季节归集',
            data: [
                {name: "春季", value: "春季", selected: false},
                {name: "夏季", value: "夏季", selected: false},
                {name: "秋季", value: "秋季", selected: false},
                {name: "冬季", value: "冬季", selected: false},
            ]
        })
        //指定允许上传的文件类型
        upload.render({
            elem: '#importExcel'
            ,url: url_upload //此处配置你自己的上传接口即可
            ,accept: 'file' //普通文件
            ,before: function () {
            //开始加载效果
                layui.use('layer', function () {
                    layui.layer.load();
                    //console.log(Lodingindex) opacity
                    $(".layui-layer-shade").css('background', '#000000')
                    $(".layui-layer-shade").css('opacity', '0.2')
                    $(".layui-layer-shade").click(function (event) {
                        event.stopPropagation();
                    })
                })
            }
            ,error: function() {
                //上传成功结束加载效果
                layui.use('layer', function () {
                    setTimeout(function () {
                        layui.layer.closeAll();
                    }, 2000);
                });
            }
            ,done: function(res) {
                table.reload('table', {
                    method: 'get'
                    , url: url1
                    , loading: true
                    , page: false
                    // , limit: data.field.limit
                })

                // layer.msg(res.msg);
                //上传成功结束加载效果
                layui.use('layer', function () {
                    setTimeout(function () {
                        layui.layer.closeAll();
                    }, 2000);
                });
                if (res.code != 0) {
                    alert('上传失败！' + res.msg);
                } else {
                    alert('上传成功');
                }
            }
        });
        form.on('submit(downloadDefault)', function (data) {
            location.href = url_download_default;
            return false; 
        });
        form.on('submit(downloadCurrent)', function (data) {
            location.href = url_download_current;
            return false; 
        });
        function initFn() {
            $.get(getConfigMapData, {}, function(res) {
                xmSelect.render({
                    el: '#xm-season', 
                    filterable: true,
                    toolbar: {show: true},
                    theme: {
                        color: '#1cbbb4',
                    },
                    // showCount: 1,
                    name:'季节归集',
                    data: res.data.season
                })
            })
            $("#season_id").val("{$config['季节归集']}");
            $("#zhouxiao_id").val("{$config['周销']}");
            form.render();
            form.render();
        }
        function startTable() {
            table.render({
                elem: '#table'
                ,url: url1
                , loading: true
                , method: 'post'
                // , toolbar: '#toolbar1'
                , toolbar: false
                , page: false
                , limit: 1000
                , limits: [500, 1000, 5000, 10000, 20000]
                , height: 710
                , cellMinWidth: 60 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
                , cols: [[
                    { field: '风格', title: '风格', fixed: 'left', align: 'center' ,rowspan: 5, width: '5%'}
                    , { field: '店铺等级', title: '店铺等级', fixed: 'left' ,align: 'center' ,rowspan: 5, width: '5%'}
                    , { field: '一级分类', title: '大类', fixed: 'left' ,align: 'center' ,rowspan: 5, width: '5%'}
                    , { field: '二级分类', title: '中类', fixed: 'left', align: 'center' ,rowspan: 5, width: '5%'}
                    , { title: '单码量', align: 'center' ,colspan: 12}
                    , { title: '周转', align: 'center' ,colspan: 12}
                    ],
                    [{ title:  `<div class="flex col around">
                                 <div class="cima">28</div>
                                 <div class="cima">44</div>
                                 <div class="cima">37</div>
                                 <div class="cima">S</div>
                               </div>`, field:'单码量00/28/37/44/100/160/S', align: 'center',colspan: 1, rowspan: 1, width: '3.33%'}
                    ,{ title: `<div class="flex col around">
                                 <div class="cima">29</div>
                                 <div class="cima">46</div>
                                 <div class="cima">38</div>
                                 <div class="cima">S</div>
                                </div>`, field:'单码量29/38/46/105/165/M', align: 'center',colspan: 1, rowspan: 1, width: '3.33%'}
                    ,{ title:  `<div class="flex col around">
                                 <div class="cima">30</div>
                                 <div class="cima">48</div>
                                 <div class="cima">39</div>
                                 <div class="cima">L</div>
                                </div>`, field:'单码量30/39/48/110/170/L', align: 'center',colspan: 1, rowspan: 1, width: '3.33%'}
                    ,{ title:  `<div class="flex col around">
                                <div class="cima">31</div>
                                <div class="cima">50</div>
                                <div class="cima">40</div>
                                <div class="cima">XL</div>    
                                </div>`, field:'单码量31/40/50/115/175/XL', align: 'center',colspan: 1, rowspan: 1, width: '3.33%'}
                    ,{ title: `<div class="flex col around">
                                <div class="cima">32</div>
                                <div class="cima">52</div>
                                <div class="cima">41</div>
                                <div class="cima">2XL</div>    
                                </div>`, field:'单码量32/41/52/120/180/2XL', align: 'center',colspan: 1, rowspan: 1, width: '3.33%'}
                    ,{ title: `<div class="flex col around">
                                <div class="cima">33</div>
                                <div class="cima">54</div>
                                <div class="cima">42</div>
                                <div class="cima">3XL</div>  
                                </div>`, field:'单码量33/42/54/125/185/3XL', align: 'center',colspan: 1, rowspan: 1, width: '3.33%'}
                    ,{ title: `<div class="flex col around">
                                <div class="cima">34</div>
                                <div class="cima">56</div>
                                <div class="cima">43</div>
                                <div class="cima">4XL</div>  
                                </div>`, field:'单码量34/43/56/190/4XL', align: 'center',colspan: 1, rowspan: 1, width: '3.33%'}
                    ,{ title: `<div class="flex col around">
                                <div class="cima">35</div>
                                <div class="cima">58</div>
                                <div class="cima">44</div>
                                <div class="cima">5XL</div>  
                                </div>`, field:'单码量35/44/58/195/5XL', align: 'center',colspan: 1, rowspan: 1, width: '3.33%'}
                    ,{ title: `<div class="flex col around">
                                <div class="cima">36</div>
                                <div class="cima">60</div>
                                <div class="cima">00</div>
                                <div class="cima">6XL</div> 
                                </div>`, field:'单码量36/6XL', align: 'center',colspan: 1, rowspan: 1, width: '3.33%'}
                    ,{ title: `<div class="flex col around">
                                <div class="cima">38</div>
                                <div class="cima"></div>
                                <div class="cima"></div>
                                <div class="cima">7XL</div>
                                </div>`, field:'单码量38/7XL', align: 'center',colspan: 1, rowspan: 1, width: '3.33%'}
                    ,{ title: `<div class="flex col around">
                                <div class="cima">40</div>
                                <div class="cima"></div>
                                <div class="cima"></div>
                                <div class="cima"></div>
                                </div>`, field:'单码量_40', align: 'center',colspan: 1, rowspan: 1, width: '3.33%'}
                    ,{ title: `<div class="flex col around">
                                <div class="cima"></div>
                                <div class="cima">合</div>
                                <div class="cima">计</div>
                                <div class="cima"></div>
                                </div>`, field:'单码量合计', align: 'center',colspan: 1, rowspan: 1, width: '3.33%', templet: function (data) {
                        return `<div style="color:red">${data['单码量合计']}</div>`;
                    }}

                    ,{ title:  `<div class="flex col around">
                                 <div class="cima">28</div>
                                 <div class="cima">44</div>
                                 <div class="cima">37</div>
                                 <div class="cima">S</div>
                               </div>`, field:'周转00/28/37/44/100/160/S', align: 'center',colspan: 1, rowspan: 1, width: '3.33%'}
                    ,{ title: `<div class="flex col around">
                                 <div class="cima">29</div>
                                 <div class="cima">46</div>
                                 <div class="cima">38</div>
                                 <div class="cima">S</div>
                                </div>`, field:'周转29/38/46/105/165/M', align: 'center',colspan: 1, rowspan: 1, width: '3.33%'}
                    ,{ title:  `<div class="flex col around">
                                 <div class="cima">30</div>
                                 <div class="cima">48</div>
                                 <div class="cima">39</div>
                                 <div class="cima">L</div>
                                </div>`, field:'周转30/39/48/110/170/L', align: 'center',colspan: 1, rowspan: 1, width: '3.33%'}
                    ,{ title:  `<div class="flex col around">
                                <div class="cima">31</div>
                                <div class="cima">50</div>
                                <div class="cima">40</div>
                                <div class="cima">XL</div>    
                                </div>`, field:'周转31/40/50/115/175/XL', align: 'center',colspan: 1, rowspan: 1, width: '3.33%'}
                    ,{ title: `<div class="flex col around">
                                <div class="cima">32</div>
                                <div class="cima">52</div>
                                <div class="cima">41</div>
                                <div class="cima">2XL</div>    
                                </div>`, field:'周转32/41/52/120/180/2XL', align: 'center',colspan: 1, rowspan: 1, width: '3.33%'}
                    ,{ title: `<div class="flex col around">
                                <div class="cima">33</div>
                                <div class="cima">54</div>
                                <div class="cima">42</div>
                                <div class="cima">3XL</div>  
                                </div>`, field:'周转33/42/54/125/185/3XL', align: 'center',colspan: 1, rowspan: 1, width: '3.33%'}
                    ,{ title: `<div class="flex col around">
                                <div class="cima">34</div>
                                <div class="cima">56</div>
                                <div class="cima">43</div>
                                <div class="cima">4XL</div>  
                                </div>`, field:'周转34/43/56/190/4XL', align: 'center',colspan: 1, rowspan: 1, width: '3.33%'}
                    ,{ title: `<div class="flex col around">
                                <div class="cima">35</div>
                                <div class="cima">58</div>
                                <div class="cima">44</div>
                                <div class="cima">5XL</div>  
                                </div>`, field:'周转35/44/58/195/5XL', align: 'center',colspan: 1, rowspan: 1, width: '3.33%'}
                    ,{ title: `<div class="flex col around">
                                <div class="cima">36</div>
                                <div class="cima">60</div>
                                <div class="cima">00</div>
                                <div class="cima">6XL</div> 
                                </div>`, field:'周转36/6XL', align: 'center',colspan: 1, rowspan: 1, width: '3.33%'}
                    ,{ title: `<div class="flex col around">
                                <div class="cima">38</div>
                                <div class="cima"></div>
                                <div class="cima"></div>
                                <div class="cima">7XL</div>
                                </div>`, field:'周转38/7XL', align: 'center',colspan: 1, rowspan: 1, width: '3.33%'}
                    ,{ title: `<div class="flex col around">
                                <div class="cima">40</div>
                                <div class="cima"></div>
                                <div class="cima"></div>
                                <div class="cima"></div>
                                </div>`, field:'周转_40', align: 'center',colspan: 1, rowspan: 1, width: '3.33%'}
                    ,{ title: `<div class="flex col around">
                                <div class="cima"></div>
                                <div class="cima">合</div>
                                <div class="cima">计</div>
                                <div class="cima"></div>
                                </div>`, field:'周转合计', align: 'center',colspan: 1, rowspan: 1, width: '3.33%', templet: function (data) {
                        return `<div style="color:red">${data['周转合计']}</div>`;
                    }}
                    ],
                ]
                ,done: function (res, curr, count) {
                    // $('.dateStr').text(res.create_time);
                }
            });
        }
    });

</script>