<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>采购自动推</title>
    <link rel="stylesheet" href="__STATIC__/admin/css/flex.css">
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        table {
            text-align: center;
        }
        
        table thead tr th {
            padding: 5px 20px;
            background-color: yellowgreen;
            font-weight: 400;
            color: #fff;
        }
        
        table tbody tr td {
            padding: 5px 20px;
            border-top: 1px solid yellowgreen;
        }
        
        table tbody tr:nth-child(2n) td {
            background-color: lightblue;
        }
        
        table tbody tr:last-child td {
            border-bottom: 1px solid yellowgreen;
        }
    </style>
</head>
<body>
    <table border="0" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <th>货号/简码</th>
                <th>图片</th>
                <th>零售价/成本价</th>
                <th>分类</th>
                <th>销售信息</th>
                <th>近两周销量</th>
            </tr>
        </thead>
        <tbody>
            {volist name="data" id="vo"}
                <tr>
                    <td>
                        <div>{$vo['货号']}</div>
                        <hr>
                        <div style="color:red;">{$vo['简码']}</div>
                    </td>
                    <td>
                        <img src="{$vo['图片路径']}" style="width: 150px;">
                    </td>
                    <td>
                        <div>{$vo['零售价']}</div>
                        <hr>
                        <div style="color:red;">{$vo['成本价']}</div>
                    </td>
                    <td>{$vo['分类']}</td>
                    <td class="" style="width:200px;">
                        <div class="flex row " style="width: 100%;">
                            <span class="" style="width:60%;">当天销量：</span> 
                            <span class="" style="width:40%;">{$vo['当天销量']}</span>
                        </div>
                        <div class="flex row " style="width: 100%;">
                            <span class="" style="width:60%;">售罄率：</span> 
                            <span class="" style="width:40%;">{$vo['售罄率']}</span>
                        </div>
                        <div class="flex row " style="width: 100%;">
                            <span class="" style="width:60%;">总销量：</span> 
                            <span class="" style="width:40%;">{$vo['累销量']}</span>
                        </div>
                        <div class="flex row " style="width: 100%;">
                            <span class="" style="width:60%;">总库存量：</span> 
                            <span class="" style="width:40%;">{$vo['总库存量']}</span>
                        </div>
                        <div class="flex row " style="width: 100%;">
                            <span class="" style="width:60%;">云仓在途量：</span> 
                            <span class="" style="width:40%;">{$vo['云仓在途量']}</span>
                        </div>
                        <div class="flex row " style="width: 100%;">
                            <span class="" style="width:60%;">订单未入量：</span> 
                            <span class="" style="width:40%;">{$vo['订单未入量']}</span>
                        </div>
                    </td>
                    <td style="width:200px;">
                        <div class="flex row " style="width: 100%;">
                            <span class="" style="width:60%;">近一周销量：</span> 
                            <span class="" style="width:40%;">{$vo['近一周销量']}</span>
                        </div>
                        <div class="flex row " style="width: 100%;">
                            <span class="" style="width:60%;">近两周销量：</span> 
                            <span class="" style="width:40%;">{$vo['近两周销量']}</span>
                        </div>
                        <div class="flex row " style="width: 100%;">
                            <span class="" style="width:60%;">上柜数：</span> 
                            <span class="" style="width:40%;">{$vo['上柜数']}</span>
                        </div>
                    </td>
                </tr>
            {/volist}
        </tbody>
    </table>
</body>
</html>