<style>
    tr{
        color: #0A0E11;
        /*border: 5px solid whitesmoke;*/
    }
    .layuimini-main tr td{
        margin: 0px;
        padding: 0px 0;
    }

    .layui-table-cell {
        font-size: 9px;
    }
    .layuimini-main .table-search-fieldset {
        padding: 2px 20px 0px 20px;
    }
    .layui-table-view .layui-table td {
        padding: 1px 0;
    }
    .layui-table, .layui-table-view {
        margin: 0px 0;
    }
</style>
<div class="layuimini-container">
    <div class="layuimini-main">
        <table id="currentTable"
               data-auth-add="{:auth('system.admin/add')}"
               lay-filter="currentTable">
        </table>
    </div>
</div>