<form id="app-form" class="layui-form layuimini-form">

    <table id="form-create" class="layui-table">
        <thead>
            <tr>
                <th>字段名称</th>
                <th>省份</th>
                <th>选项组合</th>
                <th>库存值</th>
                <th style="width: 150px;">操作</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="4">
                    <span>添加操作</span>
                </td>
                <td colspan="1">
                    <div class="layui-btn-group">
                        <button type="button" class="layui-btn add">增加</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="hr-line"></div>
    <div class="layui-form-item text-center">
        <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit="system.config/save" data-refresh="false">确认</button>
        <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
    </div>

</form>