<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>表格更新</title>
    <link rel="stylesheet" href="__STATIC__/ok/css/oksub.css">
    <link rel="stylesheet" href="__STATIC__/admin/css/flex.css">
    <script type="text/javascript" src="__STATIC__/ok/js/xm-select.js"></script>
    <style>
        body {
            overflow: hidden;
        }
        .layui-table-cell {
            font-size: 12px;
            padding: 0 5px;
            height: auto;
            /*text-align: left;*/
        }

        .ok-form {
            margin-top: 5px;
        }

        .layui-btn+.layui-btn {
            margin-left: 3px;
        }

        .layui-form-item {
            margin-bottom: 0px;
            height: 30px;
        }

        .layui-input,
        .layui-select,
        .layui-textarea {
            height: 32px;
        }

        .layui-form-pane .layui-form-label {
            height: 32px;
            line-height: 15px;
        }

        .layui-form-select dl dd,
        .layui-form-select dl dt {
            line-height: 32px;
        }

        .layui-form-select dl {
            padding: 0px 0;
        }

        .layui-table th {
            font-weight: bolder;
        }

        .layui-form-pane .layui-form-label {
            text-align: right;
        }

        .layui-laypage .layui-laypage-curr .layui-laypage-em {
            background-color: #ffcc00;
            color: #666
        }

        .layui-colorpicker {
            width: 30px;
            height: 10px;
            line-height: 30px;
            padding: 0px;
        }
        
        /* 字体超出不隐藏 */
        .layui-table-cell{
            /* height:auto;
            overflow:visible;
            text-overflow:inherit; */
        }
        /* .layui-unselect .layui-form-select {
            width: 80px !important;
        }  */
        .test {
            border: 1px solid red !important;
        }
        xm-select .xm-body .xm-option .xm-option-icon {
            height: 15px !important;
            width: 15px !important;
            font-size: 15px !important;
        }
        .layui-col-md1 {
            width: 11.333% !important;
        }
        .layui-form-label {
            width: 120px !important;
        }

        .layui-input-inline {
            width: 40px;
        }
    </style>
</head>

<body class="" style="background-color: #ffffff;">
    <div class="layui-tab-item layui-show" style="display: none !important;">
        <div id="map" class="layui-col-md12 layui-col-space8" style="background-color: #ffffff;">
            <form class="layui-form layui-form-pane ok-form layui-col-space8">
                <div class="flex row end between">
                    <div class="flex col between al-start" style="width:95%; height: 35px;">
                        <div class="layui-form-item">
                            <label class="layui-form-label" style="width: 110px !important; text-align: center; overflow: visible;">日期</label>
                            <div class="layui-input-inline" style="width: 130px !important;">
                                <input type="text" name="更新日期" class="layui-input" id="setTime1" value="" placeholder="yyyy-MM-dd" lay-verify="required">
                            </div>
                        </div>
                    </div>
                    <div></div>

                    <div class="flex row between" style="width:160px; height:35px;">
                        <button lay-submit class="layui-btn layui-btn-sm" lay-filter="getReadsBtn"
                        style="background:#4a6db8;color:#ffffff; line-height: 25px; float:right; ">阅读状态
                        </button>
                        <button lay-submit class="layui-btn layui-btn-sm" lay-filter="searchBtn"
                        style="background-image: -webkit-linear-gradient(left,#ffcc00,#ffcc00);letter-spacing:1px;color: #0051ff; line-height: 25px; float:right;">查询记录
                        </button>

                    </div>
                </div>  
            </form>
        </div>
    </div>

    <div style="border: 0px solid red; float: left; width: 100%; margin-top: 10px; display:block;">
        <table class="layui-hide" id="table2" lay-filter="table">
            <div class="title_text2" style="text-align: center; color:#0051ff;">
                数据源手动更新列表
             </div>
        </table>
    </div>
</body>

</html>
<script type="text/javascript" src="__STATIC__/ok/js/xm-select.js"></script>
<script type="text/javascript" src="__STATIC__/ok/lib/layui/layui.js"></script>
<script type="text/javascript" src="__STATIC__/ok/js/watermark.js"></script>
<script type="text/html" id="introduceHtml">
    <td title="{{d.introduce}}" class="layui-table-link">{{d.name}}</td>
</script>
<script>
    var updataHandle = function (table, title) {
        window.localStorage.setItem('tableupdata_table', table);
        window.localStorage.setItem('tableupdata_title', title);
    }


    // var viewUsers = function (uid) {
    //     window.localStorage.setItem('sendDingImg_uid', uid);
    // }
    watermark({ "watermark_txt": '南昌索歌服饰' });
    layui.use(['form', 'jquery', 'layer', 'table', 'laydate', 'laypage'], function () {
        let form = layui.form
            , $ = layui.$
            , layer = layui.layer
            , table = layui.table
            , laydate = layui.laydate
            , url_index = ""
            , url_user = ""
            , url_DingUsers = ""
            , sendDingImgHandle = ""
            , recallImgHandle = "{:url('admin/system.dingding.Baobiao/recallImgHandle')}"
            , url_updata = "{:url('admin/system.Tableupdata/updataHandle')}"
            , url1 = "{:url('admin/system.Tableupdata/list')}"; 

        // 表1初始化
        startTable();
        // initFn();

        // 日期选择器
        laydate.render({
            elem: '#setTime1'
        });

        function initFn() {
            $.get(url_getXmMapSelect, {}, function(res) {
                // 渲染所有省份
                xmSelect.render({
                    el: '#xm-hh', 
                    filterable: true,
                    toolbar: {show: true},
                    theme: {
                        color: '#1cbbb4',
                    },
                    // showCount: 1,
                    name:'货号',
                    data: res.data.goodsno
                })
                // // 渲染所有店铺
                xmSelect.render({
                    el: '#xm-customer', 
                    filterable: true,
                    toolbar: {show: true},
                    theme: {
                        color: '#1cbbb4',
                    },
                    // showCount: 1,
                    name:'店铺名称',
                    data: res.data.customer
                })
                
            }, 'json')
        }

        //监听保存
        form.on('submit(getReadsBtn)', function (data) {
            var datetime = data.field['更新日期'];
            var limit = data.field.limit;
            //询问框
            layer.confirm(`是否更新【${datetime}】的阅读状态？1-3分钟，请耐心等待`, {
                btn: ['是的','再想想'] //按钮
            }, function(data){
                // layer.close();
                //开始加载效果
                layui.use('layer', function () {
                    layui.layer.load();
                    //console.log(Lodingindex) opacity
                    $(".layui-layer-shade").css('background', '#000000')
                    $(".layui-layer-shade").css('opacity', '0.2')
                    $(".layui-layer-shade").click(function (event) {
                        event.stopPropagation();
                    })
                })
                $.post(getReadsHandle, {'更新日期': datetime}, function(res) {  
                    table.reload('table2', {
                        where: {'更新日期': datetime, 'limit': limit}
                        , method: 'post'
                        , url: url1
                        , loading: true
                        , page: true
                        , limit: limit
                        ,done: function(res){
                            layui.use('layer', function () {
                                setTimeout(function () {
                                    layui.layer.closeAll();
                                }, 0);
                            });
                        }
                    })
                })
            }, function(){
                console.log('关闭');
                layer.close();
            });
            return false; 
        });

        //监听保存
        form.on('submit(searchBtn)', function (data) {
            table.reload('table2', {
                    where: data.field
                    , method: 'post'
                    , url: url1
                    , loading: true
                    , page: true
                    , limit: data.field.limit
                })
            return false; 
        });


        window.viewUsers = function(uid, title) {
            // console.log(uid);
            window.localStorage.setItem('sendDingImg_uid', uid);
            // window.localStorage.setItem('sendDingImg_title', title);
            var testFram = layer.open({
                title: title
                ,type: 2
                ,area: ['40%', '100%'] // 100%全屏
                ,content: url_user
            });
            // layer.close(index)
            return false; 
        }

        window.previewImg = function(path) {
            var img = new Image();
            img.src = path;
            // var height=img.height,width=img.width;
            var height = 700;
            var width = 600;

            // if(img.height > 600) {
            //     height = '600px';
            //     width=(600/(img.height))*(img.width);
            // }
        
            var imgHtml = "<img src='" + path + "' height='"+height + "' />";
            console.log(imgHtml);
            //弹出层
            layer.open({
                type: 1,
                offset: 'auto',
                area: [width,'auto'],
                shadeClose:true,//点击外围关闭弹窗
                scrollbar: false,//不现实滚动条
                title: "图片预览", //不显示标题
                content: imgHtml, //捕获的元素，注意：最好该指定的元素要存放在body最外层，否则可能被其它的相对元素所影响
                cancel: function () {
                
                }
            });
        }

        //监听指定开关
        form.on('switch(switchStatus)', function(data){
            // console.log(data.elem); //得到checkbox原始DOM对象
            // console.log(data.othis); //得到美化后的DOM对象
            console.log(data.elem.checked); //开关是否开启，true或者false
            console.log(data.value); //开关value值，也可以通过data.elem.value得到
            // layer.msg('开关checked：'+ (this.checked ? 'true' : 'false'), {
            // offset: '6px'
            // });
            // layer.tips('温馨提示：请注意开关状态的文字可以随意定义，而不仅仅是ON|OFF', data.othis)
            var id = data.value
            var changeStatus = data.elem.checked ? '开' : '关';
            $.post(updateStatusHandle, {'编号': id, "状态":changeStatus}, function(res) {  
                layer.msg(res.msg)
                // table.reload('table2', {
                //     where: {'更新日期': datetime, 'limit': limit}
                //     , method: 'post'
                //     , url: url1
                //     , loading: true
                //     , page: true
                //     , limit: limit
                //     ,done: function(res){
                //         layui.use('layer', function () {
                //             setTimeout(function () {
                //                 layui.layer.closeAll();
                //             }, 0);
                //         });
                //     }
                // })
            })
        });

        // window.updataHandle = function(tableName) {

        //     alert('执行后，不能关闭界面，避免数据未执行成功');
        //     // layui.use('layer', function () {
        //     //         layui.layer.load();
        //     //         $(".layui-layer-shade").css('background', '#000000')
        //     //         $(".layui-layer-shade").css('opacity', '0.2')
        //     //         $(".layui-layer-shade").click(function (event) {
        //     //             event.stopPropagation();
        //     //         })
        //     //     })
        //     $.post(url_updata, {'表名': tableName}, function(res) {  

        //         if (res.status == 1) {
        //             alert(res.msg) 
        //             table.reload('table2', {
        //                 method: 'post'
        //                 , url: url1
        //                 , loading: true
        //                 , page: true
        //                 , limit: limit
        //             })
        //         } else {
        //             alert(res.msg)  
        //         }
        //     })
        //     // layui.use('layer', function () {
        //     //         setTimeout(function () {
        //     //             layui.layer.closeAll();
        //     //         }, 2000);
        //     //     });
        //     return false; 
        // }

        $(document).on('click', '.handleBtn', function(data){
            var tableName= window.localStorage.getItem('tableupdata_table');
            var title= window.localStorage.getItem('tableupdata_title');

            console.log(tableName);
            console.log(title);
            //询问框
            layer.confirm(`是否更新【${title}】`, {
                btn: ['是的','再想想'] //按钮
            }, function(data){
                layui.use('layer', function () {
                    layui.layer.load();
                    $(".layui-layer-shade").css('background', '#000000')
                    $(".layui-layer-shade").css('opacity', '0.2')
                    $(".layui-layer-shade").click(function (event) {
                        event.stopPropagation();
                    })
                })
                // layer.close();
                // if (!stop2) {
                //     stop2 = true
                $.post(url_updata, {'表名': tableName}, function(res) {
                    table.reload('table2', {
                        where: data.field
                        , method: 'post'
                        , url: url1
                        , loading: true
                    })
                    // layer.msg(res.msg, {icon: 1});
                    // setTimeout(function() {
                    //     stop2 = false
                    // }, 500)
                    layui.use('layer', function () {
                        setTimeout(function () {
                            layui.layer.closeAll();
                        }, 0);
                    });
                    alert(res.msg);
                })
                // }
            }, function(){
                console.log('关闭');
                layer.close();
            });
        }); 

        // 单店不动销数据统计 
        function startTable() {
            var mapHeight = $('#map').height();
            // var yc = window.localStorage.getItem('viewCustomer_yc');
            // var gdno = window.localStorage.getItem('viewCustomer_gdno');
            var height = document.documentElement.clientHeight - mapHeight - 15;

            table.render({
                elem: '#table2'
                ,url: url1
                , loading: true
                , method: 'post'
                , toolbar: false
                , page: true
                , limit: 1000
                , limits: [100, 500, 1000, 2000, 5000, 10000, 20000]
                , height: height
                // , where: {'更新日期': ''}
                , cellMinWidth: 100 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
                , cols: [[
                    { field: 'id', title: '编号', align:'center' }
                    ,{ field: 'EXCEL表名', title: 'EXCEL表名', align:'center' }
                    ,{ field: '表名', title: 'BI表名', align:'center' }
                    ,{ field: '数据量预估', title: '数据量预估',align:'center' }
                    ,{ field: '跑数时间预估', title: '跑数时间预估',align:'center' }
                    ,{ field: '实时数据', title: '实时数据',align:'center' }
                    , { field: '跑数完成时间', title: '跑数完成时间', align:'center' } 
                    , { title: '操作', align:'center', templet:
                    function (data) {
                        return `<button class="handleBtn layui-btn layui-btn-xs" style="background-image: -webkit-linear-gradient(left,#ffcc00,#ffcc00);
                                    letter-spacing:1px;color: #ffffff; line-height: 25px;"  onClick="updataHandle('${data['表名']}', '${data['EXCEL表名']}')">
                                        更新
                                    </button>`;
                    }}
                ]]
                ,done: function (res, curr, count) {
                    // layer.alert("加载完成");
                    // console.log(res);
                    // $('.readsNum').text(res.readsData.reads);
                    // $('.noReadsNum').text(res.readsData.noReads);
                }
            });
        }
    });

    // alert(document.documentElement.clientHeight - 30);



</script>