<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>夏-断码率-单店断码明细</title>
    <link rel="stylesheet" href="__STATIC__/ok/css/oksub.css">
    <link rel="stylesheet" href="__STATIC__/admin/css/flex.css">
    <script type="text/javascript" src="__STATIC__/ok/js/xm-select.js"></script>
    <style>
        body {
            overflow: hidden;
        }        
        .layui-table-cell {
            font-size: 12px;
            padding: 0 5px;
            height: auto;
            /*text-align: left;*/
        }

        .ok-form {
            margin-top: 5px;
        }

        .layui-btn+.layui-btn {
            margin-left: 3px;
        }

        .layui-form-item {
            margin-bottom: 0px;
            height: 30px;
        }

        .layui-input,
        .layui-select,
        .layui-textarea {
            height: 32px;
        }

        .layui-form-pane .layui-form-label {
            height: 32px;
            line-height: 15px;
        }

        .layui-form-select dl dd,
        .layui-form-select dl dt {
            line-height: 32px;
        }

        .layui-form-select dl {
            padding: 0px 0;
        }

        .layui-table th {
            font-weight: bolder;
        }

        .layui-form-pane .layui-form-label {
            text-align: right;
        }

        .layui-laypage .layui-laypage-curr .layui-laypage-em {
            background-color: #ffcc00;
            color: #666
        }

        .layui-colorpicker {
            width: 30px;
            height: 10px;
            line-height: 30px;
            padding: 0px;
        }
        

        .layui-table-cell{
            height:auto;
            overflow:visible;
            text-overflow:inherit;
        }
        /* .layui-unselect .layui-form-select {
            width: 80px !important;
        }  */
        .layui-col-md1 {
            width: 11.333% !important;
        }
        .layui-form-label {
            width: 130px !important;
        }

        .layui-input-inline {
            width: 40px;
        }
    </style>
</head>

<body class="" style="background-color: #ffffff;">
    <div class="layui-tab-item layui-show">
        <div class="layui-col-md12 layui-col-space8" style="background-color: #ffffff;">
            <form class="layui-form layui-form-pane ok-form layui-col-space8">
                <div class="flex row end between">
                    <div class="flex col between al-start" style="width:95%; height: 70px;">
                        <div class="layui-form-item">
                            <label class="layui-form-label" style="width: 110px !important; text-align: center; overflow: visible;">云仓</label>
                            <div class="layui-input-inline" style="width: 130px !important;">
                                <div id="xm-yc" class="xm-select-demo"></div>
                            </div>
                            <label class="layui-form-label" style="width: 110px !important; text-align: center; overflow: visible;">店铺名称</label>
                            <div class="layui-input-inline" style="width: 130px !important;">
                                <div id="xm-customer" class="xm-select-demo"></div>
                            </div>
                            <label class="layui-form-label" style="width: 110px !important; text-align: center; overflow: visible;">商品专员</label>
                            <div class="layui-input-inline" style="width: 130px !important;">
                                <div id="xm-customer17" class="xm-select-demo"></div>
                            </div>
                            <label class="layui-form-label" style="width: 110px !important; text-align: center; overflow: visible;">省份</label>
                            <div class="layui-input-inline" style="width: 130px !important;">
                                <div id="xm-province" class="xm-select-demo"></div>
                            </div>
                            <label class="layui-form-label" style="width: 110px !important; text-align: center; overflow: visible;">经营模式</label>
                            <div class="layui-input-inline" style="width: 130px !important;">
                                <div id="xm-jyms" class="xm-select-demo"></div>
                            </div>
                            <label class="layui-form-label" style="width: 110px !important; text-align: center; overflow: visible;">大类</label>
                            <div class="layui-input-inline" style="width: 130px !important;">
                                <div id="xm-dalei" class="xm-select-demo"></div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label" style="width: 110px !important; text-align: center; overflow: visible;">中类</label>
                            <div class="layui-input-inline" style="width: 130px !important;">
                                <div id="xm-zhonglei" class="xm-select-demo"></div>
                            </div>
                            <label class="layui-form-label" style="width: 110px !important; text-align: center; overflow: visible;">领型</label>
                            <div class="layui-input-inline" style="width: 130px !important;">
                                <div id="xm-lingxing" class="xm-select-demo"></div>
                            </div>
                            <label class="layui-form-label" style="width: 110px !important; text-align: center; overflow: visible;">风格</label>
                            <div class="layui-input-inline" style="width: 130px !important;">
                                <div id="xm-fengge" class="xm-select-demo"></div>
                            </div>
                            <label class="layui-form-label" style="width: 110px !important; text-align: center; overflow: visible;">货号</label>
                            <div class="layui-input-inline" style="width: 130px !important;">
                                <div id="xm-huohao" class="xm-select-demo"></div>
                            </div>
                            <label class="layui-form-label" style="width: 110px !important; text-align: center; overflow: visible;">TOP</label>
                            <div class="layui-input-inline" style="width: 130px !important;">
                                <div id="xm-top60" class="xm-select-demo"></div>
                            </div>
                            <label class="layui-form-label" style="width: 110px !important; text-align: center; overflow: visible;">TOP考核款</label>
                            <div class="layui-input-inline" style="width: 130px !important;">
                                <div id="xm-top60kaohe" class="xm-select-demo"></div>
                            </div>
                        </div>
                    </div>
                    <div class="flex col between" style="width:5%; height:70px;">
                        <button lay-submit class="layui-btn layui-btn-sm" lay-filter="mapBtn"
                        style="background-image: -webkit-linear-gradient(left,#ffcc00,#ffcc00);letter-spacing:1px;color: #0051ff; line-height: 25px; float:right;">条件查询
                        </button>
                        <button lay-submit class="layui-btn layui-btn-sm" lay-filter="downloadBtn"
                        style="background-image: -webkit-linear-gradient(left,#ffffff,rgb(7, 199, 183));letter-spacing:1px;color: #0879bb; line-height: 25px; float:right;">导出全部
                        </button>
                    </div>
                </div>  
            </form>
        </div>
    </div>

    <div style="border: 0px solid red; float: left; width: 100%; margin-top: 10px;">
        <table class="layui-hide" id="table" lay-filter="table">
            <div style="text-align: center; color:#0051ff;"><a style="color:red;">（夏季）</a>单店断码明细 <a class="dateStr"></a></div>
        </table>
        <div id="page"></div>
    </div>
</body>

</html>
<script src="__STATIC__/ok/lib/layui/layui.js"></script>
<script type="text/javascript" src="__STATIC__/ok/js/watermark.js"></script>
<script type="text/html" id="toolbar1">
    <div class="layui-btn-container">
      <button class="layui-btn layui-btn-sm" lay-event="download">【导出】所有单店断码明细</button>
      <!-- <button class="layui-btn layui-btn-sm" lay-event="delete">删除</button>
      <button class="layui-btn layui-btn-sm" lay-event="update">编辑</button> -->
    </div>
</script>
<script>
    watermark({ "watermark_txt": '南昌索歌服饰' });
    layui.use(['form', 'jquery', 'layer', 'table', 'laydate', 'laypage'], function () {
        let form = layui.form
            , $ = layui.$
            , layer = layui.layer
            , table = layui.table
            , laydate = layui.laydate
            , laypage = layui.laypage
            , url1 = "{:url('admin/system.DuanmalvSummer/sk')}" 
            , url_download_history_area = "{:url('admin/system.Duanmalv_excel/excel_sk_summer')}" 
            , url_getXmMapSelect = "{:url('admin/system.DuanmalvSummer/getXmMapSelect')}"

        initFn();
        startTable();

        // 选择云仓
        xmSelect.render({
            el: '#xm-yc', 
            filterable: true,
            toolbar: {show: true},
            name: '云仓',
            // showCount: 1,
            theme: {
                color: '#1cbbb4',
            },
            data: [
                {name: "南昌云仓", value: "南昌云仓", selected: ""},
                {name: "广州云仓", value: "广州云仓", selected: ""},
                {name: "武汉云仓", value: "武汉云仓", selected: ""},
                {name: "贵阳云仓", value: "贵阳云仓", selected: ""},
                {name: "长沙云仓", value: "长沙云仓", selected: ""},
            ]
        })
        // 
        xmSelect.render({
            el: '#xm-jyms', 
            filterable: true,
            toolbar: {show: true},
            name: '经营模式',
            // showCount: 1,
            theme: {
                color: '#1cbbb4',
            },
            data: [
                {name: "直营", value: "直营", selected: ""},
                {name: "加盟", value: "加盟", selected: ""},
            ]
        })
        // 选择风格
        xmSelect.render({
            el: '#xm-fengge', 
            filterable: true,
            toolbar: {show: true},
            name: '风格',
            // showCount: 1,
            theme: {
                color: '#1cbbb4',
            },
            data: [
                {name: "基本款", value: "基本款", selected: ""},
                {name: "引流款", value: "引流款", selected: ""},
            ]
        })
        // 是否TOP60
        xmSelect.render({
            el: '#xm-top60', 
            filterable: true,
            toolbar: {show: true},
            name: '是否TOP60',
            // showCount: 1,
            theme: {
                color: '#1cbbb4',
            },
            data: [
                {name: "是", value: "是", selected: ""},
            ]
        })
        // 是否TOP60
        xmSelect.render({
            el: '#xm-top60kaohe', 
            filterable: true,
            toolbar: {show: true},
            name: '是否TOP60考核款',
            // showCount: 1,
            theme: {
                color: '#1cbbb4',
            },
            data: [
                {name: "是", value: "是", selected: ""},
                {name: "否", value: "否", selected: ""},
            ]
        })
        // 选择省份
        xmSelect.render({
            el: '#xm-province', 
            filterable: true,
            name: '省份',
            // showCount: 1,
            data: []
        })

        // 选择店铺
        xmSelect.render({
            el: '#xm-customer', 
            filterable: true,
            name: '店铺名称',
            // showCount: 1,
            data: []
        })

        // 选择领型
        xmSelect.render({
            el: '#xm-lingxing', 
            filterable: true,
            name: '领型',
            // showCount: 1,
            data: []
        })

        // 选择货号
        xmSelect.render({
            el: '#xm-huohao', 
            filterable: true,
            name: '货号',
            // showCount: 1,
            data: []
        })

        xmSelect.render({
            el: '#xm-dalei', 
            filterable: true,
            toolbar: {show: true},
            name: '大类',
            // showCount: 1,
            theme: {
                color: '#1cbbb4',
            },
            data: [
                {name: "外套", value: "外套", selected: ""},
                {name: "内搭", value: "内搭", selected: ""},
                {name: "下装", value: "下装", selected: ""},
                {name: "鞋履", value: "鞋履", selected: ""},
            ]
        })

        //触发事件
        table.on('toolbar(table)', function(obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            console.log(obj)
            switch(obj.event){
                case 'download':
                    location.href = url_download_history_area
                    alert('数据有点多，请耐心等待');
                break;
                case 'delete':
                layer.msg('删除');
                break;
                case 'update':
                layer.msg('编辑');
                break;
            };
        });

        function initFn() {
            $.get(url_getXmMapSelect, {}, function(res) {
                // console.log(res.data.provinceAll);
                // storeData = res.data.storeAll
                // provinceData = res.data.provinceAll    
                // 渲染所有店铺
                xmSelect.render({
                    el: '#xm-customer17', 
                    filterable: true,
                    toolbar: {show: true},
                    theme: {
                        color: '#1cbbb4',
                    },
                    // showCount: 1,
                    name:'商品负责人',
                    data: res.data.customer17
                })
                // 渲染所有省份
                xmSelect.render({
                    el: '#xm-province', 
                    filterable: true,
                    toolbar: {show: true},
                    theme: {
                        color: '#1cbbb4',
                    },
                    // showCount: 1,
                    name:'省份',
                    data: res.data.province
                })
                // 渲染所有店铺
                xmSelect.render({
                    el: '#xm-customer', 
                    filterable: true,
                    toolbar: {show: true},
                    theme: {
                        color: '#1cbbb4',
                    },
                    // showCount: 1,
                    name:'店铺名称',
                    data: res.data.customer
                })
                // 渲染所有中类
                xmSelect.render({
                    el: '#xm-zhonglei', 
                    filterable: true,
                    toolbar: {show: true},
                    theme: {
                        color: '#1cbbb4',
                    },
                    // showCount: 1,
                    name:'中类',
                    data: res.data.zhonglei
                })
                // 渲染所有领型
                xmSelect.render({
                    el: '#xm-lingxing', 
                    filterable: true,
                    toolbar: {show: true},
                    theme: {
                        color: '#1cbbb4',
                    },
                    // showCount: 1,
                    name:'领型',
                    data: res.data.lingxing
                })
                // 渲染所有货号
                xmSelect.render({
                    el: '#xm-huohao', 
                    filterable: true,
                    toolbar: {show: true},
                    theme: {
                        color: '#1cbbb4',
                    },
                    // showCount: 1,
                    name:'货号',
                    data: res.data.huohao
                })
            }, 'json')
        }

        //监听保存
        form.on('submit(mapBtn)', function (data) {
            table.reload('table', {
                where: data.field
                , method: 'post'
                , url: url1
                , loading: true
                , page: true
                , limit: data.field.limit
            })

            return false; 
        });

        // location.href = url_download_history_area
        form.on('submit(downloadBtn)', function (data) {
            $.post(url_download_history_area, data.field, function(res) {
                // table.exportFile('#table', res, 'xls');
                // console.log(223) 
                if (res.status == 1) {
                    if (res.count <= 100000) {
                        location.href = url_download_history_area + '?code=' + res.code
                        alert('数据有点多，请耐心等待');
                    } else {
                        alert('数据量太大了：' + res.count + '，增加点筛选条件吧！');
                    }
                }

            })

            return false; 
        });

        function startTable() {
            table.render({
                elem: '#table'
                ,url: url1
                , loading: true
                , method: 'post'
                // , toolbar: '#toolbar1'
                , toolbar: 'true'
                , page: true
                , limit: 500
                , limits: [500, 1000, 5000, 10000, 20000]
                , height: 720
                , where: {'商品负责人': '{$admin}'}
                , cellMinWidth: 60 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
                , cols: [[
                    {   field: '云仓', title: '云仓', fixed: 'left', align: 'center', width:35}
                    , { field: '店铺名称', title: '店铺名称', fixed: 'left' , align: 'center'}
                    , { field: '商品负责人', title: '商品专员', fixed: 'left', align: 'center'}
                    , { field: '省份', title: '省份', fixed: 'left' , align: 'center', width:35}
                    , { field: '经营模式', title: '性质', fixed: 'left', align: 'center' , width:35}
                    , { field: '年份', title: '年份', fixed: 'left' , align: 'center', width:35}
                    , { field: '店铺等级', title: '等级', fixed: 'left' , align: 'center', width:35}
                    , { field: '季节', title: '季节', fixed: 'left' , align: 'center', width:35}
                    , { field: '一级分类', title: '大类', fixed: 'left' , align: 'center', width:35}
                    , { field: '二级分类', title: '中类', fixed: 'left' , align: 'center'}
                    , { field: '分类', title: '分类', fixed: 'left' , width: 90, align: 'center', hide: true}
                    , { field: '领型', title: '领型' ,fixed:'left', align: 'center', width:35}
                    , { field: '风格', title: '风格' ,fixed:'left', align: 'center'} 
                    , { field: '货号', title: '货号' ,fixed:'left', width: 80 , align: 'center'}
                    ,{ field: '预计00/28/37/44/100/160/S', title: '预计28/37/44/S', width: 90, align: 'center' , hide: false,
                    templet: function (data) {
                        // console.log(data['预计00/28/37/44/100/160/S'])
                        if (data['预计00/28/37/44/100/160/S'] > 0) {
                            return data['预计00/28/37/44/100/160/S']
                        } else if (data['预计00/28/37/44/100/160/S'] === '0') {
                            if (data['预计库存数量'] == 0) {
                                return data['预计00/28/37/44/100/160/S'] 
                            } else {
                                return `<div style='color:red; font-weight:bold; background:yellow;'>` + data['预计00/28/37/44/100/160/S']  + `</div>`
                            }
                        } else {
                            return ''    
                        }
                    }}
                    ,{ field: '预计29/38/46/105/165/M', title: '预计29/38/46/M' , width: 90, align: 'center', hide: false,
                    templet: function (data) {
                        if (data['预计29/38/46/105/165/M'] > 0) {
                            return data['预计29/38/46/105/165/M'] 
                        } else if (data['预计29/38/46/105/165/M'] === '0') {
                            if (data['预计库存数量'] == 0) {
                                return data['预计29/38/46/105/165/M'] 
                            } else {
                                return `<div style='color:red; font-weight:bold; background:yellow;'>` + data['预计29/38/46/105/165/M'] + `</div>`
                            }
                        } else {
                            return ''
                        }
                    }}
                    ,{ field: '预计30/39/48/110/170/L', title: '预计30/39/48/L' , width: 90, align: 'center', hide: false,
                    templet: function (data) {
                        if (data['预计30/39/48/110/170/L'] > 0) {
                            return data['预计30/39/48/110/170/L'] 
                        } else if (data['预计30/39/48/110/170/L'] === '0') {
                            if (data['预计库存数量'] == 0) {
                                return data['预计30/39/48/110/170/L']
                            } else {
                                return `<div style='color:red; font-weight:bold; background:yellow;'>` + data['预计30/39/48/110/170/L'] + `</div>`
                            }
                        } else {
                            return ''
                        }
                    }}
                    ,{ field: '预计31/40/50/115/175/XL', title: '预计31/40/50/XL', width: 95 , align: 'center', hide: false,
                    templet: function (data) {
                        if (data['预计31/40/50/115/175/XL'] > 0) {
                            return data['预计31/40/50/115/175/XL'] 
                        } else if (data['预计31/40/50/115/175/XL'] === '0') {
                            if (data['预计库存数量'] == 0) {
                                return data['预计31/40/50/115/175/XL'] 
                            } else {
                                return `<div style='color:red; font-weight:bold; background:yellow;'>` + data['预计31/40/50/115/175/XL']  + `</div>`
                            }
                        } else {
                            return ''
                        }
                    }}
                    ,{ field: '预计32/41/52/120/180/2XL', title: '预计32/41/52/2XL' , width: 100, align: 'center', hide: false,
                    templet: function (data) {
                        if (data['预计32/41/52/120/180/2XL'] > 0) {
                            return data['预计32/41/52/120/180/2XL'] 
                        } else if (data['预计32/41/52/120/180/2XL'] === '0') {
                            if (data['预计库存数量'] == 0) {
                                return data['预计32/41/52/120/180/2XL'] 
                            } else {
                                return `<div style='color:red; font-weight:bold; background:yellow;'>` + data['预计32/41/52/120/180/2XL'] + `</div>`
                            }
                        } else {
                            return ''
                        }
                    }}
                    ,{ field: '预计33/42/54/125/185/3XL', title: '预计33/42/54/3XL' , width: 105, align: 'center', hide: false,
                    templet: function (data) {
                        if (data['预计33/42/54/125/185/3XL'] > 0) {
                            return data['预计33/42/54/125/185/3XL'] 
                        } else if (data['预计33/42/54/125/185/3XL'] === '0') {
                            if (data['预计库存数量'] == 0) {
                                return data['预计33/42/54/125/185/3XL'] 
                            } else {
                                return `<div style='color:red; font-weight:bold; background:yellow;'>` + data['预计33/42/54/125/185/3XL'] + `</div>`
                            }
                        } else {
                            return ''
                        }
                    }}
                    ,{ field: '预计34/43/56/190/4XL', title: '预计34/43/56/4XL' , width: 100, align: 'center', hide: false,
                    templet: function (data) {
                        if (data['预计34/43/56/190/4XL'] > 0) {
                            return data['预计34/43/56/190/4XL'] 
                        } else if (data['预计34/43/56/190/4XL'] === '0') {
                            if (data['预计库存数量'] == 0) {
                                return data['预计34/43/56/190/4XL']
                            } else {
                                return `<div style='color:red; font-weight:bold; background:yellow;'>` + data['预计34/43/56/190/4XL'] + `</div>`
                            }      
                        } else {
                            return ''
                        }
                    }}
                    ,{ field: '预计35/44/58/195/5XL', title: '预计35/44/58/5XL', width: 100 , align: 'center', hide: false,
                    templet: function (data) {
                        if (data['预计35/44/58/195/5XL'] > 0) {
                            return data['预计35/44/58/195/5XL'] 
                        } else if (data['预计35/44/58/195/5XL'] === '0') {
                            if (data['预计库存数量'] == 0) {
                                return data['预计35/44/58/195/5XL']
                            } else {
                                return `<div style='color:red; font-weight:bold; background:yellow;'>` + data['预计35/44/58/195/5XL'] + `</div>`
                            }  
                        } else {
                            return ''
                        }
                    }}
                    ,{ field: '预计36/6XL', title: '预计36/6XL', width: 80 , align: 'center', hide: false,
                    templet: function (data) {
                        if (data['预计36/6XL'] > 0) {
                            return data['预计36/6XL'] 
                        } else if (data['预计36/6XL'] === '0') {
                            if (data['预计库存数量'] == 0) {
                                return data['预计36/6XL']
                            } else {
                                return `<div style='color:red; font-weight:bold; background:yellow;'>` + data['预计36/6XL'] + `</div>`
                            }
                        } else {
                            return ''
                        }
                    }}
                    ,{ field: '预计38/7XL', title: '预计38/7XL', width: 80 , align: 'center', hide: false,
                    templet: function (data) {
                        if (data['预计38/7XL'] > 0) {
                            return data['预计38/7XL'] 
                        } else if (data['预计38/7XL'] === '0') {
                            if (data['预计库存数量'] == 0) {
                                return data['预计38/7XL']
                            } else {
                                return `<div style='color:red; font-weight:bold; background:yellow;'>` + data['预计38/7XL'] + `</div>`
                            }
                        } else {
                            return ''
                        }
                    }}
                    ,{ field: '预计_40', title: '预计40', align: 'center' , width: 60, hide: false,
                    templet: function (data) {
                        if (data['预计_40'] > 0) {
                            return data['预计_40'] 
                        } else if (data['预计_40'] === '0') {
                            if (data['预计库存数量'] == 0) {
                                return data['预计_40']
                            } else {
                                return `<div style='color:red; font-weight:bold; background:yellow;'>` + data['预计_40'] + `</div>`
                            }
                        } else {
                            return ''
                        }
                    }}
                    ,{ field: '预计库存数量', title: '预计库存数量', width: 85 , align: 'center', hide: false}
                    , { field: '预计库存连码个数', title: '预计库存连码个数',  width: 110 , align: 'center'}
                    , { field: '标准齐码识别修订', title: '标准齐码识别修订',  width: 110 , align: 'center'}
                    , { field: '店铺SKC计数', title: '店铺SKC计数' , width: 80, align: 'center'}
                    , { field: '店铺近一周排名', title: '店铺近一周排名' , width: 100, align: 'center'}
                    , { field: '是否TOP60考核款', title: '是否TOP60考核款', width: 100 , align: 'center'}
                    , { field: '是否TOP60', title: '是否TOP60' , width: 80, align: 'center'}
                    , { field: '零售价', title: '零售价' , align: 'center'}
                    , { field: '当前零售价', title: '当前零售价', width: 80, align: 'center'}
                    , { field: '折率', title: '折率', align: 'center'}
                    , { field: '销售金额', title: '销售金额' , align: 'center'}
                    , { field: '总入量数量', title: '总入量数量', width: 80, align: 'center' , hide:false}
                    ,{ field: '累销数量', title: '累销数量', align: 'center', hide: false}
                    ,{ field: '实际分配TOP', title: '实际分配TOP', align: 'center',width: 80, hide: false}
                ]]
                ,done: function (res, curr, count) {
                    $('.dateStr').text(res.create_time);
                }
            });
        }
    });

</script>