<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>气温上新预警</title>
    <link rel="stylesheet" href="__STATIC__/ok/css/oksub.css">
    <link rel="stylesheet" href="__STATIC__/admin/css/flex.css">
    <script type="text/javascript" src="__STATIC__/ok/js/xm-select.js"></script>
    <style>
        body {
            overflow: hidden;
        }        
        .layui-table-cell {
            font-size: 12px;
            padding: 0 5px;
            height: auto;
            /*text-align: left;*/
        }

        .ok-form {
            margin-top: 5px;
        }

        .layui-btn+.layui-btn {
            margin-left: 3px;
        }

        .layui-form-item {
            margin-bottom: 0px;
            height: 30px;
        }

        .layui-input,
        .layui-select,
        .layui-textarea {
            height: 32px;
        }

        .layui-form-pane .layui-form-label {
            height: 32px;
            line-height: 15px;
        }

        .layui-form-select dl dd,
        .layui-form-select dl dt {
            line-height: 32px;
        }

        .layui-form-select dl {
            padding: 0px 0;
        }

        .layui-table th {
            font-weight: bolder;
        }

        .layui-form-pane .layui-form-label {
            text-align: right;
        }

        .layui-laypage .layui-laypage-curr .layui-laypage-em {
            background-color: #ffcc00;
            color: #666
        }

        .layui-colorpicker {
            width: 30px;
            height: 10px;
            line-height: 30px;
            padding: 0px;
        }
        

        .layui-table-cell{
            height:auto;
            overflow:visible;
            text-overflow:inherit;
        }
        /* .layui-unselect .layui-form-select {
            width: 80px !important;
        }  */
        .layui-col-md1 {
            width: 11.333% !important;
        }
        .layui-form-label {
            width: 130px !important;
        }

        .layui-input-inline {
            width: 40px;
        }
        .cima {
            height:18px; 
            line-height:18px;
        }
        .weather_div {
            height:28px;
        }
        .cima_1 {
            height:5px; 
            width:10px;
        }
        .cima_2 {
            line-height:5px;
        }
        .cima_manzu {
            /* height:5px; 
            width:10px; */
            line-height:5px
        }
        .autumn{
            color: #afaf00;
        }
        .winter{
            color: #24d3f2;
        }
        .hot {
            color: red;
        }
        .cool {
            color:#0879bb;
        }
        th[data-field="7"][data-key="1-0-7"] {
            background-color: #2e9574 !important;
            color:#ffffff;
        }
        th[data-field="温度"][data-key="1-1-11"] {
            background-color: #2e9574 !important;
            color:#ffffff;
        }
        th[data-field="8"][data-key="1-0-8"] {
            /* background-color: #c5aa2a !important; */
            background-color: #b9b9b9 !important;
            color:#ffffff;
        }
        th[data-field="9"][data-key="1-0-9"] {
            background-color: #dedede !important;
            /* color:#ffffff; */
        }
        th[data-field="季节"][data-key="1-1-23"] {
            background-color: #c5aa2a !important;
            color:#ffffff;
        }
        th[data-field="识别规则"][data-key="1-1-23"] {
            background-color: #c5aa2a !important;
            color:#ffffff;
        }
        th[data-field="识别天数"][data-key="1-1-24"] {
            background-color: #c5aa2a !important;
            color:#ffffff;
        }
        th[data-field="季节SKC数"][data-key="1-1-25"] {
            background-color: #c5aa2a !important;
            color:#ffffff;
        }

        th[data-field="提醒"][data-key="1-1-26"] {
            background-color: #ff3c00 !important;
            color:#ffffff;
        }
        th[data-field="10"][data-key="1-0-10"],
        th[data-field="春季SKC基本_内搭"][data-key="1-1-29"],
        th[data-field="春季SKC基本_外套"][data-key="1-1-30"] {
            background-color: #5a9afa !important;
            color:#ffffff;
        }
        
        th[data-field="11"][data-key="1-0-11"],
        th[data-field="提醒"][data-key="1-1-20"]{
            /* background-color: #b9b9b9 !important; */
            background-color: #ff3c00 !important;
            color:#ffffff;
        }
        th[data-field="12"][data-key="1-0-12"] {
            background-color: #c5aa2a !important;
            color:#ffffff;
        }
        th[data-field="17"][data-key="1-1-17"],
        th[data-field="0"][data-key="1-2-0"],
        th[data-field="1"][data-key="1-2-1"],
        th[data-field="2"][data-key="1-2-2"] {
            background-color: #90bcff !important;
            color:#ffffff;
        }
        th[data-field="18"][data-key="1-1-18"],
        th[data-field="3"][data-key="1-2-3"],
        th[data-field="4"][data-key="1-2-4"],
        th[data-field="5"][data-key="1-2-5"] {
            background-color: #7db0fc !important;
            color:#ffffff;
        }
        th[data-field="19"][data-key="1-1-19"],
        th[data-field="6"][data-key="1-2-6"],
        th[data-field="7"][data-key="1-2-7"],
        th[data-field="8"][data-key="1-2-8"] {
            background-color: #599afb !important;
            color:#ffffff;
        }
    </style>
</head>

<body class="" style="background-color: #ffffff;">
    <div class="layui-tab-item layui-show">
        <div id="map" class="layui-col-md12 layui-col-space8" style="background-color: #ffffff;">
            <form class="layui-form layui-form-pane ok-form layui-col-space8">
                <div class="flex row end between">
                    <div class="flex col between al-start" style="width:95%; height: 70px;">
                        <div class="layui-form-item">
                            <label class="layui-form-label" style="width: 110px !important; text-align: center; overflow: visible;">云仓</label>
                            <div class="layui-input-inline" style="width: 130px !important;">
                                <div id="xm-yc" class="xm-select-demo"></div>
                            </div>
                            <label class="layui-form-label" style="width: 110px !important; text-align: center; overflow: visible;">店铺名称</label>
                            <div class="layui-input-inline" style="width: 130px !important;">
                                <div id="xm-customer" class="xm-select-demo"></div>
                            </div>
                            <label class="layui-form-label" style="width: 110px !important; text-align: center; overflow: visible;">商品专员</label>
                            <div class="layui-input-inline" style="width: 130px !important;">
                                <div id="xm-customer17" class="xm-select-demo"></div>
                            </div>
                            <label class="layui-form-label" style="width: 110px !important; text-align: center; overflow: visible;">省份</label>
                            <div class="layui-input-inline" style="width: 130px !important;">
                                <div id="xm-province" class="xm-select-demo"></div>
                            </div>
                            <label class="layui-form-label" style="width: 110px !important; text-align: center; overflow: visible;">经营模式</label>
                            <div class="layui-input-inline" style="width: 130px !important;">
                                <div id="xm-jyms" class="xm-select-demo"></div>
                            </div>

                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label" style="width: 110px !important; text-align: center; overflow: visible;">提醒</label>
                            <div class="layui-input-inline" style="width: 130px !important;">
                                <div id="xm-tips" class="xm-select-demo"></div>
                            </div>
                            <!-- <label class="layui-form-label" style="width: 110px !important; text-align: center; overflow: visible;">秋季SKC数</label>
                            <div class="layui-input-inline" style="width: 130px !important;">
                                <div id="xm-skc-autumn" class="xm-select-demo"></div>
                            </div>
                            <label class="layui-form-label" style="width: 110px !important; text-align: center; overflow: visible;">冬季SKC数</label>
                            <div class="layui-input-inline" style="width: 130px !important;">
                                <div id="xm-skc-winter" class="xm-select-demo"></div>
                            </div> -->
                            <label class="layui-form-label" style="width: 110px !important; text-align: center;">秋季SKC数</label>
                            <div class="layui-input-inline" style="width: 130px !important;">
                                <select id="xm-skc-autumn" name="秋季SKC数" lay-verify="">
                                    <option value="">请选择</option>
                                    <option value="大于等于">大于等于{$config['秋季SKC']}</option>
                                    <option value="小于">小于{$config['秋季SKC']}</option>
                                </select>
                            </div>
                            <label class="layui-form-label" style="width: 110px !important; text-align: center;">冬季SKC数</label>
                            <div class="layui-input-inline" style="width: 130px !important;">
                                <select id="xm-skc-winter" name="冬季SKC数" lay-verify="">
                                    <option value="">请选择</option>
                                    <option value="大于等于">大于等于{$config['冬季SKC']}</option>
                                    <option value="小于">小于{$config['冬季SKC']}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="flex col between" style="width:5%; height:70px;">
                        <button lay-submit class="layui-btn layui-btn-sm" lay-filter="mapBtn"
                        style="background-image: -webkit-linear-gradient(left,#ffcc00,#ffcc00);letter-spacing:1px;color: #0051ff; line-height: 25px; float:right;">条件查询
                        </button>
                        <button lay-submit class="layui-btn layui-btn-sm" lay-filter="downloadBtn"
                        style="background-image: -webkit-linear-gradient(left,#ffffff,rgb(7, 199, 183));letter-spacing:1px;color: #0879bb; line-height: 25px; float:right; display:none;">导出全部
                        </button>
                    </div>
                </div>  
            </form>
        </div>
    </div>
    <div style="border: 0px solid red; float: left; width: 100%; margin-top: 5px;">
        <table class="layui-hide" id="table" lay-filter="table">
            <div style="text-align: center; color:#0051ff;">气温上新预警 <a class="dateStr"></a></div>
        </table>
        <div id="page"></div>
    </div>
</body>

</html>
<script src="__STATIC__/ok/lib/layui/layui.js"></script>
<script type="text/javascript" src="__STATIC__/ok/js/watermark.js"></script>
<!-- 单店不动销 -->
<script type="text/html" id="toolbar1">
    <div class="layui-btn-container">
      <button class="layui-btn layui-btn-sm" lay-event="download">【导出】所有单店品类断码情况</button>
      <!-- <button class="layui-btn layui-btn-sm" lay-event="delete">删除</button>
      <button class="layui-btn layui-btn-sm" lay-event="update">编辑</button> -->
    </div>
</script>
<script>
    watermark({ "watermark_txt": '南昌索歌服饰' });
    layui.use(['form', 'jquery', 'layer', 'table', 'laydate', 'laypage'], function () {
        let form = layui.form
            , $ = layui.$
            , layer = layui.layer
            , table = layui.table
            , laydate = layui.laydate
            , laypage = layui.laypage
            , url1 = "{:url('admin/system.Weathertips/Weathertips')}" 
            , url_download_history_area = "{:url('admin/system.Weathertips/excel_weathertips')}" 
            , url_getXmMapSelect = "{:url('admin/system.Weathertips/getXmMapSelect')}"

        initFn();
        startTable();

        // 选择云仓
        xmSelect.render({
            el: '#xm-yc', 
            filterable: true,
            toolbar: {show: true},
            name: '云仓',
            // showCount: 1,
            theme: {
                color: '#1cbbb4',
            },
            data: [
                {name: "南昌云仓", value: "南昌云仓", selected: ""},
                {name: "广州云仓", value: "广州云仓", selected: ""},
                {name: "武汉云仓", value: "武汉云仓", selected: ""},
                {name: "贵阳云仓", value: "贵阳云仓", selected: ""},
                {name: "长沙云仓", value: "长沙云仓", selected: ""},
            ]
        })
        // 
        xmSelect.render({
            el: '#xm-jyms', 
            filterable: true,
            toolbar: {show: true},
            name: '经营模式',
            // showCount: 1,
            theme: {
                color: '#1cbbb4',
            },
            data: [
                {name: "直营", value: "直营", selected: ""},
                {name: "加盟", value: "加盟", selected: ""},
            ]
        })

        // 选择省份
        xmSelect.render({
            el: '#xm-province', 
            filterable: true,
            name: '省份',
            // showCount: 1,
            data: []
        })

        // 选择店铺
        xmSelect.render({
            el: '#xm-customer', 
            filterable: true,
            name: '店铺名称',
            // showCount: 1,
            data: []
        })

        xmSelect.render({
            el: '#xm-customer17', 
            filterable: true,
            toolbar: {show: true},
            name: '商品专员',
            // showCount: 1,
            data: [
            ]
        })

        xmSelect.render({
            el: '#xm-tips', 
            filterable: true,
            toolbar: {show: true},
            name: '提醒',
            // showCount: 1,
            theme: {
                color: '#e4362b',
            },
            data: [
                {name: "上秋", value: "上秋", selected: false},
                {name: "上冬", value: "上冬", selected: false},
                {name: "上秋冬", value: "上秋冬", selected: false},
            ]
        })

        // xmSelect.render({
        //     el: '#xm-skc-autumn', 
        //     filterable: true,
        //     toolbar: {show: true},
        //     name: '秋季SKC',
        //     // showCount: 1,
        //     theme: {
        //         color: '#e4362b',
        //     },
        //     data: [
        //         {name: "大于等于{$config['秋季SKC']}", value: ">={$config['秋季SKC']}", selected: false},
        //         {name: "小于{$config['秋季SKC']}", value: "<{$config['秋季SKC']}", selected: false},
        //     ]
        // })

        // xmSelect.render({
        //     el: '#xm-skc-winter', 
        //     filterable: true,
        //     toolbar: {show: true},
        //     name: '冬季SKC',
        //     // showCount: 1,
        //     theme: {
        //         color: '#e4362b',
        //     },
        //     data: [
        //         {name: "大于等于{$config['冬季SKC']}", value: ">={$config['冬季SKC']}", selected: false},
        //         {name: "小于{$config['冬季SKC']}", value: "<{$config['冬季SKC']}", selected: false},
        //     ]
        // })

        function initFn() {
            $.get(url_getXmMapSelect, {}, function(res) {
                // console.log(res.data.provinceAll);
                // storeData = res.data.storeAll
                // provinceData = res.data.provinceAll    
                // 渲染所有店铺
                xmSelect.render({
                    el: '#xm-customer17', 
                    filterable: true,
                    toolbar: {show: true},
                    theme: {
                        color: '#1cbbb4',
                    },
                    // showCount: 1,
                    name:'商品负责人',
                    data: res.data.customer17
                })
                // 渲染所有省份
                xmSelect.render({
                    el: '#xm-province', 
                    filterable: true,
                    toolbar: {show: true},
                    theme: {
                        color: '#1cbbb4',
                    },
                    // showCount: 1,
                    name:'省份',
                    data: res.data.province
                })
                // 渲染所有店铺
                xmSelect.render({
                    el: '#xm-customer', 
                    filterable: true,
                    toolbar: {show: true},
                    theme: {
                        color: '#1cbbb4',
                    },
                    // showCount: 1,
                    name:'店铺名称',
                    data: res.data.customer
                })

            }, 'json')
        }

        //监听保存
        form.on('submit(mapBtn)', function (data) {
            table.reload('table', {
                where: data.field
                , method: 'post'
                , url: url1
                , loading: true
                , page: true
                , limit: data.field.limit
            })

            return false; 
        });

        form.on('submit(downloadBtn)', function (data) {
            $.post(url_download_history_area, data.field, function(res) {
                // table.exportFile('#table', res, 'xls');
                // console.log(223) 
                if (res.status == 1) {
                    if (res.count <= 100000) {
                        location.href = url_download_history_area + '?code=' + res.code
                        alert('数据有点多，请耐心等待');
                    } else {
                        alert('数据量太大了：' + res.count + '，增加点筛选条件吧！');
                    }
                }

            })
            return false; 
        });

        //触发事件
        table.on('toolbar(table)', function(obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'download':
                    location.href = url_download_history_area
                    alert('数据有点多，请耐心等待');
                break;
                case 'delete':
                layer.msg('删除');
                break;
                case 'update':
                layer.msg('编辑');
                break;
            };
        });

        function startTable() {
            var mapHeight = $('#map').height();
            // var yc = window.localStorage.getItem('viewCustomer_yc');
            // var gdno = window.localStorage.getItem('viewCustomer_gdno');
            var height = document.documentElement.clientHeight - mapHeight - 10;
            table.render({
                elem: '#table'
                ,url: url1
                , loading: true
                , method: 'post'
                // , toolbar: '#toolbar1'
                , toolbar: false
                , page: true
                , limit: 1000
                , limits: [500, 1000, 5000, 10000, 20000]
                , height: height
                , cellMinWidth: 60 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
                , where: { "提醒备注" : '请注意'}
                , cols: [[
                    { field: '云仓', title: '云仓', fixed: 'left' ,align: 'center' , width: 32, rowspan: 3}
                    , { field: '省份', title: '省份', fixed: 'left' ,align: 'center' , width: 32, rowspan: 3}
                    , { title: `<div class="flex col around">
                                 <div class="cima"></div>
                                 <div class="cima">商品</div>
                                 <div class="cima">专员</div>
                                 <div class="cima"></div>
                                </div>`, field: '商品专员', fixed: 'left', align: 'center' , width: 42, rowspan: 3}
                    , { field: '店铺名称', title: '店铺名称', fixed: 'left', align: 'center', width: 70, rowspan: 3}
                    , { title: `<div class="flex col around">
                                 <div class="cima">店</div>
                                 <div class="cima">铺</div>
                                 <div class="cima">等</div>
                                 <div class="cima">级</div>
                                </div>`, field: '店铺等级', fixed: 'left', width: 22, align: 'center', rowspan: 3}
                    , { title: `<div class="flex col around">
                                 <div class="cima"></div>
                                 <div class="cima">经营</div>
                                 <div class="cima">模式</div>
                                 <div class="cima"></div>
                                </div>`,field: '经营属性', fixed: 'left', align: 'center', width: 32,rowspan: 3}
                    , { title: `<div class="flex col around">
                                 <div class="cima">开业</div>
                                 <div class="cima">日期</div>
                                </div>`, field: '开业日期', fixed: 'left', width: 70, align: 'center' ,rowspan: 3, hide: false}
                    , { title: '气温变化', align: 'center' ,colspan: 12}

                    , { title: `<div class="flex col around">
                                 <div class="cima" style="">春季</div>
                                 <div class="cima">SKC数-基本</div>
                                </div>`, align: 'center', colspan: 2}
                    , { title: `<div class="flex col around">
                                 <div class="cima" style="">秋/冬季</div>
                                 <div class="cima">SKC数-基本</div>
                                </div>`, align: 'center' ,colspan: 3}
                    , { title: `近三天销售占比`, align: 'center' ,colspan: 9}

                    , { title: '上新提醒', align: 'center' ,colspan: 3}
                    , { title: '满足条件情况', align: 'center' ,colspan: 4}
                    
                    ],
                    // 气温变化
                    [{ title:  `<div class="flex col around" style="color:#b2b2b2;">
                                 <div class="cima">{$weather_date_month['day0']}</div>
                                 <div class="cima">月</div>
                                 <div class="cima">{$weather_date_day['day0']}</div>
                                 <div class="cima">日</div>
                               </div>`, align: 'center', colspan: 1, rowspan: 2, width: 30, templet: 
                    function (data) {
                        return `<div class="weather_div flex col around">
                                <div class="cima_1" style="height:5px; width:10px;"></div>   
                                 <div class="cima_2 hot" style="line-height:5px">${data['day0_max']?data['day0_max'] - 2:''}</div>
                                 <div class="cima_1" style="height:15px; width:10px;"></div> 
                                 <div class="cima2_2 cool" style="line-height:5px">${data['day0_min']?data['day0_min'] - 2:''}</div>
                               </div>`; 
                    }}
                    ,{ title: `<div class="flex col around" style="color:#969696;">
                                 <div class="cima">{$weather_date_month['day1']}</div>
                                 <div class="cima">月</div>
                                 <div class="cima">{$weather_date_day['day1']}</div>
                                 <div class="cima">日</div>
                               </div>`, field:'预计29/38/46/105/165/M', align: 'center',colspan: 1, rowspan: 2, width: 30, templet: 
                    function (data) {
                        return `<div class="weather_div flex col around">
                                <div class="cima_1" style="height:5px; width:10px;"></div>   
                                 <div class="cima_2 hot" style="line-height:5px">${data['day1_max']?data['day1_max'] - 2:''}</div>
                                 <div class="cima_1" style="height:15px; width:10px;"></div> 
                                 <div class="cima2_2 cool" style="line-height:5px">${data['day1_min']?data['day1_min'] - 2:''}</div>
                               </div>`; 
                    }}
                    ,{ title:  `<div class="flex col around">
                                 <div class="cima">{$weather_date_month['day2']}</div>
                                 <div class="cima">月</div>
                                 <div class="cima">{$weather_date_day['day2']}</div>
                                 <div class="cima">日</div>
                               </div>`, field:'预计30/39/48/110/170/L', align: 'center',colspan: 1, rowspan: 2, width: 30, templet: 
                    function (data) {
                        return `<div class="weather_div flex col around">
                                <div class="cima_1" style="height:5px; width:10px;"></div>   
                                 <div class="cima_2 hot" style="line-height:5px">${data['day2_max']?data['day2_max'] - 2:''}</div>
                                 <div class="cima_1" style="height:15px; width:10px;"></div> 
                                 <div class="cima2_2 cool" style="line-height:5px">${data['day2_min']?data['day2_min'] - 2:''}</div>
                               </div>`; 
                    }}
                    ,{ title:  `<div class="flex col around" style="color:red;">
                                 <div class="cima">{$weather_date_month['day3']}</div>
                                 <div class="cima">月</div>
                                 <div class="cima">{$weather_date_day['day3']}</div>
                                 <div class="cima">日</div>
                               </div>`, field:'预计31/40/50/115/175/XL', align: 'center',colspan: 1, rowspan: 2, width: 30, templet: 
                    function (data) {
                        return `<div class="weather_div flex col around">
                                <div class="cima_1" style="height:5px; width:10px;"></div>   
                                 <div class="cima_2 hot" style="line-height:5px">${data['day3_max']?data['day3_max'] - 2:''}</div>
                                 <div class="cima_1" style="height:15px; width:10px;"></div> 
                                 <div class="cima2_2 cool" style="line-height:5px">${data['day3_min']?data['day3_min'] - 2:''}</div>
                               </div>`; 
                    }}
                    ,{ title: `<div class="flex col around" style="color:#0096ff;">
                                 <div class="cima">{$weather_date_month['day4']}</div>
                                 <div class="cima">月</div>
                                 <div class="cima">{$weather_date_day['day4']}</div>
                                 <div class="cima">日</div>
                               </div>`, field:'预计32/41/52/120/180/2XL', align: 'center',colspan: 1, rowspan: 2, width: 30, templet: 
                    function (data) {
                        return `<div class="weather_div flex col around">
                                <div class="cima_1" style="height:5px; width:10px;"></div>   
                                 <div class="cima_2 hot" style="line-height:5px">${data['day4_max']?data['day4_max'] - 2:''}</div>
                                 <div class="cima_1" style="height:15px; width:10px;"></div> 
                                 <div class="cima2_2 cool" style="line-height:5px">${data['day4_min']?data['day4_min'] - 2:''}</div>
                               </div>`; 
                    }}
                    ,{ title: `<div class="flex col around" style="color:#0191f6;">
                                 <div class="cima">{$weather_date_month['day5']}</div>
                                 <div class="cima">月</div>
                                 <div class="cima">{$weather_date_day['day5']}</div>
                                 <div class="cima">日</div>
                               </div>`, field:'预计33/42/54/125/185/3XL', align: 'center',colspan: 1, rowspan: 2, width: 30, templet: 
                    function (data) {
                        return `<div class="weather_div flex col around">
                                <div class="cima_1" style="height:5px; width:10px;"></div>   
                                 <div class="cima_2 hot" style="line-height:5px">${data['day5_max']?data['day5_max'] - 2:''}</div>
                                 <div class="cima_1" style="height:15px; width:10px;"></div> 
                                 <div class="cima2_2 cool" style="line-height:5px">${data['day5_min']?data['day5_min'] - 2:''}</div>
                               </div>`; 
                    }}
                    ,{ title: `<div class="flex col around" style="color:#028ae9;">
                                 <div class="cima">{$weather_date_month['day6']}</div>
                                 <div class="cima">月</div>
                                 <div class="cima">{$weather_date_day['day6']}</div>
                                 <div class="cima">日</div>
                               </div>`, field:'预计34/43/56/190/4XL', align: 'center',colspan: 1, rowspan: 2, width: 30, templet: 
                    function (data) {
                        return `<div class="weather_div flex col around">
                                <div class="cima_1" style="height:5px; width:10px;"></div>   
                                 <div class="cima_2 hot" style="line-height:5px">${data['day6_max']?data['day6_max'] - 2:''}</div>
                                 <div class="cima_1" style="height:15px; width:10px;"></div> 
                                 <div class="cima2_2 cool" style="line-height:5px">${data['day6_min']?data['day6_min'] - 2:''}</div>
                               </div>`; 
                    }}
                    ,{ title: `<div class="flex col around" style="color:#0485df;">
                                 <div class="cima">{$weather_date_month['day7']}</div>
                                 <div class="cima">月</div>
                                 <div class="cima">{$weather_date_day['day7']}</div>
                                 <div class="cima">日</div>
                               </div>`, field:'预计35/44/58/195/5XL', align: 'center',colspan: 1, rowspan: 2, width: 30, templet: 
                    function (data) {
                        return `<div class="weather_div flex col around">
                                <div class="cima_1" style="height:5px; width:10px;"></div>   
                                 <div class="cima_2 hot" style="line-height:5px">${data['day7_max']?data['day7_max'] - 2:''}</div>
                                 <div class="cima_1" style="height:15px; width:10px;"></div> 
                                 <div class="cima2_2 cool" style="line-height:5px">${data['day7_min']?data['day7_min'] - 2:''}</div>
                               </div>`; 
                    }}
                    ,{ title: `<div class="flex col around" style="color:#0096ff;">
                                 <div class="cima">{$weather_date_month['day8']}</div>
                                 <div class="cima">月</div>
                                 <div class="cima">{$weather_date_day['day8']}</div>
                                 <div class="cima">日</div>
                               </div>`, field:'预计36/6XL', align: 'center',colspan: 1, rowspan: 2, width: 30, templet: 
                    function (data) {
                        return `<div class="weather_div flex col around">
                                <div class="cima_1" style="height:5px; width:10px;"></div>   
                                 <div class="cima_2 hot" style="line-height:5px">${data['day8_max']?data['day8_max'] - 2:''}</div>
                                 <div class="cima_1" style="height:15px; width:10px;"></div> 
                                 <div class="cima2_2 cool" style="line-height:5px">${data['day8_min']?data['day8_min'] - 2:''}</div>
                               </div>`; 
                    }}
                    ,{ title: `<div class="flex col around" style="color:#0582da;">
                                 <div class="cima">{$weather_date_month['day9']}</div>
                                 <div class="cima">月</div>
                                 <div class="cima">{$weather_date_day['day9']}</div>
                                 <div class="cima">日</div>
                               </div>`, field:'预计38/7XL', align: 'center',colspan: 1, rowspan: 2, width: 30, templet: 
                    function (data) {
                        return `<div class="weather_div flex col around">
                                <div class="cima_1" style="height:5px; width:10px;"></div>   
                                 <div class="cima_2 hot" style="line-height:5px">${data['day9_max']?data['day9_max'] - 2:''}</div>
                                 <div class="cima_1" style="height:15px; width:10px;"></div> 
                                 <div class="cima2_2 cool" style="line-height:5px">${data['day9_min']?data['day9_min'] - 2:''}</div>
                               </div>`; 
                    }}
                    ,{ title: `<div class="flex col around" style="color:#0481d9;">
                                 <div class="cima">{$weather_date_month['day10']}</div>
                                 <div class="cima">月</div>
                                 <div class="cima">{$weather_date_day['day10']}</div>
                                 <div class="cima">日</div>
                               </div>`, field:'预计_40', align: 'center',colspan: 1, rowspan: 2, width: 30, templet: 
                    function (data) {
                        return `<div class="weather_div flex col around">
                                <div class="cima_1" style="height:5px; width:10px;"></div>   
                                 <div class="cima_2 hot" style="line-height:5px">${data['day10_max']?data['day10_max'] - 2:''}</div>
                                 <div class="cima_1" style="height:15px; width:10px;"></div> 
                                 <div class="cima2_2 cool" style="line-height:5px">${data['day10_min']?data['day10_min'] - 2:''}</div>
                               </div>`; 
                    }}
                    ,{ title: `<div class="flex col around">
                                <div class="cima"></div>
                                <div class="cima">温</div>
                                <div class="cima">度</div>
                                <div class="cima"></div>
                                </div>`, field:'温度', align: 'center',rowspan: 2, width: 35, templet: 
                    function (data) {
                        return `<div class="weather_div flex col around">
                                <div class="cima_1" style="height:5px; width:10px;"></div>   
                                <div class="cima_manzu autumn hot" style="">最高</div>
                                <div class="cima_1" style="height:15px; width:10px;"></div> 
                                <div class="cima_manzu winter cool" style="">最低</div>
                            </div>`; 
                    }}

                    // 近三天销 
                    ,{ title:  `<div class="flex col around">
                                 <div class="cima"></div>
                                 <div class="cima" style="">内</div>
                                 <div class="cima">搭</div>
                                 <div class="cima"></div>
                                </div>`, field:'春季SKC基本_内搭', align: 'center',colspan: 1, rowspan: 2, width: 40, templet: 
                    function (data) {
                        return `<div class="weather_div flex col around">
                            <div class="cima_manzu" style="color:green;">${data['春季SKC基本_内搭']?data['春季SKC基本_内搭']:''}</div>
                        </div>`; 
    
                    }}
                    ,{ title:  `<div class="flex col around">
                                 <div class="cima"></div>
                                 <div class="cima">外</div>
                                 <div class="cima">套</div>
                                 <div class="cima"></div>
                                </div>`, field:'春季SKC基本_外套', align: 'center',colspan: 1, rowspan: 2, width: 40, templet: 
                    function (data) {
                        return `<div class="weather_div flex col around"> 
                            <div class="cima_manzu" style="color:green;">${data['春季SKC基本_外套']?data['春季SKC基本_外套']:''}</div>
                        </div>`; 
    
                    }}
                    ,{ title:  `<div class="flex col around">
                                 <div class="cima"></div>
                                 <div class="cima" style="">内</div>
                                 <div class="cima">搭</div>
                                 <div class="cima"></div>
                                </div>`, field:'秋冬季SKC基本_内搭', align: 'center',colspan: 1, rowspan: 2, width: 40, templet: 
                    function (data) {
                        return `<div class="weather_div flex col around">
                            <div class="cima_1" style="height:5px; width:10px;"></div>   
                            <div class="cima_manzu" style="color:#c89804;">${data['秋季SKC基本_内搭']?data['秋季SKC基本_内搭']:''}</div>
                            <div class="cima_1" style="height:15px; width:10px;"></div> 
                            <div class="cima_manzu" style="color:#0429c8;">${data['冬季SKC基本_内搭']?data['冬季SKC基本_内搭']:''}</div>
                        </div>`; 
    
                    }}
                    ,{ title:  `<div class="flex col around">
                                 <div class="cima"></div>
                                 <div class="cima">外</div>
                                 <div class="cima">套</div>
                                 <div class="cima"></div>
                                </div>`, field:'秋冬季SKC基本_外套', align: 'center',colspan: 1, rowspan: 2, width: 40, templet: 
                    function (data) {
                        return `<div class="weather_div flex col around">
                            <div class="cima_1" style="height:5px; width:10px;"></div>   
                            <div class="cima_manzu" style="color:#c89804;">${data['秋季SKC基本_外套']?data['秋季SKC基本_外套']:''}</div>
                            <div class="cima_1" style="height:15px; width:10px;"></div> 
                            <div class="cima_manzu" style="color:#0429c8;">${data['冬季SKC基本_外套']?data['冬季SKC基本_外套']:''}</div>
                        </div>`; 
    
                    }}
                    ,{ title:  `<div class="flex col around">
                                 <div class="cima"></div>
                                 <div class="cima">下</div>
                                 <div class="cima">装</div>
                                 <div class="cima"></div>
                                </div>`, field:'秋冬季SKC基本_下装', align: 'center',colspan: 1, rowspan: 2, width: 40, templet: 
                    function (data) {
                        return `<div class="weather_div flex col around">
                            <div class="cima_1" style="height:5px; width:10px;"></div>   
                            <div class="cima_manzu" style="color:#c89804;">${data['秋季SKC基本_下装']?data['秋季SKC基本_下装']:''}</div>
                            <div class="cima_1" style="height:15px; width:10px;"></div> 
                            <div class="cima_manzu" style="color:#0429c8;">${data['冬季SKC基本_下装']?data['冬季SKC基本_下装']:''}</div>
                        </div>`; 
    
                    }}
                    , { title: `大前天`, align: 'center' ,colspan: 3}
                    , { title: `前天`, align: 'center' ,colspan: 3}
                    , { title: `昨天`, align: 'center' ,colspan: 3}

                    // 上新提醒
                    ,{ title:  `<div class="flex col around">
                                 <div class="cima">提醒</div>
                               </div>`, field:'提醒', align: 'center',colspan: 1, rowspan: 2, width: 50, templet: 
                    function (data) {
                        if (data['提醒']) {
                            // return (data['售空提醒'] * 100).toFixed(1) + '%';
                            if (data['提醒'] == '上秋') {
                                if (data['秋季SKC'] < data['配置_秋季SKC']) {
                                    return `<div style="height:25px;line-height:25px;font-weight:bold;color:#c89804;background:#eeeeee;border:1px solid red; border-radius: 5px;">${data['提醒']}</div>`;
                                } else {
                                    return '';
                                }
                            } else if (data['提醒'] == '上冬') {
                                if (data['冬季SKC'] < data['配置_冬季SKC']) {
                                    return `<div style="height:25px;line-height:25px;font-weight:bold;color:#0429c8;background:#eeeeee;border:1px solid red; border-radius: 5px;">${data['提醒']}</div>`;     
                                } else {
                                    return '';
                                }
                            } else if (data['提醒'] == '上秋冬') {
                                
                                if (data['秋季SKC'] < data['配置_秋季SKC'] && data['冬季SKC'] < data['配置_冬季SKC']) {
                                    return `<div style="height:25px;line-height:25px;font-weight:bold;color:red;background:#eeeeee;border:1px solid red; border-radius: 5px;">${data['提醒']}</div>`;
                                } else if (data['秋季SKC'] < data['配置_秋季SKC']) {
                                    return `<div style="height:25px;line-height:25px;font-weight:bold;color:#c89804;background:#eeeeee;border:1px solid red; border-radius: 5px;">上秋</div>`;
                                } else if (data['冬季SKC'] < data['配置_冬季SKC']) {
                                    return `<div style="height:25px;line-height:25px;font-weight:bold;color:#0429c8;background:#eeeeee;border:1px solid red; border-radius: 5px;">上冬</div>`;     
                                } else {
                                    return '';
                                }
                
                            }
                        } else {
                            return '';
                        }
                    }}
                    ,{ title: `<div class="flex col around">
                                 <div class="cima"></div>
                                 <div class="cima">历史最早</div>
                                 <div class="cima">启动日期</div>
                                 <div class="cima"></div>
                                </div>`, field:'历史最早动日期', align: 'center',colspan: 1, rowspan: 2, width: 70, templet:
                    function (data) {
                        return `<div class="weather_div flex col around">
                                <div class="cima_1" style="height:5px; width:10px;"></div>   
                                <div class="cima_manzu" style="color:#c89804;">${data['秋季历史最早']?data['秋季历史最早']:''}</div>
                                <div class="cima_1" style="height:15px; width:10px;"></div> 
                                <div class="cima_manzu" style="color:#0429c8;">${data['冬季历史最早']?data['冬季历史最早']:''}</div>
                            </div>`; 
                    }}
                    // ,{ title:  `<div class="flex col around">
                    //              <div class="cima"></div>
                    //              <div class="cima">温区最早</div>
                    //              <div class="cima">启动日期</div>
                    //              <div class="cima"></div>
                    //             </div>`, field:'温区最早启动日期', align: 'center',colspan: 1, rowspan: 2, width: 70, templet: 
                    // function (data) {
                    //     return `<div class="weather_div flex col around">
                    //         <div class="cima_1" style="height:5px; width:10px;"></div>   
                    //         <div class="cima_manzu" style="color:#c89804;">${data['秋季温区最早']?data['秋季温区最早']:''}</div>
                    //         <div class="cima_1" style="height:15px; width:10px;"></div> 
                    //         <div class="cima_manzu" style="color:#0429c8;">${data['冬季温区最早']?data['冬季温区最早']:''}</div>
                    //     </div>`; 
    
                    // }}

                    ,{ title: `<div class="flex col around">
                                <div class="cima"></div>
                                <div class="cima">季</div>
                                <div class="cima">节</div>
                                <div class="cima"></div>
                                </div>`, field:'季节', align: 'center',rowspan: 2, width: 35, templet:
                    function (data) {
                        return `<div class="weather_div flex col around">
                                <div class="cima_1" style="height:5px; width:10px;"></div>   
                                <div class="cima_manzu autumn" style="color:#c89804;">秋季</div>
                                <div class="cima_1" style="height:15px; width:10px;"></div> 
                                <div class="cima_manzu winter" style="color:#0429c8;">冬季</div>
                            </div>`; 
                    }}
                    ,{ title: `<div class="flex col around">
                                <div class="cima">识</div>
                                <div class="cima">别</div>
                                <div class="cima">规</div>
                                <div class="cima">则</div>
                                </div>`, field:'识别规则', align: 'center',rowspan: 2, width: 35, templet:
                    function (data) {
                        return `<div class="weather_div flex col around">
                                <div class="cima_1" style="height:5px; width:10px;"></div>   
                                <div class="cima_manzu autumn" style="color:#c89804;">${data['识别规则_秋']?data['识别规则_秋']:''}</div>
                                <div class="cima_1" style="height:15px; width:10px;"></div> 
                                <div class="cima_manzu winter" style="color:#0429c8;">${data['识别规则_冬']?data['识别规则_冬']:''}</div>
                            </div>`; 
                    }}
                    ,{ title: `<div class="flex col around">
                                <div class="cima">识</div>
                                <div class="cima">别</div>
                                <div class="cima">天</div>
                                <div class="cima">数</div>
                                </div>`, field:'识别天数', align: 'center',rowspan: 2, width: 35, templet: 
                    function (data) {
                        if (data['识别规则_秋'] == 'A') {
                            var html1 = `
                                <div class="cima_1" style="height:5px; width:10px;"></div>   
                                <div class="cima_manzu autumn" style="color:#c89804;">${data['秋季连续天数A']}</div>
                            `; 
                        } else if (data['识别规则_秋'] == 'B') {
                            var html1 = `
                                <div class="cima_1" style="height:5px; width:10px;"></div>   
                                <div class="cima_manzu autumn" style="color:#c89804;">${data['秋季连续天数B']}</div>
                            `; 
                        } else if (data['识别规则_秋'] == 'C') {
                            var html1 = `
                                <div class="cima_1" style="height:5px; width:10px;"></div>   
                                <div class="cima_manzu autumn" style="color:#c89804;">${data['秋季天数C']}</div>
                            `; 
                        } else {
                            var html1 = `
                                <div class="cima_1" style="height:5px; width:10px;"></div>   
                                <div class="cima_manzu autumn" style=""> </div>
                            `;     
                        }

                        if (data['识别规则_冬'] == 'A') {
                            var html2 = `
                                <div class="cima_1" style="height:15px; width:10px;"></div> 
                                <div class="cima_manzu winter" style="color:#0429c8;">${data['冬季连续天数A']}</div>
                            `; 
                        } else if (data['识别规则_冬'] == 'B') {
                            var html2 = `
                                <div class="cima_1" style="height:15px; width:10px;"></div>   
                                <div class="cima_manzu winter" style="color:#0429c8;">${data['冬季连续天数B']}</div>
                            `; 
                        } else if (data['识别规则_冬'] == 'C') {
                            var html2 = `
                                <div class="cima_1" style="height:15px; width:10px;"></div>   
                                <div class="cima_manzu winter" style="color:#0429c8;">${data['冬季天数C']}</div>
                            `; 
                        } else {
                            var html2 = `
                                <div class="cima_1" style="height:15px; width:10px;"></div>   
                                <div class="cima_manzu winter" style="">&nbsp;</div>
                            `;     
                        }
                        return `<div class="weather_div flex col around">
                                ${html1}
                                ${html2}
                            </div>`; 
                    }}
                    ,{ title: `<div class="flex col around">
                                <div class="cima">季</div>
                                <div class="cima">节</div>
                                <div class="cima">SKC</div>
                                <div class="cima">数</div>
                                </div>`, field:'季节SKC数', align: 'center',rowspan: 2, width: 35, templet:
                    function (data) {
                        return `<div class="weather_div flex col around">
                                <div class="cima_1" style="height:5px; width:10px;"></div>   
                                <div class="cima_manzu autumn" style="color:#c89804;">${data['秋季SKC']?data['秋季SKC']:''}</div>
                                <div class="cima_1" style="height:15px; width:10px;"></div> 
                                <div class="cima_manzu winter" style="color:#0429c8;">${data['冬季SKC']?data['冬季SKC']:''}</div>
                            </div>`; 
                    }}
                    ],

                    // 近三天销售占比
                    [
                    // 前三天 
                     { title: `内搭`, align: 'center', templet: 
                    function (data) {
                        return `<div class="weather_div flex col around">
                            <div class="cima_1" style="height:5px; width:10px;"></div>   
                            <div class="cima_manzu" style="color:#000000;">${data['大前天_春秋_内搭']?'<span style="color:#c89804;">春秋:</span>'+data['大前天_春秋_内搭']:''}</div>
                            <div class="cima_1" style="height:15px; width:10px;"></div> 
                            <div class="cima_manzu" style="color:#000000;">${data['大前天_冬_内搭']?'<span style="color:#0429c8;">冬季:</span>'+data['大前天_冬_内搭']:''}</div>
                        </div>`; 
    
                    }}
                    , { title: `外套`, align: 'center', templet: 
                    function (data) {
                        return `<div class="weather_div flex col around">
                            <div class="cima_1" style="height:5px; width:10px;"></div>   
                            <div class="cima_manzu" style="color:#000000;">${data['大前天_春秋_外套']?'<span style="color:#c89804;">春秋:</span>'+data['大前天_春秋_外套']:''}</div>
                            <div class="cima_1" style="height:15px; width:10px;"></div> 
                            <div class="cima_manzu" style="color:#000000;">${data['大前天_冬_外套']?'<span style="color:#0429c8;">冬季:</span>'+data['大前天_冬_外套']:''}</div>
                        </div>`; 
    
                    }}
                    , { title: `下装`, align: 'center', templet: 
                    function (data) {
                        return `<div class="weather_div flex col around">
                            <div class="cima_1" style="height:5px; width:10px;"></div>   
                            <div class="cima_manzu" style="color:#000000;">${data['大前天_春秋_下装']?'<span style="color:#c89804;">春秋:</span>'+data['大前天_春秋_下装']:''}</div>
                            <div class="cima_1" style="height:15px; width:10px;"></div> 
                            <div class="cima_manzu" style="color:#000000;">${data['大前天_冬_下装']?'<span style="color:#0429c8;">冬季</span>:'+data['大前天_冬_下装']:''}</div>
                        </div>`; 
    
                    }}
                    // 前两天
                    , { title: `内搭`, align: 'center', templet: 
                    function (data) {
                        return `<div class="weather_div flex col around">
                            <div class="cima_1" style="height:5px; width:10px;"></div>   
                            <div class="cima_manzu" style="color:#000000;">${data['前天_春秋_内搭']?'<span style="color:#c89804;">春秋:</span>'+data['前天_春秋_内搭']:''}</div>
                            <div class="cima_1" style="height:15px; width:10px;"></div> 
                            <div class="cima_manzu" style="color:#000000;">${data['前天_冬_内搭']?'<span style="color:#0429c8;">冬季:</span>'+data['前天_冬_内搭']:''}</div>
                        </div>`; 
    
                    }}
                    , { title: `外套`, align: 'center', templet: 
                    function (data) {
                        return `<div class="weather_div flex col around">
                            <div class="cima_1" style="height:5px; width:10px;"></div>   
                            <div class="cima_manzu" style="color:#000000;">${data['前天_春秋_外套']?'<span style="color:#c89804;">春秋:</span>'+data['前天_春秋_外套']:''}</div>
                            <div class="cima_1" style="height:15px; width:10px;"></div> 
                            <div class="cima_manzu" style="color:#000000;">${data['前天_冬_外套']?'<span style="color:#0429c8;">冬季:</span>'+data['前天_冬_外套']:''}</div>
                        </div>`; 
    
                    }}
                    , { title: `下装`, align: 'center', templet: 
                    function (data) {
                        return `<div class="weather_div flex col around">
                            <div class="cima_1" style="height:5px; width:10px;"></div>   
                            <div class="cima_manzu" style="color:#000000;">${data['前天_春秋_下装']?'<span style="color:#c89804;">春秋:</span>'+data['前天_春秋_下装']:''}</div>
                            <div class="cima_1" style="height:15px; width:10px;"></div> 
                            <div class="cima_manzu" style="color:#000000;">${data['前天_冬_下装']?'<span style="color:#0429c8;">冬季:</span>'+data['前天_冬_下装']:''}</div>
                        </div>`; 
    
                    }}
                    // 昨天
                    , { title: `内搭`, align: 'center', templet: 
                    function (data) {
                        return `<div class="weather_div flex col around">
                            <div class="cima_1" style="height:5px; width:10px;"></div>   
                            <div class="cima_manzu" style="color:#000000;">${data['昨天_春秋_内搭']?'<span style="color:#c89804;">春秋:</span>'+data['昨天_春秋_内搭']:''}</div>
                            <div class="cima_1" style="height:15px; width:10px;"></div> 
                            <div class="cima_manzu" style="color:#000000;">${data['昨天_冬_内搭']?'<span style="color:#0429c8;">冬季:</span>'+data['昨天_冬_内搭']:''}</div>
                        </div>`; 
    
                    }}
                    , { title: `外套`, align: 'center', templet: 
                    function (data) {
                        return `<div class="weather_div flex col around">
                            <div class="cima_1" style="height:5px; width:10px;"></div>   
                            <div class="cima_manzu" style="color:#000000;">${data['昨天_春秋_外套']?'<span style="color:#c89804;">春秋:</span>'+data['昨天_春秋_外套']:''}</div>
                            <div class="cima_1" style="height:15px; width:10px;"></div> 
                            <div class="cima_manzu" style="color:#000000;">${data['昨天_冬_外套']?'<span style="color:#0429c8;">冬季:</span>'+data['昨天_冬_外套']:''}</div>
                        </div>`; 
    
                    }}
                    , { title: `下装`, align: 'center', templet: 
                    function (data) {
                        return `<div class="weather_div flex col around">
                            <div class="cima_1" style="height:5px; width:10px;"></div>   
                            <div class="cima_manzu" style="color:#000000;">${data['昨天_春秋_下装']?'<span style="color:#c89804;">春秋</span>:'+data['昨天_春秋_下装']:''}</div>
                            <div class="cima_1" style="height:15px; width:10px;"></div> 
                            <div class="cima_manzu" style="color:#000000;">${data['昨天_冬_下装']?'<span style="color:#0429c8;">冬季</span>:'+data['昨天_冬_下装']:''}</div>
                        </div>`; 
    
                    }}
                    ],
                ]
                ,done: function (res, curr, count) {
                    $('.dateStr').text(res.create_time);
                }
            });
        }
    });

</script>