<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>单店不动销-查询</title>
    <link rel="stylesheet" href="__STATIC__/ok/css/oksub.css">
    <script type="text/javascript" src="__STATIC__/ok/js/xm-select.js"></script>
    <style>
        .layui-table-cell {
            font-size: 12px;
            padding: 0 5px;
            height: auto;
            /*text-align: left;*/
        }

        .ok-form {
            margin-top: 5px;
        }

        .layui-btn+.layui-btn {
            margin-left: 3px;
        }

        .layui-form-item {
            margin-bottom: 0px;
            height: 30px;
        }

        .layui-input,
        .layui-select,
        .layui-textarea {
            height: 32px;
        }

        .layui-form-pane .layui-form-label {
            height: 32px;
            line-height: 15px;
        }

        .layui-form-select dl dd,
        .layui-form-select dl dt {
            line-height: 32px;
        }

        .layui-form-select dl {
            padding: 0px 0;
        }

        .layui-table th {
            font-weight: bolder;
        }

        .layui-form-pane .layui-form-label {
            text-align: right;
        }

        .layui-laypage .layui-laypage-curr .layui-laypage-em {
            background-color: #ffcc00;
            color: #666
        }

        .layui-colorpicker {
            width: 30px;
            height: 10px;
            line-height: 30px;
            padding: 0px;
        }
        

        .layui-table-cell{
            height:auto;
            overflow:visible;
            text-overflow:inherit;
        }
        /* .layui-unselect .layui-form-select {
            width: 80px !important;
        }  */
        .test {
            border: 1px solid red !important;
        }
        xm-select .xm-body .xm-option .xm-option-icon {
            height: 15px !important;
            width: 15px !important;
            font-size: 15px !important;
        }
        .layui-col-md1 {
            width: 11.333% !important;
        }
        .layui-form-label {
            width: 120px !important;
        }

        .layui-input-inline {
            width: 40px;
        }
    </style>
</head>

<body class="" style="background-color: #ffffff;">
    <div class="layui-col-md12 layui-col-space8" style="background-color: #ffffff;">
        <form class="layui-form layui-form-pane ok-form layui-col-space8">
            <div class="layui-col-md12 layui-col-sm12 layui-col-space8">
                <div class="layui-form-item">
                    <label class="layui-form-label" style="width: 90px !important; text-align: center;">季节归集</label>
                    <div class="layui-input-inline" style="width: 150px !important;">
                        <select name="季节归集" lay-verify="required">
                            <option value="春季">春季</option>
                            <option value="夏季">夏季</option>
                            <option value="秋季">秋季</option>
                            <option value="冬季">冬季</option>
                        </select>
                    </div>

                    <label class="layui-form-label" style="width: 90px !important; text-align: center;">省份</label>
                    <div class="layui-input-inline" style="width: 150px !important; ">
                        <select name="省份" lay-verify="">
                            <option value="">所有省份</option>
                            {foreach $province as $key=>$vo}
                            <option value="{$vo['省份']}">{$vo['省份']}</option>
                            {/foreach}
                        </select>
                    </div>

                    <label class="layui-form-label" style="width: 90px !important; text-align: center; overflow:visible;">商品负责人</label>
                    <div class="layui-input-inline" style="width: 150px !important;">
                        <select name="商品负责人" lay-verify="">
                            <option value="">所有负责人</option>
                            {foreach $people as $key=>$vo}
                            <option value="{$vo['商品负责人']}">{$vo['商品负责人']}</option>
                            {/foreach}
                        </select>
                    </div>

                    <label class="layui-form-label" style="width: 90px !important; text-align: center;">经营模式</label>
                    <div class="layui-input-inline" style="width: 150px !important; ">
                        <select name="经营模式" lay-verify="">
                            <option value="">所有模式</option>
                            <option value="加盟">加盟</option>
                            <option value="直营">直营</option>
                        </select>
                    </div>

                    <label class="layui-form-label" style="width: 90px !important; text-align: center;">考核区间</label>
                    <div class="layui-input-inline" style="width: 150px !important;">
                        <select name="考核区间" lay-verify="required">
                            <option value="30天以上">30天以上</option>
                            <option value="20-30天">20-30天</option>
                            <option value="15-20天">15-20天</option>
                            <option value="10-15天">10-15天</option>
                            <option value="5-10天">5-10天</option>
                        </select>
                    </div>

                    <label class="layui-form-label" style="width: 90px !important; text-align: center; overflow: visible;">上市时间</label>
                    <div class="layui-input-inline" style="width: 150px !important;">
                        <input type="text" name="上市时间" class="layui-input" id="shangshiriqi" placeholder="yyyy-MM-dd">
                    </div>
                </div>


                <div class="layui-form-item">
                    <label class="layui-form-label" style="width: 90px !important; text-align: center; overflow: visible;">上市天数>=</label>
                    <div class="layui-input-inline" style="width: 150px !important;">
                        <input type="number" name='上市天数' autocomplete="off" value="30" maxlength="3"
                            class="layui-input" lay-verify="required">
                    </div>

                    <label class="layui-form-label" style="width: 90px !important; text-align: center; overflow: visible;">不考核门店</label>
                    <div class="layui-input-inline" style="width: 150px !important;">
                        <div id="xm-nostore" class="xm-select-demo"></div>
                    </div>

                    <label class="layui-form-label" style="width: 90px !important; text-align: center; overflow: visible;">查询记录数</label>
                    <div class="layui-input-inline" style="width: 150px !important;">
                        <select name="limit" lay-verify="required">
                            <option value="10000">所有记录</option>
                            <option value="500">500条</option>
                            <option value="300">300条</option>
                            <option value="100">100条</option>
                            <option value="50">50条</option>
                        </select>
                    </div>
                </div>

                <!-- <hr> -->
                {foreach $typeQima as $key=>$vo}
                <div class="layui-col-md1">
                    <label class="layui-form-label">{$key}齐码</label>
                    <div class="layui-input-inline">
                        <input type="number" name='{$key}' autocomplete="off" value="{$vo}" maxlength="1"
                            class="layui-input" lay-verify="required">
                    </div>
                </div>
                {/foreach}
                <!-- <hr>    -->
                <div class="layui-col-md2 layui-col-sm11"
                    style="border:0px solid red; float: right; text-align: right;">
                    <button lay-submit class="layui-btn layui-btn-xs" lay-filter="formDemo"
                        style="background-image: -webkit-linear-gradient(left,#ffcc00,#ffcc00);letter-spacing:1px;color: #0051ff; line-height: 25px;">数据筛选
                    </button>
                    <button type="reset" class="layui-btn layui-btn-xs"
                        style="background-image: -webkit-linear-gradient(left,#ffcc00,#ffcc00);letter-spacing:1px;color: #0051ff; line-height: 25px;">重置筛选
                    </button>
                    <button type="reset" class="layui-btn layui-btn-xs"
                    style="background-image: -webkit-linear-gradient(left,#ffcc00,#ffcc00);letter-spacing:1px;color: #0051ff; line-height: 25px;">保存筛选
                </button>
                </div>
            </div>
        </form>
    </div>
    <div style="border: 0px solid red; float: left; width: 100%; margin-top: 10px;">
        <table class="layui-hide" id="table" ></table>
    </div>
</body>

</html>
<script type="text/javascript" src="__STATIC__/ok/js/xm-select.js"></script>
<script type="text/javascript" src="__STATIC__/ok/lib/layui/layui.js"></script>
<script type="text/javascript" src="__STATIC__/ok/js/watermark.js"></script>
<script>
    watermark({ "watermark_txt": '南昌索歌服饰' });
    layui.use(['form', 'jquery', 'layer', 'table', 'laydate'], function () {
        let form = layui.form
            , $ = layui.$
            , layer = layui.layer
            , table = layui.table
            , laydate = layui.laydate;
        let url1 = "{:url('admin/system.Budongxiao/index')}";
        // let url1 = ea.url('/system.Budongxiao/index');

        startTable();

        // 日期选择器
        laydate.render({
            elem: '#shangshiriqi'
        });

        var xm_no_store = xmSelect.render({
            el: '#xm-nostore', 
            filterable: true,
            // showCount: 1,
            data: [
                {name: '张三1', value: 1},
                {name: '李四1', value: 2},
                {name: '王五1', value: 3},
                {name: '赵六1', value: 4},
                {name: '苹果2', value: 5},
                {name: '香蕉2', value: 6},
                {name: '凤梨2', value: 7},
                {name: '葡萄2', value: 8},
                {name: '樱桃3', value: 9},
                {name: '车厘子3', value: 10},
                {name: '火龙果3', value: 11},
            ]
        })

        //监听提交
        form.on('submit(formDemo)', function (data) {
            console.log(data.field);
            // layer.msg(JSON.stringify(data.field));
            data.field.isAjax = true

            table.reload('table', {
                where: data.field
                , method: 'post'
                , url: url1
                , loading: true
                , page: false
                , limit: data.field.limit
            })
            return false;
        });

        function startTable() {
            table.render({
                elem: '#table'
                // ,url: url1
                , loading: false
                , method: 'post'
                , toolbar: true
                , page: false
                , limit: 0
                , cellMinWidth: 100 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
                , cols: [[
                    { field: '商品负责人', title: '商品负责人' }
                    , { field: '省份', title: '省份' }
                    , { field: '云仓简称', title: '云仓简称' }
                    , { field: '店铺简称', title: '店铺简称' }
                    , { field: '经营性质', title: '经营属性' }
                    , { field: '预计SKC数', title: '预计SKC数' }
                    , { field: '5-10天', title: '5-10天' }
                    , { field: '10-15天', title: '10-15天' }
                    , { field: '15-20天', title: '15-20天' }
                    , { field: '20-30天', title: '20-30天' }
                    , { field: '30天以上', title: '30天以上' }
                    , { field: '【考核标准】键', title: '【考核标准】键' }
                    , { field: '【考核标准】值', title: '【考核标准】值' }
                    , { field: '合格率10%以下', title: '合格率10%以下' }
                    , { field: '需要调整SKC数', title: '需要调整SKC数' }
                ]]
                ,done: function (res, curr, count) {
                    layer.alert("加载完成");
                    console.log(res);
                }
            });
        }

        // 单店不动销数据统计 
        function startTable2() {
            table.render({
                elem: '#table'
                // ,url: url1
                , loading: false
                , method: 'post'
                , toolbar: true
                , page: false
                , limit: 0
                , cellMinWidth: 100 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
                , cols: [[
                    { field: '商品负责人', title: '商品负责人' }
                    , { field: '省份', title: '省份' }
                    , { field: '云仓简称', title: '云仓简称' }
                    , { field: '店铺简称', title: '店铺简称' }
                    , { field: '经营性质', title: '经营属性' }
                    , { field: '预计SKC数', title: '预计SKC数' }
                    , { field: '5-10天', title: '5-10天' }
                    , { field: '10-15天', title: '10-15天' }
                    , { field: '15-20天', title: '15-20天' }
                    , { field: '20-30天', title: '20-30天' }
                    , { field: '30天以上', title: '30天以上' }
                    , { field: '【考核标准】键', title: '【考核标准】键' }
                    , { field: '【考核标准】值', title: '【考核标准】值' }
                    , { field: '合格率10%以下', title: '合格率10%以下' }
                    , { field: '需要调整SKC数', title: '需要调整SKC数' }
                ]]
                ,done: function (res, curr, count) {
                    layer.alert("加载完成");
                    console.log(res);
                }
            });
        }
    });

</script>