
.xb {
    float:left; clear:right;
    margin: 8px 0px 10px 10px;
    height: 30px;
    width: 100px;
    right: 25px;
    bottom: 25px;
    background: #20a53a;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px #00000050;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    z-index: 99999996;
    /*border-radius: 50%;*/
    color: #fff;
}
.debugs {
    height: 40px;
    width: 40px;
    position: fixed;
    right: 25px;
    bottom: 25px;
    background: #20a53a;
    border-radius: 2px;
    box-shadow: 0 0 5px 2px #00000050;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    z-index: 99999996;
    border-radius: 50%;
    color: #fff;
    text-align: center;
}

.debugs span {
    display: inline-block;
    line-height: 15px;
    vertical-align: middle;
    font-size: 12px;
}

.feedback-box {
    position: fixed;
    width: 340px;
    right:  5px;
    bottom: 80px;
    z-index: 99999998;
    border-radius: 2px;
    background-color: #FFFFFF;
    box-shadow: 0 0 8px 1px #aeaeae;
}

.feedback-mask {
    position: fixed;
    height: 620px;
    width: 340px;
    right: 25px;
    bottom: 30px;
    z-index: 999999996;
    border-radius: 2px;
    background-color: #666;
    opacity: 0.6;
}

.feedback-border {
    position: fixed;
    height: 390px;
    width: 336px;
    right: 60px;
    bottom: 230px;
    z-index: 999999999;
    border-radius: 2px;
    background-color: #FFFFFF;
}

.feedback-head {
    height: 48px;
    padding-top: 16px;
    font-size: 14px;
    color: #333;
    text-align: center;
    border-radius: 2px;
    background-color: #f8f8f8;
}

.feedback-bottom {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 48px;
    background: #f6f8f8;
    margin: 0;
    border-radius: 2px;
}

.feedback-span {
    margin: 10px 17px 5px 18px;
    color: #000;
    font-weight: 400;
}

.feedback-text-input {
    margin: 0px 18px;
    width: 89%;
    height: 23%;
}

.feedback-text-input textarea {
    width: 100%;
    height: 100%;
    resize: none;
    padding: 10px;
    border-width: 1px;
    border-color: #9A9A9A;
    border-radius: 2px;
}

.feedback-tip {
    color: red;
    font-size: 12px;
    margin: 5px 11px 5px 17px
}

.feedback-image-box {
    height: 90px;
    width: 91px;
    margin: 0px 9px 0px 0px;
    border: 2px dashed #969696;
    display: inline-block;
}

.image-span {
    position: absolute;
    font-size: 48px;
    color: #9A9A9A;
    font-weight: 100;
    text-align: center;
}

.image-span span {
    vertical-align: middle;
    position: relative;
    left: 27px;
}

.feedback-image-box:hover {
    border-color: #20a53a;
    color: #20a53a;
}

.feedback-image-box:hover .image-span {
    border-color: #20a53a;
    color: #20a53a;
}

.feedback-image-box img {
    position: absolute;
    width: 90px;
    height: 88px;
}

.image-span:hover {
    color: #A8A8A8;
}

.image-tip {
    position: absolute;
    margin-top: -50px;
    margin-left: 0px;
    width: 100px;
}

.feedback-button-group {
    position: absolute;
    width: 70px;
    bottom: 8px;
    right: 19px
}

.feedback-button-group .active .focus {
    outline: none;
    border-color: transparent;
    box-shadow: none;
}

/* .content-check input[type=checkbox]:checked{

} */
.content-check label {
    display: inline;
    cursor: pointer;
    width: 310px;
    margin-left: 5px;
    margin-top: 3px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1px;
    margin-bottom: 0px;
    font-weight: 400;
    color: #A0A0A0
}

.feedback-box-bottom {
    width: 340px;
    height: 68px;
    margin-top: 60px;
    border-radius: 0px 0px 10px 10px;
    background-color: #F9F9F9;
    border: 1px solid #F5F5F5;
    z-index: 99999999;
}

.feedback-button {
    width: 80px;
    border-radius: 4px;
    float: right;
    margin: 13px 20px 15px 0px;
    padding: 10px 10px;
    border: 0px solid #F5F5F5;
    font-size: 14px;
    color: #FFFFFF;
    outline: none;
}

.chatting {
    list-style: inside disc;
    float: left;
    margin-top: 200px;
    margin-left: 67px;
    font-size: 14px;
    color: #A0A0A0;
}

.chatting:hover {
    color: #20a53a;
    cursor: pointer;
}

.feedback-history {
    float: left;
    margin-top: 240px;
    margin-left: 125px;
    font-size: 14px;
    color: #A0A0A0;
}

.feedback-history:hover {
    color: #20a53a;
    cursor: pointer;
}

/**
* @description 聊天界面
*/
.chat-head {
    width: 340px;
    height: 32px;
    border-radius: 2px 2px 0px 0px;
    z-index: 99999999;
    background-color: #F9F9F9;
}

.chat-back, .history-list-back {
    width: 140px;
    height: 10px;
    margin: 5px 20px;
    border: 0px solid #F5F5F5;
    background-color: #F9F9F9;
    border-radius: 10px;
    outline: none;
}

.history-list {
    float: right;
    width: 50px;
    height: 24px;
    margin: 3px 2px;
    font-size: 10px;
    padding: 0px 0px;
    color: #8C8C8C;
    background-color: #FAFAFA;
    border-radius: 2px;
    border: 1px solid #E7E7E7;
    outline: none;
}

.history-list span {
    font-size: 10px;
    padding: 5px;
}

.chat-back:hover {
    background-color: #A5A5A5;
    color: #FFFFFF;
}

.chat-back .active .focus {
    outline: none;
    border-color: transparent;
    box-shadow: none;
}

.history-list:hover {
    background-color: #A5A5A5;
    color: #FFFFFF;
}

.history-list-back:hover {
    background-color: #A5A5A5;
    color: #FFFFFF;
}

.history-list .active .focus {
    outline: none;
    border-color: transparent;
    box-shadow: none;
}

.history-list-back .active .focus {
    outline: none;
    border-color: transparent;
    box-shadow: none;
}

.chat-content {
    width: 340px;
    height: 460px;
    z-index: 99999999;
    background-color: #FFFFFF;
    overflow: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    -ms-content-zooming: zoom;
    scrollbar-width: none;
    scrollbar-color: transparent transparent;
    scrollbar-track-color: transparent;
    -ms-scrollbar-track-color: transparent;
}

.chat-content::-webkit-scrollbar {
    display: none;
}

.chat-system {
    float: left;
    position: relative;
    left: 40%;
    max-width: 85%;
    max-height: 90%;
    padding: 2px 5px;
    margin-left: 10%;
}

.chat-system p {
    float: left;
    position: relative;
    left: -50%;
    margin: 10px 30px;}
