<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>单店上装明细</title>
    <link rel="stylesheet" href="__STATIC__/ok/css/oksub.css">
    <link rel="stylesheet" href="__STATIC__/admin/css/flex.css">
    <script type="text/javascript" src="__STATIC__/ok/js/xm-select.js"></script>
    <style>
        body {
            overflow: hidden;
        }        
        .layui-table-cell {
            font-size: 12px;
            padding: 0 5px;
            height: auto;
            /*text-align: left;*/
        }

        .ok-form {
            margin-top: 5px;
        }

        .layui-btn+.layui-btn {
            margin-left: 3px;
        }

        .layui-form-item {
            margin-bottom: 0px;
            height: 30px;
        }

        .layui-input,
        .layui-select,
        .layui-textarea {
            height: 32px;
        }

        .layui-form-pane .layui-form-label {
            height: 32px;
            line-height: 15px;
        }

        .layui-form-select dl dd,
        .layui-form-select dl dt {
            line-height: 32px;
        }

        .layui-form-select dl {
            padding: 0px 0;
        }

        .layui-table th {
            font-weight: bolder;
        }

        .layui-form-pane .layui-form-label {
            text-align: right;
        }

        .layui-laypage .layui-laypage-curr .layui-laypage-em {
            background-color: #ffcc00;
            color: #666
        }

        .layui-colorpicker {
            width: 30px;
            height: 10px;
            line-height: 30px;
            padding: 0px;
        }
        

        .layui-table-cell{
            height:auto;
            overflow:visible;
            text-overflow:inherit;
        }
        /* .layui-unselect .layui-form-select {
            width: 80px !important;
        }  */
        .layui-col-md1 {
            width: 11.333% !important;
        }
        .layui-form-label {
            width: 130px !important;
        }

        .layui-input-inline {
            width: 40px;
        }
    </style>
</head>

<body class="" style="background-color: #ffffff;">
    <div class="layui-tab-item layui-show">
        <div class="layui-col-md12 layui-col-space8" style="background-color: #ffffff;">
            <form class="layui-form layui-form-pane ok-form layui-col-space8">
                <div class="flex row end between">
                    <div class="flex col between al-start" style="width:95%; height: 40px;">
                        
                        <div class="layui-form-item">
                            <label class="layui-form-label" style="width: 110px !important; text-align: center; overflow: visible;">省份</label>
                            <div class="layui-input-inline" style="width: 130px !important;">
                                <div id="xm-province" class="xm-select-demo"></div>
                            </div>
                            <label class="layui-form-label" style="width: 110px !important; text-align: center; overflow: visible;">经营性质</label>
                            <div class="layui-input-inline" style="width: 130px !important;">
                                <div id="xm-store_type" class="xm-select-demo"></div>
                            </div>
                            <label class="layui-form-label" style="width: 110px !important; text-align: center; overflow: visible;">商品负责人</label>
                            <div class="layui-input-inline" style="width: 130px !important;">
                                <div id="xm-goods_manager" class="xm-select-demo"></div>
                            </div>

                            <label class="layui-form-label" style="width: 110px !important; text-align: center; overflow: visible;">店铺名称</label>
                            <div class="layui-input-inline" style="width: 130px !important;">
                                <div id="xm-store_name" class="xm-select-demo"></div>
                            </div>

                            <label class="layui-form-label" style="width: 141px !important; text-align: center; overflow: visible;">窗数 <=</label>
                            <div class="layui-input-inline" style="width: 100px !important;">
                                <input type="number" name='five_item_num' autocomplete="off" value="" maxlength="6" placeholder=""
                                    class="layui-input" lay-verify="required">
                            </div>
                        </div>

                    </div>

                    <div class="flex col between" style="width:5%; height: 40px;">
                        <button lay-submit class="layui-btn layui-btn-sm" lay-filter="mapBtn"
                        style="background-image: -webkit-linear-gradient(left,#ffcc00,#ffcc00);letter-spacing:1px;color: #0051ff; line-height: 25px; float:right;">查询结果
                        </button>
                    </div>
                </div>  
            </form>
        </div>
    </div>

    <div style="border: 0px solid red; float: left; width: 100%; margin-top: 10px;">
        <table class="layui-hide" id="table" lay-filter="table">
            <div style="text-align: center; color:#0051ff;"> <a class="dateStr"></a></div>
        </table>
        <div id="page"></div>
    </div>
</body>

</html>
<script src="__STATIC__/ok/lib/layui/layui.js"></script>
<script type="text/javascript" src="__STATIC__/ok/js/watermark.js"></script>
<script type="text/html" id="toolbar1">
    <div class="layui-btn-container">
      <!-- <button class="layui-btn layui-btn-sm" lay-event="download">【导出】所有单省单款断码情况</button> -->
      <button class="layui-btn layui-btn-sm zhouxiao" lay-event="delete">周销</button>
      <button class="layui-btn layui-btn-sm yujiskc" lay-event="update">预计在途skc</button>
      <button class="layui-btn layui-btn-sm yujiwin" lay-event="update">预计窗数</button>
      <button class="layui-btn layui-btn-sm overflow" lay-event="update">溢出提醒</button>
    </div>
</script>
<script>
    watermark({ "watermark_txt": '南昌索歌服饰' });

    layui.use(['form', 'jquery', 'layer', 'table', 'laydate', 'laypage'], function () {
        let form = layui.form
            , $ = layui.$
            , layer = layui.layer
            , table = layui.table
            , laydate = layui.laydate
            , laypage = layui.laypage
            , url1 = "{:url('admin/system.skc.Skc/get_sz_index')}" 
            , url_getXmMapSelect = "{:url('admin/system.skc.Skc/getXmMapSelect')}"

        initFn();
        startTable();

        //省份
        xmSelect.render({
            el: '#xm-province', 
            filterable: true,
            // toolbar: {show: true},
            name: 'province',
            data: []
        })
        //经营性质
        xmSelect.render({
            el: '#xm-store_type', 
            filterable: true,
            // toolbar: {show: true},
            name: 'store_type',
            data: []
        })
        //商品负责人
        xmSelect.render({
            el: '#xm-goods_manager', 
            filterable: true,
            // toolbar: {show: true},
            name: 'goods_manager',
            data: []
        })
        //店铺名称
        xmSelect.render({
            el: '#xm-store_name', 
            filterable: true,
            // toolbar: {show: true},
            name: 'store_name',
            data: []
        })

        // 日期选择器
        laydate.render({
            elem: '#shangshiriqi'
        });

        //触发事件
        // table.on('toolbar(table)', function(obj) {
        //     var checkStatus = table.checkStatus(obj.config.id);
        //     switch(obj.event){
        //         case 'download':
        //             location.href = url_download_history_area
        //             alert('数据有点多，请耐心等待');
        //         break;
        //         case 'delete':
        //         layer.msg('删除');
        //         break;
        //         case 'update':
        //         layer.msg('编辑');
        //         break;
        //     };
        // });

        function initFn() {
            $.get(url_getXmMapSelect, {}, function(res) {

                //省份
                xmSelect.render({
                    el: '#xm-province', 
                    filterable: true,
                    toolbar: {show: true},
                    theme: {
                        color: '#1cbbb4',
                    },
                    // showCount: 1,
                    name:'province',
                    data: res.data.province
                })
                //经营性质
                xmSelect.render({
                    el: '#xm-store_type', 
                    filterable: true,
                    toolbar: {show: true},
                    theme: {
                        color: '#1cbbb4',
                    },
                    // showCount: 1,
                    name:'store_type',
                    data: res.data.store_type
                })
                //商品负责人
                xmSelect.render({
                    el: '#xm-goods_manager', 
                    filterable: true,
                    toolbar: {show: true},
                    theme: {
                        color: '#1cbbb4',
                    },
                    // showCount: 1,
                    name:'goods_manager',
                    data: res.data.goods_manager
                })
                //店铺名称
                xmSelect.render({
                    el: '#xm-store_name', 
                    filterable: true,
                    toolbar: {show: true},
                    theme: {
                        color: '#1cbbb4',
                    },
                    // showCount: 1,
                    name:'store_name',
                    data: res.data.store_name
                })


            }, 'json')
        }

        //监听保存
        form.on('submit(mapBtn)', function (data) {
            table.reload('table', {
                where: data.field
                , method: 'post'
                , url: url1
                , loading: true
                , page: true
                , limit: data.field.limit
            })

            return false; 
        });


        function startTable() {
            table.render({
                elem: '#table'
                ,url: url1
                , loading: true
                , method: 'post'
                , toolbar: '#toolbar1'
                , page: true
                , limit: 1000
                , limits: [500, 1000, 5000, 10000, 20000]
                , height: 790
                , cellMinWidth: 60 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
                , cols: [
                    [
                    //  { field: 'area_range', title: '标准划分', align: 'center', rowspan: 4,fixed:'left'}
                      { field: 'province', title: '省份', align: 'center', rowspan: 4,fixed:'left', width: 35}
                     , { field: 'store_type', title: '经营性质', align: 'center', rowspan: 4,fixed:'left', width: 55}
                     , { field: 'goods_manager', title: '商品负责人', align: 'center', rowspan: 4,fixed:'left'}
                     , { field: 'store_name', title: '店铺名称', align: 'center', rowspan: 4,fixed:'left'}
                     , { field: 'start_date', title: '开业日期', align: 'center', rowspan: 4,fixed:'left', width: 70}
                     , { field: 'store_level', title: '等级', align: 'center', rowspan: 4,fixed:'left', width: 30}
                     , { field: 'store_square', title: '面积', align: 'center', rowspan: 4,fixed:'left', width: 30}
                     , { field: 'five_item_num', title: '窗数', align: 'center', rowspan: 4,fixed:'left', width: 30}
                     , { field: 'total_require', title: '需求', align: 'center', rowspan: 4,fixed:'left', width: 30}
                    , { title: '近一周零售占比%', colspan: 21, align: 'center' } 
                    , { title: '预计在途SKC数（含在途及已配未发）', colspan: 20, align: 'center' } 
                    , { title: '预计窗数', colspan: 17, align: 'center' } 
                    , { title: '溢出提醒', colspan: 4, align: 'center' } 
                    ],

                    //二级表头
                    [
                     { title: '内搭', colspan: 14, align: 'center' } 
                    , { title: '外套', colspan: 7, align: 'center' } 

                    ,{ title: '内搭', colspan: 14, align: 'center' } 
                    , { title: '外套', colspan: 6, align: 'center' } 

                    ,{ title: '内搭', colspan: 11, align: 'center' } 
                    , { title: '外套', colspan: 6, align: 'center' } 

                    , { title: '内搭', colspan: 4, align: 'center' } 
                    ],

                    //三级表头
                    [
                    { title: '短T', colspan: 3, align: 'center' } 
                     , { title: '休闲短衬', field: 'week_sales_xxdc', rowspan: 2, align: 'center' } 
                     , { title: '正统短衬', field: 'week_sales_ztdc', rowspan: 2, align: 'center' } 
                     , { title: '外套', colspan: 2, align: 'center' } 
                     , { title: '短袖小计', field: 'week_sales_dxxj', rowspan: 2, align: 'center' } 
                     , { title: '长T', field: 'week_sales_ct', rowspan: 2, align: 'center' } 
                     , { title: '正统长衬', field: 'week_sales_ztcc', rowspan: 2, align: 'center' } 
                     , { title: '休闲长衬', field: 'week_sales_xxcc', rowspan: 2, align: 'center' } 
                     , { title: '针织衫', field: 'week_sales_zzs', rowspan: 2, align: 'center' } 
                     , { title: '卫衣', field: 'week_sales_wy', rowspan: 2, align: 'center' } 
                     , { title: '长袖小计', field: 'week_sales_cxxj', rowspan: 2, align: 'center' } 
                     , { title: '单西', field: 'week_sales_dx', rowspan: 2, align: 'center' } 
                     , { title: '夹克', field: 'week_sales_wtjk', rowspan: 2, align: 'center' } 
                     , { title: '牛仔衣', field: 'week_sales_nzy', rowspan: 2, align: 'center' } 
                     , { title: '皮衣', field: 'week_sales_py', rowspan: 2, align: 'center' } 
                     , { title: '套西裤', field: 'week_sales_txk', rowspan: 2, align: 'center' } 
                     , { title: '套西', field: 'week_sales_tx', rowspan: 2, align: 'center' } 
                     , { title: '外套小计', field: 'week_sales_wtxj', rowspan: 2, align: 'center' } 

                     , { title: '短T', colspan: 3, align: 'center' } 
                     , { title: '休闲短衬', field: 'skc_xxdc', rowspan: 2, align: 'center' } 
                     , { title: '正统短衬', field: 'skc_ztdc', rowspan: 2, align: 'center' } 
                     , { title: '外套', colspan: 2, align: 'center' } 
                     , { title: '短袖小计', field: 'skc_dxxj', rowspan: 2, align: 'center' } 
                     , { title: '长T', field: 'skc_ct', rowspan: 2, align: 'center' } 
                     , { title: '正统长衬', field: 'skc_ztcc', rowspan: 2, align: 'center' } 
                     , { title: '休闲长衬', field: 'skc_xxcc', rowspan: 2, align: 'center' } 
                     , { title: '针织衫', field: 'skc_zzs', rowspan: 2, align: 'center' } 
                     , { title: '卫衣', field: 'skc_wy', rowspan: 2, align: 'center' } 
                     , { title: '长袖小计', field: 'skc_cxxj', rowspan: 2, align: 'center' } 
                     , { title: '单西', field: 'skc_dx', rowspan: 2, align: 'center' } 
                     , { title: '夹克', field: 'skc_wtjk', rowspan: 2, align: 'center' } 
                     , { title: '牛仔衣', field: 'skc_nzy', rowspan: 2, align: 'center' } 
                     , { title: '皮衣', field: 'skc_py', rowspan: 2, align: 'center' } 
                     , { title: '套西', field: 'skc_tx', rowspan: 2, align: 'center' } 
                     , { title: '外套小计', field: 'skc_wtxj', rowspan: 2, align: 'center' } 

                     , { title: '短T', colspan: 2, align: 'center' } 
                     , { title: '休闲短衬', field: 'win_num_xxdc', rowspan: 2, align: 'center' } 
                     , { title: '正统短衬', field: 'win_num_ztdc', rowspan: 2, align: 'center' } 
                     , { title: '短袖小计', field: 'win_num_dxxj', rowspan: 2, align: 'center' } 
                     , { title: '长T', field: 'win_num_ct', rowspan: 2, align: 'center' } 
                     , { title: '正统长衬', field: 'win_num_ztcc', rowspan: 2, align: 'center' } 
                     , { title: '休闲长衬', field: 'win_num_xxcc', rowspan: 2, align: 'center' } 
                     , { title: '针织衫', field: 'win_num_zzs', rowspan: 2, align: 'center' } 
                     , { title: '卫衣', field: 'win_num_wy', rowspan: 2, align: 'center' } 
                     , { title: '长袖小计', field: 'win_num_cxxj', rowspan: 2, align: 'center' } 
                     , { title: '单西', field: 'win_num_dx', rowspan: 2, align: 'center' } 
                     , { title: '夹克', field: 'win_num_wtjk', rowspan: 2, align: 'center' } 
                     , { title: '牛仔衣', field: 'win_num_nzy', rowspan: 2, align: 'center' } 
                     , { title: '皮衣', field: 'win_num_py', rowspan: 2, align: 'center' } 
                     , { title: '套西', field: 'win_num_tx', rowspan: 2, align: 'center' } 
                     , { title: '外套小计', field: 'win_num_wtxj', rowspan: 2, align: 'center' } 

                     , { title: '短T', colspan: 2, align: 'center' } 
                     , { title: '休闲短衬', field: 'overflow_xxdc', rowspan: 2, align: 'center' } 
                     , { title: '短袖小计', field: 'overflow_dxxj', rowspan: 2, align: 'center' } 
                    ],

                    //四级表头
                    [ 
                    { field: 'week_sales_fl', title: '翻领', align: 'center'}
                    , { field: 'week_sales_yl', title: '圆领', align: 'center'}
                    , { field: 'week_sales_qt', title: '其他', align: 'center'}
                    , { field: 'week_sales_jk', title: '夹克', align: 'center'}
                    , { field: 'week_sales_tz', title: '套装', align: 'center'}

                    , { field: 'skc_fl', title: '翻领', align: 'center'}
                    , { field: 'skc_yl', title: '圆领', align: 'center'}
                    , { field: 'skc_qt', title: '其他', align: 'center'}
                    , { field: 'skc_jk', title: '夹克', align: 'center'}
                    , { field: 'skc_tz', title: '套装', align: 'center'}

                    , { field: 'win_num_fl', title: '翻领', align: 'center'}
                    , { field: 'win_num_yl', title: '圆领', align: 'center'}

                    , { field: 'overflow_fl', title: '翻领', align: 'center'}
                    , { field: 'overflow_yl', title: '圆领', align: 'center'}
                    ]
                ]
                ,done: function (res, curr, count) {
                    //$('.dateStr').text(res.create_time);

                    $('.zhouxiao').click(function() {
                        $('.layui-table-main').animate({'scrollLeft': 0}, 400);
                    });
                    $('.yujiskc').click(function() {
                        $('.layui-table-main').animate({'scrollLeft': 1200}, 400);
                    });
                    $('.yujiwin').click(function() {
                        $('.layui-table-main').animate({'scrollLeft': 2300}, 400);
                    });
                    $('.overflow').click(function() {
                        $('.layui-table-main').animate({'scrollLeft': 3000}, 400);
                    });


                    //表格颜色处理
                    // $('th').css({
                    //     'background-color': '#009688', 'color': '#fff','font-weight':'bold'
                    // });
                    //周销
                    $('th[data-key="1-0-9"]').css({
                        'background-color': 'rgb(70 133 210)', 'color': '#000', 'font-weight':'bold'
                    });
                    $('th[data-key="1-1-0"]').css({
                        'background-color': 'rgb(140 180 226)', 'color': '#000', 'font-weight':'bold'
                    });
                    $('th[data-key="1-1-1"]').css({
                        'background-color': 'rgb(184 204 228)', 'color': '#000', 'font-weight':'bold'
                    });
                    //预计在途skc
                    $('th[data-key="1-0-10"]').css({
                        'background-color': 'rgb(110 136 56)', 'color': '#000', 'font-weight':'bold'
                    });
                    $('th[data-key="1-1-2"]').css({
                        'background-color': 'rgb(110 170 46)', 'color': '#000', 'font-weight':'bold'
                    });
                    $('th[data-key="1-1-3"]').css({
                        'background-color': 'rgb(196 215 155)', 'color': '#000', 'font-weight':'bold'
                    });

                    //预计窗数
                    $('th[data-key="1-0-11"]').css({
                        'background-color': 'rgb(148 135 84)', 'color': '#000', 'font-weight':'bold'
                    });
                    $('th[data-key="1-1-4"]').css({
                        'background-color': 'rgb(180 167 122)', 'color': '#000', 'font-weight':'bold'
                    });
                    $('th[data-key="1-1-5"]').css({
                        'background-color': 'rgb(221 217 196)', 'color': '#000', 'font-weight':'bold'
                    });

                    //溢出提醒
                    $('th[data-key="1-0-12"]').css({
                        'background-color': 'rgb(225 225 0)', 'color': '#000', 'font-weight':'bold'
                    });
                    $('th[data-key="1-1-6"]').css({
                        'background-color': 'rgb(225 225 0)', 'color': '#000', 'font-weight':'bold'
                    });
                }
            });
        }
    });

</script>