<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>问题汇总表</title>
    <link rel="stylesheet" href="__STATIC__/ok/css/oksub.css">
    <link rel="stylesheet" href="__STATIC__/admin/css/flex.css">
    <script type="text/javascript" src="__STATIC__/ok/js/xm-select.js"></script>
    <style>
        body {
            overflow: hidden;
        }        
        .layui-table-cell {
            font-size: 12px;
            padding: 0 5px;
            height: auto;
            /*text-align: left;*/
        }

        .ok-form {
            margin-top: 5px;
        }

        .layui-btn+.layui-btn {
            margin-left: 3px;
        }

        .layui-form-item {
            margin-bottom: 0px;
            height: 30px;
        }

        .layui-input,
        .layui-select,
        .layui-textarea {
            height: 32px;
        }

        .layui-form-pane .layui-form-label {
            height: 32px;
            line-height: 15px;
        }

        .layui-form-select dl dd,
        .layui-form-select dl dt {
            line-height: 32px;
        }

        .layui-form-select dl {
            padding: 0px 0;
        }

        .layui-table th {
            font-weight: bolder;
        }

        .layui-form-pane .layui-form-label {
            text-align: right;
        }

        .layui-laypage .layui-laypage-curr .layui-laypage-em {
            background-color: #ffcc00;
            color: #666
        }

        .layui-colorpicker {
            width: 30px;
            height: 10px;
            line-height: 30px;
            padding: 0px;
        }
        

        .layui-table-cell{
            height:auto;
            overflow:visible;
            text-overflow:inherit;
        }
        /* .layui-unselect .layui-form-select {
            width: 80px !important;
        }  */
        .layui-col-md1 {
            width: 11.333% !important;
        }
        .layui-form-label {
            width: 130px !important;
        }

        .layui-input-inline {
            width: 40px;
        }
        .cima {
            height:18px; 
            line-height:18px;
        }
        .weather_div {
            height:28px;
        }
        .cima_1 {
            height:5px; 
            width:10px;
        }
        .cima_2 {
            line-height:5px;
        }
        .cima_manzu {
            /* height:5px; 
            width:10px; */
            line-height:5px
        }
        .autumn{
            color: #afaf00;
        }
        .winter{
            color: #24d3f2;
        }
        .hot {
            color: red;
        }
        .cool {
            color:#0879bb;
        }
        /* th[data-field="7"][data-key="1-0-7"] {
            background-color: #2e9574 !important;
            color:#ffffff;
        }
        th[data-field="温度"][data-key="1-1-11"] {
            background-color: #2e9574 !important;
            color:#ffffff;
        }
        th[data-field="8"][data-key="1-0-8"] {
            background-color: #b9b9b9 !important;
            color:#ffffff;
        }
        th[data-field="9"][data-key="1-0-9"] {
            background-color: #dedede !important;
        }
        th[data-field="季节"][data-key="1-1-23"] {
            background-color: #c5aa2a !important;
            color:#ffffff;
        }
        th[data-field="识别规则"][data-key="1-1-24"] {
            background-color: #c5aa2a !important;
            color:#ffffff;
        }
        th[data-field="识别天数"][data-key="1-1-25"] {
            background-color: #c5aa2a !important;
            color:#ffffff;
        }
        th[data-field="季节SKC数"][data-key="1-1-26"] {
            background-color: #c5aa2a !important;
            color:#ffffff;
        }

        th[data-field="提醒"][data-key="1-1-27"] {
            background-color: #ff3c00 !important;
            color:#ffffff;
        }
        th[data-field="10"][data-key="1-0-10"],
        th[data-field="春季SKC基本_内搭"][data-key="1-1-29"],
        th[data-field="春季SKC基本_外套"][data-key="1-1-30"] {
            background-color: #5a9afa !important;
            color:#ffffff;
        }
        
        th[data-field="11"][data-key="1-0-11"],
        th[data-field="提醒"][data-key="1-1-20"]{
            background-color: #ff3c00 !important;
            color:#ffffff;
        }
        th[data-field="12"][data-key="1-0-12"] {
            background-color: #c5aa2a !important;
            color:#ffffff;
        }
        th[data-field="17"][data-key="1-1-17"],
        th[data-field="0"][data-key="1-2-0"],
        th[data-field="1"][data-key="1-2-1"],
        th[data-field="2"][data-key="1-2-2"] {
            background-color: #90bcff !important;
            color:#ffffff;
        }
        th[data-field="18"][data-key="1-1-18"],
        th[data-field="3"][data-key="1-2-3"],
        th[data-field="4"][data-key="1-2-4"],
        th[data-field="5"][data-key="1-2-5"] {
            background-color: #7db0fc !important;
            color:#ffffff;
        }
        th[data-field="19"][data-key="1-1-19"],
        th[data-field="6"][data-key="1-2-6"],
        th[data-field="7"][data-key="1-2-7"],
        th[data-field="8"][data-key="1-2-8"] {
            background-color: #599afb !important;
            color:#ffffff;
        } */
    </style>
</head>

<body class="" style="background-color: #ffffff;">
    <div class="layui-tab-item layui-show">
        <div id="map" class="layui-col-md12 layui-col-space8" style="background-color: #ffffff;">
            <form class="layui-form layui-form-pane ok-form layui-col-space8">
                <div class="flex row end between">
                    <div class="flex col between al-start" style="width:95%; height: 70px;">
                        <div class="layui-form-item">
                            <label class="layui-form-label" style="width: 120px !important; text-align: center;">月份</label>
                            <div class="layui-input-inline" style="width: 130px !important;">
                                <select id="mubiaoMonth" name="目标月份" lay-verify="required">
                                    <option value="2023-09">2023-09</option>
                                    <option value="2023-10">2023-10</option>
                                </select>
                            </div>
                            <label class="layui-form-label" style="width: 120px !important; text-align: center; overflow: visible;">商品专员</label>
                            <div class="layui-input-inline" style="width: 130px !important;">
                                <div id="xm-spzy" class="xm-select-demo"></div>
                            </div>
       
                            <label class="layui-form-label" style="width: 120px !important; text-align: center; overflow: visible;">省份</label>
                            <div class="layui-input-inline" style="width: 130px !important;">
                                <div id="xm-sf" class="xm-select-demo"></div>
                            </div>
                            <label class="layui-form-label" style="width: 120px !important; text-align: center; overflow: visible;">经营模式</label>
                            <div class="layui-input-inline" style="width: 130px !important;">
                                <div id="xm-jyms" class="xm-select-demo"></div>
                            </div>
                            <label class="layui-form-label" style="width: 120px !important; text-align: center; overflow: visible;">店铺名称</label>
                            <div class="layui-input-inline" style="width: 130px !important;">
                                <div id="xm-dpmc" class="xm-select-demo"></div>
                            </div>
                            <label class="layui-form-label" style="width: 120px !important; text-align: center; overflow: visible;">上新提醒</label>
                            <div class="layui-input-inline" style="width: 130px !important;">
                                <div id="xm-sxtx" class="xm-select-demo"></div>
                            </div>
                            <label class="layui-form-label" style="width: 120px !important; text-align: center; overflow: visible;">引流是否提醒</label>
                            <div class="layui-input-inline" style="width: 130px !important;">
                                <div id="xm-ylsftx" class="xm-select-demo"></div>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label" style="width: 120px !important; text-align: center; overflow: visible;">配饰是否提醒</label>
                            <div class="layui-input-inline" style="width: 130px !important;">
                                <div id="xm-pssftx" class="xm-select-demo"></div>
                            </div>

                            <label class="layui-form-label" style="width: 120px !important; text-align: center; overflow: visible;">大小码缺少提醒</label>
                            <div class="layui-input-inline" style="width: 130px !important;">
                                <div id="xm-dxmqstx" class="xm-select-demo"></div>
                            </div>

                            <label class="layui-form-label" style="width: 120px !important; text-align: center; overflow: visible;">售空SKC数</label>
                            <div class="layui-input-inline" style="width: 130px !important;">
                                <div id="xm-skskcs" class="xm-select-demo"></div>
                            </div>

                            <label class="layui-form-label" style="width: 120px !important; text-align: center; overflow: visible;">即将售空SKC数</label>
                            <div class="layui-input-inline" style="width: 130px !important;">
                                <div id="xm-jjskskcs" class="xm-select-demo"></div>
                            </div>

                            <label class="layui-form-label" style="width: 120px !important; text-align: center; overflow: visible;">不动销情况</label>
                            <div class="layui-input-inline" style="width: 130px !important;">
                                <div id="xm-bbxqk" class="xm-select-demo"></div>
                            </div>
                        </div>


                    </div>

                    


                    <div class="flex col between" style="width:5%; height:70px;">
                        <button lay-submit class="layui-btn layui-btn-sm" lay-filter="mapBtn"
                        style="background-image: -webkit-linear-gradient(left,#ffcc00,#ffcc00);letter-spacing:1px;color: #0051ff; line-height: 25px; float:right;">条件查询
                        </button>
                        <button lay-submit class="layui-btn layui-btn-sm" lay-filter="downloadBtn"
                        style="background-image: -webkit-linear-gradient(left,#ffffff,rgb(7, 199, 183));letter-spacing:1px;color: #0879bb; line-height: 25px; float:right; display:block;">数据导出
                        </button>
                    </div>
                </div>  
            </form>
        </div>
    </div>
    <div style="border: 0px solid red; float: left; width: 100%; margin-top: 10px;">
        <table class="layui-hide" id="table" lay-filter="table">
            <div style="text-align: center; color:#0051ff;">自动提醒汇总表 <a class="dateStr"></a></div>
        </table>
        <div id="page"></div>
    </div>
</body>

</html>
<script src="__STATIC__/ok/lib/layui/layui.js"></script>
<script type="text/javascript" src="__STATIC__/ok/js/watermark.js"></script>
<!-- 单店不动销 -->
<script type="text/html" id="toolbar1">
    <div class="layui-btn-container">
      <button class="layui-btn layui-btn-sm" lay-event="download">【导出】所有单店品类断码情况</button>
      <!-- <button class="layui-btn layui-btn-sm" lay-event="delete">删除</button>
      <button class="layui-btn layui-btn-sm" lay-event="update">编辑</button> -->
    </div>
</script>
<script>
    var viewCustomers = function (yc, goodsno) {
        window.localStorage.setItem('viewCustomer_yc', yc);
        window.localStorage.setItem('viewCustomer_gdno', goodsno);
    }
    watermark({ "watermark_txt": '南昌索歌服饰' });
    layui.use(['form', 'jquery', 'layer', 'table', 'laydate', 'laypage'], function () {
        let form = layui.form
            , $ = layui.$
            , layer = layui.layer
            , table = layui.table
            , laydate = layui.laydate
            , laypage = layui.laypage
            , mubiaoMonth = '{$mubiaoMonth}'
            , url1 = "{:url('admin/system.Summary/index')}" 
            , url_download_history_area = "{:url('admin/system.Daxiaoma/excel_weathertips')}" 
            , download_excel = "{:url('admin/system.Summary/excel_summary')}" 
            , url_getXmMapSelect = "{:url('admin/system.Summary/getXmMapSelect')}"

        initFn();
        startTable();

        $("#mubiaoMonth").val(mubiaoMonth);
        // $("#checkType").val("店铺库存skc");
        form.render();

        // 选择云仓
        // xmSelect.render({
        //     el: '#xm-yc', 
        //     filterable: true,
        //     toolbar: {show: true},
        //     name: '云仓',
        //     // showCount: 1,
        //     theme: {
        //         color: '#1cbbb4',
        //     },
        //     data: [
        //         {name: "南昌云仓", value: "南昌云仓", selected: ""},
        //         {name: "广州云仓", value: "广州云仓", selected: ""},
        //         {name: "武汉云仓", value: "武汉云仓", selected: ""},
        //         {name: "贵阳云仓", value: "贵阳云仓", selected: ""},
        //         {name: "长沙云仓", value: "长沙云仓", selected: ""},
        //     ]
        // })


        xmSelect.render({
            el: '#xm-spzy', 
            filterable: true,
            toolbar: {show: true},
            name: '商品专员',
            // showCount: 1,
            theme: {
                color: '#1cbbb4',
            },
            data: [
            ]
        })


        xmSelect.render({
            el: '#xm-sf', 
            filterable: true,
            toolbar: {show: true},
            name: '省份',
            // showCount: 1,
            theme: {
                color: '#1cbbb4',
            },
            data: [
            ]
        })

        xmSelect.render({
            el: '#xm-jyms', 
            filterable: true,
            toolbar: {show: true},
            name: '经营模式',
            // showCount: 1,
            theme: {
                color: '#1cbbb4',
            },
            data: [
                {name: "加盟", value: "加盟", selected: ""},
                {name: "直营", value: "直营", selected: ""},
            ]
        })

        xmSelect.render({
            el: '#xm-sxtx', 
            filterable: true,
            toolbar: {show: true},
            name: '上新提醒',
            // showCount: 1,
            theme: {
                color: '#1cbbb4',
            },
            data: [
                {name: "上秋", value: "上秋", selected: ""},
                {name: "上冬", value: "上冬", selected: ""},
                {name: "上秋冬", value: "上秋冬", selected: ""},
            ]
        })

        xmSelect.render({
            el: '#xm-ylsftx', 
            filterable: true,
            toolbar: {show: true},
            name: '引流是否提醒',
            // showCount: 1,
            theme: {
                color: '#1cbbb4',
            },
            data: [
                {name: "是", value: "是", selected: ""},
            ]
        })

        xmSelect.render({
            el: '#xm-pssftx', 
            filterable: true,
            toolbar: {show: true},
            name: '配饰是否提醒',
            // showCount: 1,
            theme: {
                color: '#1cbbb4',
            },
            data: [
                {name: "是", value: "是", selected: ""},
            ]
        })

        xmSelect.render({
            el: '#xm-dxmqstx', 
            filterable: true,
            toolbar: {show: true},
            name: '大小码缺少提醒',
            // showCount: 1,
            theme: {
                color: '#1cbbb4',
            },
            data: [
                {name: "缺", value: "缺", selected: ""},
            ]
        })

        xmSelect.render({
            el: '#xm-skskcs', 
            filterable: true,
            toolbar: {show: true},
            name: '售空SKC数',
            // showCount: 1,
            theme: {
                color: '#1cbbb4',
            },
            data: [
                {name: "大于0", value: "is not null", selected: ""},
            ]
        })

        xmSelect.render({
            el: '#xm-jjskskcs', 
            filterable: true,
            toolbar: {show: true},
            name: '即将售空SKC数',
            // showCount: 1,
            theme: {
                color: '#1cbbb4',
            },
            data: [
                {name: "大于0", value: "is not null", selected: ""},
            ]
        })

        xmSelect.render({
            el: '#xm-bbxqk', 
            filterable: true,
            toolbar: {show: true},
            name: '不动销情况',
            // showCount: 1,
            theme: {
                color: '#1cbbb4',
            },
            data: [
                {name: "有情况", value: "is not null", selected: ""},
            ]
        })

        // xmSelect.render({
        //     el: '#xm-tips', 
        //     filterable: true,
        //     toolbar: {show: true},
        //     name: '上柜提醒',
        //     // showCount: 1,
        //     theme: {
        //         color: '#e4362b',
        //     },
        //     data: [
        //         {name: "请上柜", value: "请上柜", selected: false},
        //         {name: "重点上柜", value: "重点上柜", selected: false},
        //     ]
        // })


        function initFn() {
            $.get(url_getXmMapSelect, {}, function(res) {
                xmSelect.render({
                    el: '#xm-spzy', 
                    filterable: true,
                    toolbar: {show: true},
                    theme: {
                        color: '#1cbbb4',
                    },
                    // showCount: 1,
                    name:'商品专员',
                    data: res.data.customer17
                })
                // 渲染所有省份
                xmSelect.render({
                    el: '#xm-sf', 
                    filterable: true,
                    toolbar: {show: true},
                    theme: {
                        color: '#1cbbb4',
                    },
                    // showCount: 1,
                    name:'省份',
                    data: res.data.province
                })
                // // 渲染所有店铺
                xmSelect.render({
                    el: '#xm-dpmc', 
                    filterable: true,
                    toolbar: {show: true},
                    theme: {
                        color: '#1cbbb4',
                    },
                    // showCount: 1,
                    name:'店铺名称',
                    data: res.data.customer
                })

            }, 'json')
        }

        //监听保存
        form.on('submit(mapBtn)', function (data) {
            table.reload('table', {
                where: data.field
                , method: 'post'
                , url: url1
                , loading: true
                , page: true
                , limit: data.field.limit
            })

            return false; 
        });

        form.on('submit(downloadBtn)', function (data) {
            $.post(download_excel, data.field, function(res) {
                location.href = download_excel + '?code=' + res.code
                alert('数据有点多，请耐心等待');
            })
            return false; 
        });

        // 监听事件
        $(document).on('click', '.viewBtn', function(data){
            var yc = window.localStorage.getItem('viewCustomer_yc');
            var gdno = window.localStorage.getItem('viewCustomer_gdno');
            layer.open({
                title: '可上门店铺明细'
                ,type: 2
                ,area: ['100%', '100%'] // 100%全屏
                ,content: keshang_url
            });
        });

        //触发事件
        table.on('toolbar(table)', function(obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'download':
                    location.href = url_download_history_area
                    alert('数据有点多，请耐心等待');
                break;
                case 'delete':
                layer.msg('删除');
                break;
                case 'update':
                layer.msg('编辑');
                break;
            };
        });

        function startTable() {
            var mapHeight = $('#map').height();
            // console.log(111);
            var height = document.documentElement.clientHeight - mapHeight - 10;
            table.render({
                elem: '#table'
                ,url: url1
                , loading: true
                , method: 'post'
                // , toolbar: '#toolbar1'
                , toolbar: false
                , page: true
                , limit: 1000
                , limits: [500, 1000, 5000, 10000, 20000]
                , height: height
                , cellMinWidth: 60 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
                , where: {}
                , cols: [
                    [
                        {title: `<div class="flex col around">
                                    <div class="cima"></div>
                                    <div class="cima">商品</div>
                                    <div class="cima">专员</div>
                                    <div class="cima"></div>
                                    </div>`, field: '商品专员',  fixed: 'left' ,align: 'center' , rowspan: 3, width:'45'}
                        
                        ,{ field: '省份', title: '省份', fixed: 'left' ,align: 'center' ,  rowspan: 3, width:'35'}
                        ,{ title: `<div class="flex col around">
                                    <div class="cima"></div>
                                    <div class="cima">经营</div>
                                    <div class="cima">模式</div>
                                    <div class="cima"></div>
                                    </div>`, field: `经营模式`,  fixed: 'left' ,align: 'center' ,  rowspan: 3, width:'35'}
                        ,{ title: `店铺名称`, field: '店铺名称', fixed: 'left' ,align: 'center' , rowspan: 3, width:'80'}
                        ,{ title: `开业日期`, field: '首单日期', fixed: 'left' ,align: 'center' , rowspan: 3, width:'70'}
                       

                        ,{ title: `业绩表现情况`, align: 'center', colspan: 7,rowspan: 1}
                        ,{ title: `近三天季节销售占比`, align: 'center', colspan: 6,rowspan: 1}
                        ,{ title: `<div class="flex col around">
                                    <div class="cima">上</div>
                                    <div class="cima">新</div>
                                    <div class="cima">提</div>
                                    <div class="cima">醒</div>
                                    </div>`, field:'上新提醒', align: 'center', colspan: 1,rowspan: 3}
                        ,{ title: `整体监控提醒`, align: 'center', colspan: 10,rowspan: 1}
                        ,{ title: `新品大类监控情况`, align: 'center', colspan: 21,rowspan: 1}
                    ],

                    [
                        // 挑战目标完成情况
                        { field: '本月目标', title: '本月目标' ,align: 'center' ,  rowspan: 2} 
                        ,{ field: '当前流水', title: '当前流水' ,align: 'center' ,  rowspan: 2} 
                        ,{ title: `<div class="flex col around">
                                    <div class="cima">目标</div>
                                    <div class="cima">达成率</div>
                                    </div>` ,field: '目标达成率', align: 'center' ,  rowspan: 2} 
                        ,{ field: '日均流水', title: '日均流水' ,align: 'center' ,  rowspan: 2} 
                        ,{ title: `<div class="flex col around">
                                    <div class="cima">剩余</div>
                                    <div class="cima">日均</div>
                                    <div class="cima">流水</div>
                                    </div>` ,field: '剩余日均流水' ,align: 'center' ,  rowspan: 2} 
                        ,{ field: '环比', title: '环比' ,align: 'center' ,  rowspan: 2, width:'50'} 
                        ,{ field: '同比', title: '同比' ,align: 'center' ,  rowspan: 2, width:'60'} 

                        // 近三天季节销售占比
                        ,{title: '上装' ,align: 'center' ,  rowspan: 1, colspan: 4} 
                        ,{ field: '下装占比', title: '下装' ,align: 'center' ,  rowspan: 2} 
                        ,{ field: '鞋履占比', title: '鞋履' ,align: 'center' , rowspan: 2} 

                        // 整体监控提醒
                        ,{ title: `<div class="flex col around">
                                    <div class="cima">引流</div>
                                    <div class="cima">是否</div>
                                    <div class="cima">提醒</div>
                                    </div>`, field:'引流是否提醒' ,align: 'center' ,  rowspan: 2} 
                        ,{ title: `<div class="flex col around">
                                    <div class="cima">配饰</div>
                                    <div class="cima">是否</div>
                                    <div class="cima">提醒</div>
                                    </div>`, field:"配饰是否提醒", align: 'center' , rowspan: 2} 
                        ,{ title: `<div class="flex col around">
                                    <div class="cima">大小码</div>
                                    <div class="cima">缺少</div>
                                    <div class="cima">提醒</div>
                                    </div>`,field:'大小码缺少提醒' ,align: 'center' , rowspan: 2} 
                        // ,{ title: `<div class="flex col around">
                        //             <div class="cima">云仓</div>
                        //             <div class="cima">TOP</div>
                        //             <div class="cima">SKC数</div>
                        //             </div>` ,align: 'center' , rowspan: 2} 
                        ,{title: '售空情况' ,align: 'center' , rowspan: 1, colspan: 2} 
                        ,{title: '不动销情况' ,align: 'center' , rowspan: 1, colspan: 2} 
                        ,{title: '断码率' ,align: 'center' , rowspan: 1, colspan: 2} 
                        ,{title: `<div class="flex col around">
                                    <div class="cima">单款</div>
                                    <div class="cima">超量</div>
                                    <div class="cima">SKC数</div>
                                    </div>`,field:'单款超量SKC数' ,align: 'center' , rowspan: 2} 
                        ,{title: '销售贡献比' ,align: 'center' , rowspan: 1, colspan: 4} 
                        ,{title: `<div class="flex col around">
                                    <div class="cima">特价</div>
                                    <div class="cima">占比</div>
                                    </div>`, field: '特价占比' ,align: 'center' , rowspan: 2, colspan: 1} 
                        ,{title: '周转' ,align: 'center' , rowspan: 1, colspan: 4} 
                        ,{title: '售空情况' ,align: 'center' , rowspan: 1, colspan: 4} 
                        ,{title: `<div class="flex col around">
                                    <div class="cima">不动销</div>
                                    <div class="cima">需调整</div>
                                    <div class="cima">SKC数</div>
                                    </div>` ,align: 'center' , rowspan: 2, colspan: 1, templet: 
                        function (data) {
                            return `<div class="weather_div flex col between">
                                    <div class="cima_1" style="height:5px; width:10px;"></div>   
                                    <div class="cima_2 hot" style="line-height:5px">${data['不动销需调整SKC_秋']?'秋：'+data['不动销需调整SKC_秋']:''}</div>
                                    <div class="cima_1" style="height:15px; width:10px;"></div> 
                                    <div class="cima2_2 cool" style="line-height:5px">${data['不动销需调整SKC_冬']?'冬：'+data['不动销需调整SKC_冬']:''}</div>
                                </div>`; 
                        }}
                        ,{title: '断码率情况' ,align: 'center' , rowspan: 1, colspan: 4} 
                    ],

                    [
                        { field:'上装春占比', title: '春' ,align: 'center' ,  rowspan: 1} 
                        ,{  field:'上装夏占比', title: '夏' ,align: 'center' ,  rowspan: 1} 
                        ,{  field:'上装秋占比', title: '秋' ,align: 'center' ,  rowspan: 1} 
                        ,{  field:'上装冬占比', title: '冬' ,align: 'center' ,  rowspan: 1}

                        ,{  title: `<div class="flex col around">
                                    <div class="cima">售空</div>
                                    <div class="cima">SKC数</div>
                                    </div>`, field:'售空SKC数',align: 'center' ,  rowspan: 1} 
                        ,{  title: `<div class="flex col around">
                                    <div class="cima">即将售空</div>
                                    <div class="cima">SKC数</div>
                                    </div>`,field:'即将售空SKC数',align: 'center' ,  rowspan: 1} 

                        ,{  title: `<div class="flex col around">
                                    <div class="cima">不动销</div>
                                    <div class="cima">SKC数</div>
                                    </div>`,field:'不动销SKC数', align: 'center' ,  rowspan: 1} 
                        ,{  title: `<div class="flex col around">
                                    <div class="cima">不动销</div>
                                    <div class="cima">占比</div>
                                    </div>`, field:'不动销占比', align: 'center' ,  rowspan: 1} 

                        ,{  title: '整体',field:'断码率整体齐码率', align: 'center' ,  rowspan: 1} 
                        ,{  title: 'TOP',field:'断码率TOP考核齐码率', align: 'center' ,  rowspan: 1}

                        // 销售贡献比
                        ,{title: '外套', field:'销售贡献比_外套' ,align: 'center' } 
                        ,{title: '内搭', field:'销售贡献比_内搭' ,align: 'center' } 
                        ,{title: '下装', field:'销售贡献比_下装' ,align: 'center' } 
                        ,{title: '鞋履' , field:'销售贡献比_鞋履',align: 'center' } 

                        // 周转
                        ,{title: '外套' ,field:'周转_外套', align: 'center' } 
                        ,{title: '内搭' ,field:'周转_内搭' ,align: 'center' } 
                        ,{title: '下装' ,field:'周转_下装' ,align: 'center' } 
                        ,{title: '鞋履' ,field:'周转_鞋履' ,align: 'center' } 

                        // 售空情况
                        ,{title: '外套' ,field:'售空_外套',align: 'center' } 
                        ,{title: '内搭' ,field:'售空_内搭',align: 'center' } 
                        ,{title: '下装' ,field:'售空_下装',align: 'center' } 
                        ,{title: '鞋履' ,field:'售空_鞋履',align: 'center' } 

                        // 断码率情况
                        ,{title: '外套' ,align: 'center', templet: 
                        function (data) {
                            return `<div class="weather_div flex col between">
                                    <div class="cima_1" style="height:5px; width:10px;"></div>   
                                    <div class="cima_2 hot" style="line-height:5px">${data['断码率情况_秋_外套']?'秋：'+data['断码率情况_秋_外套']:''}</div>
                                    <div class="cima_1" style="height:15px; width:10px;"></div> 
                                    <div class="cima2_2 cool" style="line-height:5px">${data['断码率情况_冬_外套']?'冬：'+data['断码率情况_冬_外套']:''}</div>
                                </div>`; 
                        }}
                        ,{title: '内搭' ,align: 'center' , templet: 
                        function (data) {
                            return `<div class="weather_div flex col between">
                                    <div class="cima_1" style="height:5px; width:10px;"></div>   
                                    <div class="cima_2 hot" style="line-height:5px">${data['断码率情况_秋_内搭']?'秋：'+data['断码率情况_秋_内搭']:''}</div>
                                    <div class="cima_1" style="height:15px; width:10px;"></div> 
                                    <div class="cima2_2 cool" style="line-height:5px">${data['断码率情况_冬_内搭']?'冬：'+data['断码率情况_冬_内搭']:''}</div>
                                </div>`; 
                        }} 
                        ,{title: '下装' ,align: 'center' , templet: 
                        function (data) {
                            return `<div class="weather_div flex col between">
                                    <div class="cima_1" style="height:5px; width:10px;"></div>   
                                    <div class="cima_2 hot" style="line-height:5px">${data['断码率情况_秋_下装']?'秋：'+data['断码率情况_秋_下装']:''}</div>
                                    <div class="cima_1" style="height:15px; width:10px;"></div> 
                                    <div class="cima2_2 cool" style="line-height:5px">${data['断码率情况_冬_下装']?'冬：'+data['断码率情况_冬_下装']:''}</div>
                                </div>`; 
                        }}
                        ,{title: '鞋履' ,align: 'center' , templet: 
                        function (data) {
                            return `<div class="weather_div flex col between">
                                    <div class="cima_1" style="height:5px; width:10px;"></div>   
                                    <div class="cima_2 hot" style="line-height:5px">${data['断码率情况_秋_鞋履']?'秋：'+data['断码率情况_秋_鞋履']:''}</div>
                                    <div class="cima_1" style="height:15px; width:10px;"></div> 
                                    <div class="cima2_2 cool" style="line-height:5px">${data['断码率情况_冬_鞋履']?'冬：'+data['断码率情况_冬_鞋履']:''}</div>
                                </div>`; 
                        }}
                    ]
                            
                ]
                ,done: function (res, curr, count) {
                    $('.dateStr').text(res.create_time);
                }
            });
        }
    });

</script>