<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>断码率-单省单款断码情况</title>
    <link rel="stylesheet" href="__STATIC__/ok/css/oksub.css">
    <link rel="stylesheet" href="__STATIC__/admin/css/flex.css">
    <script type="text/javascript" src="__STATIC__/ok/js/xm-select.js"></script>
    <style>
        body {
            overflow: hidden;
        }        
        .layui-table-cell {
            font-size: 12px;
            padding: 0 5px;
            height: auto;
            /*text-align: left;*/
        }

        .ok-form {
            margin-top: 5px;
        }

        .layui-btn+.layui-btn {
            margin-left: 3px;
        }

        .layui-form-item {
            margin-bottom: 0px;
            height: 30px;
        }

        .layui-input,
        .layui-select,
        .layui-textarea {
            height: 32px;
        }

        .layui-form-pane .layui-form-label {
            height: 32px;
            line-height: 15px;
        }

        .layui-form-select dl dd,
        .layui-form-select dl dt {
            line-height: 32px;
        }

        .layui-form-select dl {
            padding: 0px 0;
        }

        .layui-table th {
            font-weight: bolder;
        }

        .layui-form-pane .layui-form-label {
            text-align: right;
        }

        .layui-laypage .layui-laypage-curr .layui-laypage-em {
            background-color: #ffcc00;
            color: #666
        }

        .layui-colorpicker {
            width: 30px;
            height: 10px;
            line-height: 30px;
            padding: 0px;
        }
        

        .layui-table-cell{
            height:auto;
            overflow:visible;
            text-overflow:inherit;
        }
        /* .layui-unselect .layui-form-select {
            width: 80px !important;
        }  */
        .layui-col-md1 {
            width: 11.333% !important;
        }
        .layui-form-label {
            width: 130px !important;
        }

        .layui-input-inline {
            width: 40px;
        }

        th[data-field="5"][data-key="1-0-5"],th[data-field="7"][data-key="1-0-7"],th[data-field="9"][data-key="1-0-9"],th[data-field="11"][data-key="1-0-11"],th[data-field="13"][data-key="1-0-13"] 
        ,th[data-field="15"][data-key="1-0-15"],th[data-field="17"][data-key="1-0-17"],th[data-field="19"][data-key="1-0-19"],th[data-field="21"][data-key="1-0-21"]
        ,th[data-field="23"][data-key="1-0-23"]{
            background-color: #2e9574 !important;
            color:#ffffff;
        }
        th[data-field="6"][data-key="1-0-6"],th[data-field="8"][data-key="1-0-8"],th[data-field="10"][data-key="1-0-10"],th[data-field="12"][data-key="1-0-12"],th[data-field="14"][data-key="1-0-14"] 
        ,th[data-field="16"][data-key="1-0-16"],th[data-field="18"][data-key="1-0-18"],th[data-field="20"][data-key="1-0-20"],th[data-field="22"][data-key="1-0-22"]
        ,th[data-field="24"][data-key="1-0-24"] {
            background-color: #c5aa2a !important;
            color:#ffffff;
        }
    </style>
</head>

<body class="" style="background-color: #ffffff;">
    <div class="layui-tab-item layui-show">
        <div class="layui-col-md12 layui-col-space8" style="background-color: #ffffff;">
            <form class="layui-form layui-form-pane ok-form layui-col-space8">
                <div class="flex row end between">
                    <div class="flex col between al-start" style="width:95%; height: 70px;">
                        <div class="layui-form-item">
                            <label class="layui-form-label" style="width: 110px !important; text-align: center; overflow: visible;">风格</label>
                            <div class="layui-input-inline" style="width: 130px !important;">
                                <div id="xm-fengge" class="xm-select-demo"></div>
                            </div>
                            <label class="layui-form-label" style="width: 110px !important; text-align: center; overflow: visible;">大类</label>
                            <div class="layui-input-inline" style="width: 130px !important;">
                                <div id="xm-dalei" class="xm-select-demo"></div>
                            </div>
                            <label class="layui-form-label" style="width: 110px !important; text-align: center; overflow: visible;">中类</label>
                            <div class="layui-input-inline" style="width: 130px !important;">
                                <div id="xm-zhonglei" class="xm-select-demo"></div>
                            </div>
                            <label class="layui-form-label" style="width: 110px !important; text-align: center; overflow: visible;">领型</label>
                            <div class="layui-input-inline" style="width: 130px !important;">
                                <div id="xm-lingxing" class="xm-select-demo"></div>
                            </div>
                            <label class="layui-form-label" style="width: 110px !important; text-align: center; overflow: visible;">货号</label>
                            <div class="layui-input-inline" style="width: 130px !important;">
                                <div id="xm-huohao" class="xm-select-demo"></div>
                            </div>
                        </div>

                    </div>
                    <div class="flex col between" style="width:5%; height:70px;">
                        <button lay-submit class="layui-btn layui-btn-sm" lay-filter="mapBtn"
                        style="background-image: -webkit-linear-gradient(left,#ffcc00,#ffcc00);letter-spacing:1px;color: #0051ff; line-height: 25px; float:right;">查询结果
                        </button>
                        <button lay-submit class="layui-btn layui-btn-sm" lay-filter="downloadBtn"
                        style="background-image: -webkit-linear-gradient(left,#ffffff,rgb(7, 199, 183));letter-spacing:1px;color: #0879bb; line-height: 25px; float:right;">导出全部
                        </button>
                    </div>
                </div>  
            </form>
        </div>
    </div>
    <div style="border: 0px solid red; float: left; width: 100%; margin-top: 10px;">
        <table class="layui-hide" id="table" lay-filter="table">
            <div style="text-align: center; color:#0051ff;"><a style="color:red;">（秋季）</a>单省单款断码情况 <a class="dateStr"></a></div>
        </table>
        <div id="page"></div>
    </div>
</body>

</html>
<script src="__STATIC__/ok/lib/layui/layui.js"></script>
<script type="text/javascript" src="__STATIC__/ok/js/watermark.js"></script>
<!-- 单店不动销 -->
<script type="text/html" id="toolbar1">
    <div class="layui-btn-container">
      <button class="layui-btn layui-btn-sm" lay-event="download">【导出】所有单省单款断码情况</button>
      <!-- <button class="layui-btn layui-btn-sm" lay-event="delete">删除</button>
      <button class="layui-btn layui-btn-sm" lay-event="update">编辑</button> -->
    </div>
</script>
<script>
    watermark({ "watermark_txt": '南昌索歌服饰' });
    layui.use(['form', 'jquery', 'layer', 'table', 'laydate', 'laypage'], function () {
        let form = layui.form
            , $ = layui.$
            , layer = layui.layer
            , table = layui.table
            , laydate = layui.laydate
            , laypage = layui.laypage
            , url1 = "{:url('admin/system.Duanmalv/table4')}" 
            , url_download_history_area = "{:url('admin/system.Duanmalv_excel/excel_table4')}" 
            , url_getXmMapSelect = "{:url('admin/system.Duanmalv/getXmMapSelect')}"

        initFn();
        startTable();

        // 选择风格
        xmSelect.render({
            el: '#xm-fengge', 
            filterable: true,
            toolbar: {show: true},
            name: '风格',
            // showCount: 1,
            theme: {
                color: '#1cbbb4',
            },
            data: [
                {name: "基本款", value: "基本款", selected: ""},
                {name: "引流款", value: "引流款", selected: ""},
            ]
        })

        // 选择领型
        xmSelect.render({
            el: '#xm-lingxing', 
            filterable: true,
            name: '领型',
            // showCount: 1,
            data: []
        })

        // 选择货号
        xmSelect.render({
            el: '#xm-huohao', 
            filterable: true,
            name: '货号',
            // showCount: 1,
            data: []
        })

        xmSelect.render({
            el: '#xm-dalei', 
            filterable: true,
            toolbar: {show: true},
            name: '大类',
            // showCount: 1,
            theme: {
                color: '#1cbbb4',
            },
            data: [
                {name: "外套", value: "外套", selected: ""},
                {name: "内搭", value: "内搭", selected: ""},
                {name: "下装", value: "下装", selected: ""},
                {name: "鞋履", value: "鞋履", selected: ""},
            ]
        })

        // 日期选择器
        laydate.render({
            elem: '#shangshiriqi'
        });

        //触发事件
        table.on('toolbar(table)', function(obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'download':
                    location.href = url_download_history_area
                    alert('数据有点多，请耐心等待');
                break;
                case 'delete':
                layer.msg('删除');
                break;
                case 'update':
                layer.msg('编辑');
                break;
            };
        });

        function initFn() {
            $.get(url_getXmMapSelect, {}, function(res) {

                // 渲染所有中类
                xmSelect.render({
                    el: '#xm-zhonglei', 
                    filterable: true,
                    toolbar: {show: true},
                    theme: {
                        color: '#1cbbb4',
                    },
                    // showCount: 1,
                    name:'中类',
                    data: res.data.zhonglei
                })
                // 渲染所有领型
                xmSelect.render({
                    el: '#xm-lingxing', 
                    filterable: true,
                    toolbar: {show: true},
                    theme: {
                        color: '#1cbbb4',
                    },
                    // showCount: 1,
                    name:'领型',
                    data: res.data.lingxing
                })
                // 渲染所有货号
                xmSelect.render({
                    el: '#xm-huohao', 
                    filterable: true,
                    toolbar: {show: true},
                    theme: {
                        color: '#1cbbb4',
                    },
                    // showCount: 1,
                    name:'货号',
                    data: res.data.huohao
                })
            }, 'json')
        }

        //监听保存
        form.on('submit(mapBtn)', function (data) {
            table.reload('table', {
                where: data.field
                , method: 'post'
                , url: url1
                , loading: true
                , page: true
                , limit: data.field.limit
            })

            return false; 
        });

        form.on('submit(downloadBtn)', function (data) {
            $.post(url_download_history_area, data.field, function(res) {
                // table.exportFile('#table', res, 'xls');
                // console.log(223) 
                if (res.status == 1) {
                    if (res.count <= 100000) {
                        location.href = url_download_history_area + '?code=' + res.code
                        alert('数据有点多，请耐心等待');
                    } else {
                        alert('数据量太大了：' + res.count + '，增加点筛选条件吧！');
                    }
                }
            })

            return false; 
        });

        function startTable() {
            table.render({
                elem: '#table'
                ,url: url1
                , loading: true
                , method: 'post'
                // , toolbar: '#toolbar1'
                , toolbar: false
                , page: true
                , limit: 1000
                , limits: [500, 1000, 5000, 10000, 20000]
                , height: 730
                , where: {'商品负责人': '{$admin}'}
                , cellMinWidth: 60 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
                , cols: [[
                     { field: '风格', title: '风格', align: 'center', rowspan: 2, fixed:'left'}
                    , { field: '大类', title: '大类', align: 'center', rowspan: 2, fixed:'left'}
                    , { field: '中类', title: '中类', align: 'center', rowspan: 2, fixed:'left'}
                    , { field: '领型', title: '领型', align: 'center', rowspan: 2, fixed:'left'}
                    , { field: '货号', title: '货号', align: 'center', rowspan: 2, width: 80, fixed:'left'} 

                    , { title: '江西省', colspan: 4, align: 'center' } 
                    , { title: '广东省', colspan: 4, align: 'center' } 
                    , { title: '广西壮族自治区', colspan: 4, align: 'center' } 
                    , { title: '湖南省', colspan: 4, align: 'center' } 
                    , { title: '湖北省', colspan: 4, align: 'center' } 
                    , { title: '贵州省', colspan: 4, align: 'center' } 

                    , { title: '云南省', colspan: 4, align: 'center' } 
                    , { title: '四川省', colspan: 4, align: 'center' } 
                    , { title: '天津', colspan: 4, align: 'center' } 
                    , { title: '宁夏回族自治区', colspan: 4, align: 'center' } 
                    , { title: '安徽省', colspan: 4, align: 'center' } 
                    , { title: '新疆维吾尔自治区', colspan: 4, align: 'center' } 
                    , { title: '河南省', colspan: 4, align: 'center' } 
                    , { title: '浙江省', colspan: 4, align: 'center' } 
                    , { title: '海南省', colspan: 4, align: 'center' } 
                    
                    , { title: '甘肃省', colspan: 4, align: 'center' } 
                    , { title: '福建省', colspan: 4, align: 'center' } 
                    , { title: '重庆', colspan: 4, align: 'center' } 
                    , { title: '陕西省', colspan: 4, align: 'center' } 
                    , { title: '青海省', colspan: 4, align: 'center' } 
                    ],
                    [ 
                    //江西 
                     { field: '上柜数-赣', title: '上柜数' , align: 'center'}
                    , { field: '断码家数-赣', title: '断码家数', align: 'center'}
                    , { field: '断码率-赣', title: '断码率' , align: 'center'}
                    , { field: '周转-赣', title: '周转' , align: 'center'}
                    // 广东
                    , { field: '上柜数-粤', title: '上柜数' , align: 'center'}
                    , { field: '断码家数-粤', title: '断码家数', align: 'center'}
                    , { field: '断码率-粤', title: '断码率' , align: 'center'}
                    , { field: '周转-粤', title: '周转' , align: 'center'}
                    // 广西
                    , { field: '上柜数-桂', title: '上柜数' , align: 'center'}
                    , { field: '断码家数-桂', title: '断码家数', align: 'center'}
                    , { field: '断码率-桂', title: '断码率' , align: 'center'}
                    , { field: '周转-桂', title: '周转' , align: 'center'}
                    // 海南
                    , { field: '上柜数-湘', title: '上柜数' , align: 'center'}
                    , { field: '断码家数-湘', title: '断码家数', align: 'center'}
                    , { field: '断码率-湘', title: '断码率' , align: 'center'}
                    , { field: '周转-湘', title: '周转' , align: 'center'}
                    // 湖北
                    , { field: '上柜数-鄂', title: '上柜数' , align: 'center'}
                    , { field: '断码家数-鄂', title: '断码家数', align: 'center'}
                    , { field: '断码率-鄂', title: '断码率' , align: 'center'}
                    , { field: '周转-鄂', title: '周转' , align: 'center'}
                    // 贵州
                    , { field: '上柜数-贵', title: '上柜数' , align: 'center'}
                    , { field: '断码家数-贵', title: '断码家数', align: 'center'}
                    , { field: '断码率-贵', title: '断码率' , align: 'center'}
                    , { field: '周转-贵', title: '周转' , align: 'center'}
                    // 云南
                    ,{ field: '上柜数-滇', title: '上柜数', align: 'center'}
                    , { field: '断码家数-滇', title: '断码家数', align: 'center'}
                    , { field: '断码率-滇', title: '断码率' , align: 'center'}
                    , { field: '周转-滇', title: '周转' , align: 'center'}
                    // 四川
                    , { field: '上柜数-蜀', title: '上柜数' , align: 'center'}
                    , { field: '断码家数-蜀', title: '断码家数', align: 'center'}
                    , { field: '断码率-蜀', title: '断码率' , align: 'center'}
                    , { field: '周转-蜀', title: '周转' , align: 'center'}
                    // 天津
                    , { field: '上柜数-津', title: '上柜数' , align: 'center'}
                    , { field: '断码家数-津', title: '断码家数', align: 'center'}
                    , { field: '断码率-津', title: '断码率' , align: 'center'}
                    , { field: '周转-津', title: '周转' , align: 'center'}
                    // 宁夏
                    , { field: '上柜数-宁', title: '上柜数' , align: 'center'}
                    , { field: '断码家数-宁', title: '断码家数', align: 'center'}
                    , { field: '断码率-宁', title: '断码率' , align: 'center'}
                    , { field: '周转-宁', title: '周转' , align: 'center'}
                    // 安徽
                    , { field: '上柜数-皖', title: '上柜数' , align: 'center'}
                    , { field: '断码家数-皖', title: '断码家数', align: 'center'}
                    , { field: '断码率-皖', title: '断码率' , align: 'center'}
                    , { field: '周转-皖', title: '周转' , align: 'center'}
                    // 新疆
                    , { field: '上柜数-新', title: '上柜数' , align: 'center'}
                    , { field: '断码家数-新', title: '断码家数', align: 'center'}
                    , { field: '断码率-新', title: '断码率' , align: 'center'}
                    , { field: '周转-新', title: '周转' , align: 'center'}
                    // 河南
                    , { field: '上柜数-豫', title: '上柜数' , align: 'center'}
                    , { field: '断码家数-豫', title: '断码家数', align: 'center'}
                    , { field: '断码率-豫', title: '断码率' , align: 'center'}
                    , { field: '周转-豫', title: '周转' , align: 'center'}
                    // 浙江 
                    , { field: '上柜数-浙', title: '上柜数' , align: 'center'}
                    , { field: '断码家数-浙', title: '断码家数', align: 'center'}
                    , { field: '断码率-浙', title: '断码率' , align: 'center'}
                    , { field: '周转-浙', title: '周转' , align: 'center'}
                    // 海南
                    , { field: '上柜数-琼', title: '上柜数' , align: 'center'}
                    , { field: '断码家数-琼', title: '断码家数', align: 'center'}
                    , { field: '断码率-琼', title: '断码率' , align: 'center'}
                    , { field: '周转-琼', title: '周转' , align: 'center'}
                    // 甘肃
                    , { field: '上柜数-甘', title: '上柜数' , align: 'center'}
                    , { field: '断码家数-甘', title: '断码家数', align: 'center'}
                    , { field: '断码率-甘', title: '断码率' , align: 'center'}
                    , { field: '周转-甘', title: '周转' , align: 'center'}
                    // 福建
                    , { field: '上柜数-闽', title: '上柜数' , align: 'center'}
                    , { field: '断码家数-闽', title: '断码家数', align: 'center'}
                    , { field: '断码率-闽', title: '断码率' , align: 'center'}
                    , { field: '周转-闽', title: '周转' , align: 'center'}
                    // 重庆
                    , { field: '上柜数-渝', title: '上柜数' , align: 'center'}
                    , { field: '断码家数-渝', title: '断码家数', align: 'center'}
                    , { field: '断码率-渝', title: '断码率' , align: 'center'}
                    , { field: '周转-渝', title: '周转' , align: 'center'}
                    // 陕西
                    , { field: '上柜数-陕', title: '上柜数' , align: 'center'}
                    , { field: '断码家数-陕', title: '断码家数', align: 'center'}
                    , { field: '断码率-陕', title: '断码率' , align: 'center'}
                    , { field: '周转-陕', title: '周转' , align: 'center'}
                    // 青海
                    , { field: '上柜数-青', title: '上柜数' , align: 'center'}
                    , { field: '断码家数-青', title: '断码家数', align: 'center'}
                    , { field: '断码率-青', title: '断码率' , align: 'center'}
                    , { field: '周转-青', title: '周转' , align: 'center'}]
                ]
                ,done: function (res, curr, count) {
                    $('.dateStr').text(res.create_time);
                }
            });
        }
    });

</script>