<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="__STATIC__/admin/css/flex.css">
    <link rel="stylesheet" href="__STATIC__/ok/css/oksub.css">
    <style>
        .main {
            height: 100vh;
        }
        .center {
            text-align: center;;
        }
    </style>
</head>
<body>
    <div class="main flex row">
        <!-- <div class="test2" style="width:1200px; height: 800px;">
            <div style="height: 30px; background-color: #5994ed; text-align: center; line-height: 30px; font-weight: bold;">自动化表单主要规则</div>
            <div class="flex row between" style="height: 30px; background-color: #5994ed; ">
                <div class="center test1" style="height: 30px; line-height: 30px; width: 200px;">名称</div>
                <div class="center test2" style="height: 30px; line-height: 30px;  width: 600px; background: #f4b084;">说明</div>
                <div class="center" style="height: 30px; line-height: 30px; width: 400px; background: #ffff00;">目的</div>
            </div>
            <div class="flex row between" style="height: 30px; background-color: #5994ed; ">
                <div class="center flex row test1" style="height: 30px; line-height: 30px; width: 200px;">
                    <div style="height: 300px;"></div>    
                    <div style="height: 300px;"></div>    
                </div>
                <div class="center test2" style="height: 30px; line-height: 30px;  width: 600px; background: #f4b084;"></div>
                <div class="center" style="height: 30px; line-height: 30px; width: 400px; background: #ffff00;"></div>
            </div>
        </div> -->
        <img src="__STATIC__/admin/images/tips.jpg" alt="" style="width: 1000px;">
    </div>
</body>
</html>